Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Added endpoint for resending Origo invitation mail
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/InviteUsers.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoExceptionMessages.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/Filters/ErrorExceptionFilter.cs
  src/Services/Customer/Customer.API/Mappings/ExceptionMessagesProfile.cs
  src/Services/Customer/Customer.API/ViewModels/ExceptionMessages.cs
  src/Services/Customer/Customer.API/WriteModels/ResendInvitation.cs
  src/Services/Customer/CustomerServices/Exceptions/UserNotFoundException.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/ExceptionMessagesDTO.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Fixed the return data from the API
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/ServiceProviderController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/ObscuredApiCredential.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
Due: none

Completed API gateway implementation
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceBackofficeController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/CustomerServiceProviderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewApiCredential.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Response/CustomerServiceProvider.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Response/ObscuredApiCredential.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added db migrations
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220829083104_AddedApiCredentials.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220829083104_AddedApiCredentials.cs
Due: none

Renamed property variable
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
Due: none

Preparation for returning API credentials through the API
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/CustomerServiceProviderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/ObscuredApiCredentialProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/ObscuredApiCredential.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ApiCredential.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IDbSetEntity.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/CustomerServiceProviderDto.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrder.UnitTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/ApiCredentialProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/CustomerServiceProviderProfileTests.cs
Due: none

Updated the implementation to allow for nullable service-type API credentials (the default / fallback)
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceBackofficeController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewApiCredential.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Response/ObscuredApiCredential.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/NewApiCredential.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/ObscuredApiCredential.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ApiCredentialConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220829170602_MadeApiCredentialsServiceTypeNullable.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220829170602_MadeApiCredentialsServiceTypeNullable.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ApiCredential.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ApiCredentialDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
Due: azure-pipelines-origoapigateway.yml

Added a product-dependency for "Recycle & Wipe"
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220830094359_AddedRecycleAndWipeDependency.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220830094359_AddedRecycleAndWipeDependency.cs
Due: azure-pipelines-productcatalog.yml

condition fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Manager return asset on behalf of employee
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ReturnDeviceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/ViewModels/ReturnDevice.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/ReturnDeviceDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Add the missing field "ContactPerson" in [BusinessSubscription]
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220830032124_ContactPerson.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220830032124_ContactPerson.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/BusinessSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/BusinessSubscriptionDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/BusinessSubscriptionResponse.cs
Due: none

Updated the invitation mail template
  src/Services/Customer/CustomerServices/Email/Models/InvitationMail.cs
  src/Services/Customer/CustomerServices/Resources/Customer.Designer.cs
  src/Services/Customer/CustomerServices/Resources/Customer.resx
Due: azure-pipelines-customers.yml

Formatting changes
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

User gets status notInvited when customer have "add to Okta"
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

buyout currency fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Added endpoint to complete onboarding.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Asset import changes
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetFromCsvFile.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport.csv
Due: azure-pipelines-assets.yml

Fixed user count not counting correct
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-customers.yml

Read user info in asset import validation
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetFromCsvFile.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetValidationResult.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport.csv
Due: azure-pipelines-assets.yml

Nuget updates
  Common.UnitTests/Common.UnitTests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Boilerplate.EntityFramework.UnitTest.csproj
  src/Boilerplate/Boilerplate.EntityFramework/Boilerplate.EntityFramework.csproj
  src/Core/Common.csproj
  src/Services/Asset/Asset.API/Asset.API.csproj
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/CustomerServices/CustomerServices.csproj
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.IntegrationTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/HardwareServiceOrder.API.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/HardwareServiceOrder.Conmodo.UnitTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrder.IntegrationTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrder.UnitTests.csproj
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/ProductCatalog/ProductCatalog.Common/ProductCatalog.Common.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.IntegrationTests/ProductCatalog.IntegrationTests.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.UnitTests/ProductCatalog.UnitTests.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagement.IntegrationTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Fix "transfer to private" - include data package
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Added a service-method for removing service-order addons
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

Added a missing XML documentation element
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
Due: none

Initial preparation for adding service-order-addons to a CustomerServiceProvder
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderServiceOrderAddonConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerServiceProviderServiceOrderAddon.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceOrderAddon.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
Due: none

Added DB migrations
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220902092508_AddedCustomerServiceProviderServiceOrderAddons.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220902092508_AddedCustomerServiceProviderServiceOrderAddons.cs
Due: none

Added additional unit-tests
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairNotificationControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HealthControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/OrganizationConfigurationControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/GlobalUsings.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Helper.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

Fixed a compile error that occurred due to a xunit version bump
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/Mappings/EventMapperTests.cs
Due: none

Added API gateway endpoints for adding and removing service-addons to a customer-service-provider
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceBackofficeController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Response/CustomerServiceProvider.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/CustomerServiceProviderDto.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-origoapigateway.yml

Merge Conflict fixed: Completed Update Order and new email templated for Recycle&Wipe
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/RemarketingNoPackaging.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/RemarketingPackaging.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/IAssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForRemarketing.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForSUR.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForRemarketingTests.cs
Due: none

Changed wrong logic to assigned user status
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

removed out commented code
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

XML updates
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/PendingBuyoutDeviceDTO.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Email/EmailService.cs
  src/Services/Asset/AssetServices/Email/Model/ManagerOnBehalfBuyoutNotification.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/ServiceModel/PendingBuyoutDeviceDTO.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/EmailServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

XML documentation and email template tweaks.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/PendingBuyoutDeviceDTO.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Email/EmailService.cs
  src/Services/Asset/AssetServices/Email/Model/ManagerOnBehalfBuyoutNotification.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Resources/Asset.Designer.cs
  src/Services/Asset/AssetServices/Resources/Asset.resx
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Email sendout when Manager do buyout on behalf of the user
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/PendingBuyoutDeviceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Email/EmailService.cs
  src/Services/Asset/AssetServices/Email/IEmailService.cs
  src/Services/Asset/AssetServices/Email/Model/ManagerOnBehalfBuyoutNotification.cs
  src/Services/Asset/AssetServices/Resources/Asset.Designer.cs
  src/Services/Asset/AssetServices/Resources/Asset.resx
  src/Services/Asset/AssetServices/ServiceModel/PendingBuyoutDeviceDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

placeholder value removed
  src/Services/Asset/AssetServices/ServiceModel/PendingBuyoutDeviceDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Asset import validation
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetFromCsvFile.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetValidationResult.cs
  src/Services/Asset/AssetServices/ServiceModel/ImportedAsset.cs
  src/Services/Asset/AssetServices/ServiceModel/ImportedUser.cs
  src/Services/Asset/AssetServices/ServiceModel/InvalidImportedAsset.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport.csv
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added endpoint for webook update customer info
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Attributes/ApiKeyAuthentication.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Authorization/AddCallerIdHeaderHandler.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/TechstepCoreWebhook.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/TechstepCoreWebhook/TechstepCoreCustomerUpdate.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/TechstepCoreWebhook/TechstepCoreData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/TechstepCoreWebhookConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Mappings/TechstepCoreCustomerUpdateProfile.cs
  src/Services/Customer/Customer.API/WriteModels/TechstepCoreCustomerUpdate.cs
  src/Services/Customer/Customer.API/WriteModels/TechstepCoreData.cs
  src/Services/Customer/CustomerServices/DomainEvents/CustomerAddedTechstepAccountOwnerDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/CustomerAddedTechstepCustomerIdDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationUpdateTechstepAccountOwner.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Migrations/20220905073322_Added_TechstepAttributes.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220905073322_Added_TechstepAttributes.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/TechstepCoreCustomerUpdateDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/TechstepCoreDataDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Changed column name and migration.
  src/Services/Customer/CustomerServices/DomainEvents/CustomerAddedAccountOwnerDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationUpdateAccountOwner.cs
  src/Services/Customer/CustomerServices/Migrations/20220906112830_Added_TechstepCoreAttributes.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220906112830_Added_TechstepCoreAttributes.cs
  src/Services/Customer/CustomerServices/Migrations/CustomerContextModelSnapshot.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Added the customer-facing API endpoints for service-order-addons
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/GlobalUsings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/Mappings/HardwareServiceOrder/CustomerServiceProviderProfileTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/Mappings/HardwareServiceOrder/ServiceOrderAddonProfileTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/Mappings/HardwareServiceOrder/ServiceProviderProfileTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceBackofficeController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/HardwareServiceOrder/CustomerServiceProviderProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/HardwareServiceOrder/ServiceOrderAddonProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/HardwareServiceOrder/ServiceProviderProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/CustomerPortalCustomerServiceProvider.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/CustomerPortalServiceOrderAddon.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/CustomerPortalServiceProvider.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/UserPortalCustomerServiceProvider.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/UserPortalServiceOrderAddon.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/ServiceProviderController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProvider.cs
Due: azure-pipelines-origoapigateway.yml

Added basic integration tests
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/ServiceProviderControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
