Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

removed address entity in new susbcription order and added mapping for dto
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/NewSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SimCardAddressConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/NewSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220318072237_NewSubscriptionOrder.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220318072237_NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SimCardAddress.cs
Due: none

added StandardPrivateProduct entity
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerStandardPrivateSubscriptionProductAddedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerStandardPrivateSubscriptionProductConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220318112628_CustomerStandardPrivateProduct.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220318112628_CustomerStandardPrivateProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerStandardPrivateSubscriptionProduct.cs
Due: none

template extension changed
  EmailTemplates/SubscriptionManagementServices/ActivateSIM.md
  EmailTemplates/SubscriptionManagementServices/CancelSubscription.md
  EmailTemplates/SubscriptionManagementServices/ChangeSubscription.md
  EmailTemplates/SubscriptionManagementServices/OrderSim.md
  EmailTemplates/SubscriptionManagementServices/TransferToBusiness.md
  EmailTemplates/SubscriptionManagementServices/TransferToPrivate.md
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoSubscriptionProduct.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/UpdateSubscriptionProduct.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Mappings/SubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/UpdatedSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
Due: none

changed CustomerStandatdPrivateSubscriptionProduct model
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerStandardPrivateSubscriptionProductConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220318123826_CustomerStandardPrivateProduct.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220318123826_CustomerStandardPrivateProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerStandardPrivateSubscriptionProduct.cs
Due: none

integration test added
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Made DeletedBy nullable as it shouldn't have a value before it's deleted.
  src/Core/Seedwork/Entity.cs
  src/Services/Asset/AssetServices/Migrations/20220318134547_made deletedBy nullable.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220318134547_made deletedBy nullable.cs
  src/Services/Customer/CustomerServices/Migrations/20220318134615_made deletedBy nullable.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220318134615_made deletedBy nullable.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220318134717_made deletedBy nullable.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220318134717_made deletedBy nullable.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Renamed "Input Models" to "API Models" as it contained both input and output models.
  src/Services/Customer/Customer.API/ApiModels/Address.cs
  src/Services/Customer/Customer.API/ApiModels/ContactPerson.cs
  src/Services/Customer/Customer.API/ApiModels/Customer.cs
  src/Services/Customer/Customer.API/ApiModels/DeleteFeatureFlag.cs
  src/Services/Customer/Customer.API/ApiModels/DeleteOrganization.cs
  src/Services/Customer/Customer.API/ApiModels/Department.cs
  src/Services/Customer/Customer.API/ApiModels/Location.cs
  src/Services/Customer/Customer.API/ApiModels/NewCustomer.cs
  src/Services/Customer/Customer.API/ApiModels/NewDepartment.cs
  src/Services/Customer/Customer.API/ApiModels/NewFeatureFlag.cs
  src/Services/Customer/Customer.API/ApiModels/NewLocation.cs
  src/Services/Customer/Customer.API/ApiModels/NewOrganization.cs
  src/Services/Customer/Customer.API/ApiModels/NewOrganizationPreferences.cs
  src/Services/Customer/Customer.API/ApiModels/NewPartner.cs
  src/Services/Customer/Customer.API/ApiModels/NewUser.cs
  src/Services/Customer/Customer.API/ApiModels/NewUserPermission.cs
  src/Services/Customer/Customer.API/ApiModels/Organization.cs
  src/Services/Customer/Customer.API/ApiModels/OrganizationPreferences.cs
  src/Services/Customer/Customer.API/ApiModels/Partner.cs
  src/Services/Customer/Customer.API/ApiModels/UpdateLocation.cs
  src/Services/Customer/Customer.API/ApiModels/UpdateOrganization.cs
  src/Services/Customer/Customer.API/ApiModels/UpdateOrganizationPreferences.cs
  src/Services/Customer/Customer.API/ApiModels/UpdateUser.cs
  src/Services/Customer/Customer.API/ApiModels/User.cs
  src/Services/Customer/Customer.API/ApiModels/UserPermissions.cs
  src/Services/Customer/Customer.API/ApiModels/UserPreference.cs
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Controllers/FeatureFlagsController.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Controllers/PartnersController.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/Mappings/UserPreferenceProfile.cs
  src/Services/Customer/Customer.API/Mappings/UserProfile.cs
Due: azure-pipelines-customers.yml

Moved IOrganizationRepository out from the entity models directory
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/OrganizationTestDataService.cs
  src/Services/Customer/CustomerServices/PartnerServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Added missing catch clauses
  src/Services/Customer/Customer.API/ApiModels/UpdateOrganization.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
Due: azure-pipelines-customers.yml

Removed duplicate sets of properties that was already added by the base entity class.
  src/Services/Customer/CustomerServices/Migrations/20220318141542_removed duplicate properties.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220318141542_removed duplicate properties.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
Due: azure-pipelines-customers.yml

Added post endpoint in backend and made additional changes to the entity for CustomerStandardPrivateSubscriptionProduct
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerStandardPrivateSubscriptionProductAddedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/CustomerStandardPrivateSubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220318140955_CustomerStandardSubscriptionPrivateProduct.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220318140955_CustomerStandardSubscriptionPrivateProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerStandardPrivateSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerStandardPrivateSubscriptionProductDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewCustomerStandardPrivateSubscriptionProduct.cs
Due: none

moved endpoint to the end for better grouping
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
Due: none

OrigoSubscriptionProduct model reversed
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoSubscriptionProduct.cs
Due: none

consistent subscription models with gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/UpdateSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/UpdatedSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/CustomerSubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerSubscriptionProductDTO.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
Due: none

Revert "Renamed "Input Models" to "API Models" as it contained both input and output models."
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Controllers/FeatureFlagsController.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Controllers/PartnersController.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/Mappings/UserPreferenceProfile.cs
  src/Services/Customer/Customer.API/Mappings/UserProfile.cs
  src/Services/Customer/Customer.API/ViewModels/Address.cs
  src/Services/Customer/Customer.API/ViewModels/ContactPerson.cs
  src/Services/Customer/Customer.API/ViewModels/Customer.cs
  src/Services/Customer/Customer.API/ViewModels/DeleteFeatureFlag.cs
  src/Services/Customer/Customer.API/ViewModels/DeleteOrganization.cs
  src/Services/Customer/Customer.API/ViewModels/Department.cs
  src/Services/Customer/Customer.API/ViewModels/Location.cs
  src/Services/Customer/Customer.API/ViewModels/NewCustomer.cs
  src/Services/Customer/Customer.API/ViewModels/NewDepartment.cs
  src/Services/Customer/Customer.API/ViewModels/NewFeatureFlag.cs
  src/Services/Customer/Customer.API/ViewModels/NewLocation.cs
  src/Services/Customer/Customer.API/ViewModels/NewOrganization.cs
  src/Services/Customer/Customer.API/ViewModels/NewOrganizationPreferences.cs
  src/Services/Customer/Customer.API/ViewModels/NewPartner.cs
  src/Services/Customer/Customer.API/ViewModels/NewUser.cs
  src/Services/Customer/Customer.API/ViewModels/NewUserPermission.cs
  src/Services/Customer/Customer.API/ViewModels/Organization.cs
  src/Services/Customer/Customer.API/ViewModels/OrganizationPreferences.cs
  src/Services/Customer/Customer.API/ViewModels/Partner.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateLocation.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateOrganization.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateOrganizationPreferences.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateUser.cs
  src/Services/Customer/Customer.API/ViewModels/User.cs
  src/Services/Customer/Customer.API/ViewModels/UserPermissions.cs
  src/Services/Customer/Customer.API/ViewModels/UserPreference.cs
Due: azure-pipelines-customers.yml

Revert "Moved IOrganizationRepository out from the entity models directory"
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/OrganizationTestDataService.cs
  src/Services/Customer/CustomerServices/PartnerServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Updated entity configuration, and added sqlite fallbacks
  src/Services/Customer/CustomerServices/Infrastructure/Context/CustomerContext.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/DepartmentConfiguration.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/OrganizationConfiguration.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/PartnerConfiguration.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/UserConfiguration.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/UserPermissionsConfiguration.cs
Due: azure-pipelines-customers.yml

Timestamp updates should now be set automatically
  src/Services/Customer/CustomerServices/Infrastructure/Context/CustomerContext.cs
Due: azure-pipelines-customers.yml

Registered new roles
  src/Core/Enums/PredefinedRole.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/ModelBuilderExtensions.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Added missing country validation attribute to input models
  src/Services/Customer/Customer.API/ViewModels/Address.cs
  src/Services/Customer/Customer.API/ViewModels/Customer.cs
  src/Services/Customer/Customer.API/ViewModels/NewLocation.cs
  src/Services/Customer/Customer.API/ViewModels/NewOrganizationPreferences.cs
  src/Services/Customer/Customer.API/ViewModels/NewPartner.cs
  src/Services/Customer/Customer.API/ViewModels/Organization.cs
  src/Services/Customer/CustomerServices/Models/Location.cs
Due: azure-pipelines-customers.yml

email template updated
  EmailTemplates/SubscriptionManagementServices/NewSubscription.md
  EmailTemplates/SubscriptionManagementServices/OrderSim.md
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/IEmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

minor update in templates
  EmailTemplates/SubscriptionManagementServices/NewSubscription.md
  EmailTemplates/SubscriptionManagementServices/TransferToBusiness.md
Due: none

Added delete and get for private standard subscription
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/SubscriptionManagement/CustomerStandardPrivateSubscriptionProductProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/NewStandardPrivateProductDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewStandardPrivateProduct.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoCustomerStandardPrivateSubscriptionProduct.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerStandardPrivateSubscriptionProductRemovedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ICustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

OrderNumber added in response
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoSubscriptionOrderListItem.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/SubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/SubscriptionOrderListItemDTO.cs
Due: none

Fixed sim card validation based on new requirements and added phone number validation for transfer to business
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Registered lowercase URL preference for better consistency
  src/Services/Customer/Customer.API/Startup.cs
Due: azure-pipelines-customers.yml

Changed sim card type enum from regular to main to be consistent with frontend
  src/Core/Enums/SIMTypes.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

user search added in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Reworked the partner endpoints
  src/Services/Customer/Customer.API/Controllers/PartnersController.cs
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/Customer.API/ViewModels/NewOrganization.cs
  src/Services/Customer/Customer.API/ViewModels/Organization.cs
  src/Services/Customer/Customer.API/ViewModels/Partner.cs
  src/Services/Customer/Customer.API/ViewModels/PartnerOrganization.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPartnerChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/PartnerCreatedDomainEvent.cs
  src/Services/Customer/CustomerServices/Exceptions/DuplicateException.cs
  src/Services/Customer/CustomerServices/IPartnerServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/PartnerConfiguration.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
  src/Services/Customer/CustomerServices/Models/Partner.cs
  src/Services/Customer/CustomerServices/PartnerServices.cs
Due: azure-pipelines-customers.yml

Added unit-tests
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/PartnerServicesTests.cs
Due: azure-pipelines-customers.yml

Added a new migration only for making deletedBy in CustomerStandardSubscriptionproduct nullable
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220323065929_customerStandardProduct_deletedBy_nullable.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220323065929_customerStandardProduct_deletedBy_nullable.cs
Due: none

TotalPages added in the response
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
Due: none

minor chages
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
Due: none

Added support for swagger documentation and annotations
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/Customer.API/Startup.cs
Due: azure-pipelines-customers.yml

Fixed a JSON de-serialization issue in a controller endpoint
  src/Services/Customer/Customer.API/Controllers/PartnersController.cs
  src/Services/Customer/Customer.API/ViewModels/NewPartner.cs
  src/Services/Customer/CustomerServices/PartnerServices.cs
Due: azure-pipelines-customers.yml

Added updated migration files
  src/Services/Customer/CustomerServices/Migrations/20220323101240_updated_entity_configuration.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220323101240_updated_entity_configuration.cs
Due: azure-pipelines-customers.yml
