Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-hardware-service-order.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: HardwareServiceOrderContext
        dbProject: src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Fetch department names to merge with assets
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/DepartmentNamesDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserNamesDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/DepartmentsServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IDepartmentsServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/IDepartmentsServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/ServiceModels/DepartmentNamesDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserNamesDTO.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UnitTestDatabaseSeeder.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Removed extra logic from endpoint with onlyNames
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
Due: azure-pipelines-customers.yml

Get list with userid and name only for matching purposes.
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserNamesDTO.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Add nullable enable and some extra documentation.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/DepartmentNamesDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserNamesDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IDepartmentsServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/ServiceModels/DepartmentNamesDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserNamesDTO.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Reverted the migrations as a workaround to bypass an existing code-error that causes the migrations to fail during deployment
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/CustomerSettingConfiguration.cs
  src/Services/Asset/AssetServices/Migrations/20221014120117_added_sql_indexes.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20221014120117_added_sql_indexes.cs
  src/Services/Asset/AssetServices/Migrations/20221016134829_indexed_asset_lifecycle_department.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20221016134829_indexed_asset_lifecycle_department.cs
  src/Services/Asset/AssetServices/Migrations/AssetsContextModelSnapshot.cs
Due: azure-pipelines-assets.yml

Re-added new migrations w/o the bad unique constraint
  src/Services/Asset/AssetServices/Migrations/20221017121024_added_alternate_keys.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20221017121024_added_alternate_keys.cs
Due: azure-pipelines-assets.yml

Added a todo-item
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/CustomerSettingConfiguration.cs
Due: azure-pipelines-assets.yml

Updates Subscription order, order view and count endpoints to allow Managers to GET
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
Due: azure-pipelines-origoapigateway.yml

Added empty .resx files to be used for POEditor translations
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.nb-NO.resx
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.sv-SE.resx
Due: none

Added product permissions checks in controllers.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Authorization/Permission.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomerReferenceFieldController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/DepartmentsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/DepartmentsControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UserPermissionsControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Added access to subscription managment endpoints for user
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
Due: azure-pipelines-origoapigateway.yml

User PATCH fix for End User
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Added currency support for Assets microservice
  src/Core/Model/Money.cs
  src/Services/Asset/Asset.API/Mappings/NewAssetProfile.cs
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/Asset.API/ViewModels/LifeCycleSetting.cs
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
  src/Services/Asset/Asset.API/ViewModels/NewLifeCycleSetting.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/AssetLifecycleConfiguration.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/EntityBaseConfiguration.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/LifeCycleSettingConfiguration.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/SalaryDeductionTransactionConfiguration.cs
  src/Services/Asset/AssetServices/Migrations/20221019092625_Currency.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20221019092625_Currency.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/Models/LifeCycleSetting.cs
  src/Services/Asset/AssetServices/Models/SalaryDeductionTransaction.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetLifecycleDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/CreateAssetLifecycleDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/LifeCycleSettingDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/NewAssetDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Fix currency in API Gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/LifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewLifeCycleSetting.cs
Due: azure-pipelines-origoapigateway.yml

Fix error
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Remove unused mocks in webshoptest
  src/Services/Customer/Tests/CustomerServices.UnitTests/WebshopServiceTests.cs
Due: azure-pipelines-customers.yml

Add non-implement webshop provisioner endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/WebshopController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IWebshopService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/WebshopService.cs
  src/Services/Customer/Customer.API/Controllers/WebshopController.cs
  src/Services/Customer/CustomerServices/IWebshopService.cs
  src/Services/Customer/CustomerServices/Mappings/UserDTOProfile.cs
  src/Services/Customer/CustomerServices/WebshopService.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/WebshopServiceTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Add missing route to provision endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/WebshopController.cs
Due: azure-pipelines-origoapigateway.yml

Global product was not included in Get Subscription Products
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
Due: none

EndUser access to customer-reference-field
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomerReferenceFieldController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomerReferenceFieldControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Added input required when user/owner is not assign asset lifecycle
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

onboarding tiles condition checks
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Core/Enums/OrderTypes.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CancelSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/OrderSimSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

OrderType Enum change and Count function extended
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Core/Enums/SubscriptionOrderTypes.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CancelSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Datapackage.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/OrderSimSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Added updating SubscriptionIsHandledForOffboarding in patch user
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserPreferenceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UserPreference.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/ViewModels/UserPreference.cs
  src/Services/Customer/CustomerServices/DomainEvents/OffboardingSubscriptionIsHandledDomainEvent.cs
  src/Services/Customer/CustomerServices/Migrations/20221021095537_Userpreference_SubscriptionIsHandledForOffboarding.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20221021095537_Userpreference_SubscriptionIsHandledForOffboarding.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/Models/UserPreference.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserPreferenceDTO.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

removed unnecessary comment
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Error handling in HWRepair microservice
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairNotificationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairOrderStatusController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/ServiceOrderController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/ServiceProviderController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Filters/ErrorExceptionFilter.cs
Due: azure-pipelines-hardware-service-order.yml

Fix error
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
Due: azure-pipelines-hardware-service-order.yml

Add initial employee datasync support
  OrigoDomainServices.sln
  charts/customer-api/templates/customerdatasyncpubsub.yaml
  src/Core/Extensions/GuidExtension.cs
  src/Core/Model/EventModels/DatasyncModels/CreateEmployeeEvent.cs
  src/Services/Customer/Customer.API/Controllers/EmployeeDatasyncController.cs
  src/Services/Customer/Customer.API/Mappings/EmployeeUserProfile.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/EmployeeDatasyncControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Add apikey hash support for organizations
  src/Core/Cryptography/SecretHasher.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Migrations/20221021143357_AddApiKeyHash.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20221021143357_AddApiKeyHash.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
  src/Services/Customer/CustomerServices/OktaServices.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Add redis config for dapr manifest file
  redis-dapr-config.yml
Due: none

R&W, include query added for missing fields
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/HardwareServiceCustomerControllerTest.cs
Due: azure-pipelines-origoapigateway.yml

Incorrect verb used for hash api key
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
Due: azure-pipelines-customers.yml

Techstep search only search by organization name
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/CustomerServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
Due: azure-pipelines-origoapigateway.yml

Undo changes of techstep search endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/CustomerServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
Due: azure-pipelines-origoapigateway.yml

Api key generation
  OrigoDomainServices.sln
  charts/customer-api/templates/subscription-employee-create.yaml
  src/Core/Cryptography/SecretHasher.cs
  src/Core/Extensions/GuidExtension.cs
  src/Core/Infrastructure/ApiRequesterService.cs
  src/Core/Model/EventModels/DatasyncModels/CreateEmployeeEvent.cs
  src/Services/Customer/Customer.API/Controllers/EmployeeDatasyncController.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/EmployeeDatasyncControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Error handling in ProductCatalog micro-service
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/OrdersController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductTypesController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductsController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Filters/ErrorExceptionFilter.cs
Due: azure-pipelines-productcatalog.yml

Adjust rabbitmq path for pubsub
  azure-pipelines-customers.yml
Due: azure-pipelines-customers.yml

Add port to rabbitmq pubsub connection
  azure-pipelines-customers.yml
Due: azure-pipelines-customers.yml

Remove user name from rabbitmq connection
  azure-pipelines-customers.yml
Due: azure-pipelines-customers.yml

Moved rabbitmq host name to secret
  azure-pipelines-customers.yml
  charts/customer-api/templates/pubsub.yaml
Due: azure-pipelines-customers.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-hardware-service-order.yml: any of: azure-pipelines-hardware-service-order.yml, src/Core, charts/hardware-service-order-api, src/Services/HardwareServiceOrder
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
