Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

added delete subscription product for customer
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/CustomerSubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerSubscriptionProductDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

fixed bug after merge conflict
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
Due: none

Add api gateway endpoints for customer reference fields
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomerReferenceFieldController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/SubscriptionManagement/CustomerReferenceFieldProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/CustomerReferenceFieldPostRequestDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Response/CustomerReferenceFieldResponseDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewCustomerReferenceField.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoCustomerReferenceField.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Mappings/CustomerReferenceFieldProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/CustomerReferenceField.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ICustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerReferenceFieldDTO.cs
Due: none

Added get for all customer products
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Add createdDate to returned AssetCategoryAttributes
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: none

Needed to change delete since it only got one operatorSetting
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
Due: none

Include AssetCategory translations when getting assets from list
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
Due: azure-pipelines-assets.yml

Add feature flag support
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/FeatureFlagsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoDeleteFeatureFlag.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoNewFeatureFlag.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/FeatureFlagConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/FeatureFlagServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IFeatureFlagServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/Services/Customer/Customer.API/Controllers/FeatureFlagsController.cs
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/Customer.API/ViewModels/DeleteFeatureFlag.cs
  src/Services/Customer/Customer.API/ViewModels/NewFeatureFlag.cs
  src/Services/Customer/CustomerServices/FeatureFlagServices.cs
  src/Services/Customer/CustomerServices/IFeatureFlagServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/CustomerContext.cs
  src/Services/Customer/CustomerServices/Migrations/20220218123724_featureflags.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220218123724_featureflags.cs
  src/Services/Customer/CustomerServices/Models/FeatureFlag.cs
Due: azure-pipelines-customers.yml

Feature flag is only for system admins
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/FeatureFlagsController.cs
Due: none

Added get for all operators subscription products
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/OperatorsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/GlobalSubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/GlobalSubscriptionProductDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Add swagger information related to type of customer reference field
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomerReferenceFieldController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
Due: none

reviewing with atish
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerSubscriptionProductConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220221080215_test.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220221080215_test.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Datapackage.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

reviewing with Atish
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
Due: none

Add check for existing organization number
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/Exceptions/InvalidOrganizationNumberException.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Fix SetImei not clearing existing IMEIs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
Due: azure-pipelines-assets.yml

Fixed datapackages in post subscription products and changed request model
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/NewSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/NewSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Added migration for CustomerDataPackage table
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220221142324_CustomerDataPackagesTable.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220221142324_CustomerDataPackagesTable.cs
Due: none

Empty name not allowed for customer reference field.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomerReferenceFieldController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Filters/ErrorExceptionFilter.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/NewCustomerReferenceField.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/InvalidCustomerReferenceInputDataException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/SubscriptionManagementException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
Due: azure-pipelines-assets.yml

Move transfer subscription endpoint in gateway.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
Due: none

Fix mobilenumber not being updated when user is edited
  src/Services/Customer/CustomerServices/Models/User.cs
Due: azure-pipelines-customers.yml

Changed transfer from private to business contract
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/PrivateSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferFromPrivateToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/TransferSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
Due: none

Refactoring of delete subscription product for a customer
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Fix mising await in orgnr check
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
Due: azure-pipelines-customers.yml

Fix MobileNumber in UpdateUser models to align with the other User models fix broken patch
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUpdateUser.cs
Due: none

database model changes
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferFromPrivateToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrderTransferSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/PrivateToBusinessSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateToBusinessSubscriptionOrder .cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

added changes to the perator account service model and mapping profiles
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoCustomerOperatorAccount.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/CustomerOperatorAccountProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerOperatorAccountDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Return Conflict when CreateCustomer fails due to org number conflict
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Core/Exceptions/InvalidOrganizationNumberException.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Changed model for frontend request for adding a new operator account and changed the profile of CustomerOperatorAccount
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewOperatorAccount.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/NewOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/CustomerOperatorAccountProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Return webshop redirectUri on successful provisioning
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/WebshopController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/WebshopConfiguration.cs
Due: none

model updated
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferFromPrivateToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateToBusinessSubscriptionOrder .cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
Due: none

Fix User unit test after model change
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
Due: none

Change error message for create customer orgnr conflict
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
Due: none

build error fixing
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/NewCustomerReferenceField.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateToBusinessSubscriptionOrder .cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewCustomerReferenceField.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateSubscriptionDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

subscription service business logic fixed
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateToBusinessSubscriptionOrder .cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Added organizationId back to frontend response
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoCustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerOperatorAccountDTO.cs
Due: none

existing migration removed
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220216230633_Initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220217130809_CustomerReferenceField.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220221142324_CustomerDataPackagesTable.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220221142324_CustomerDataPackagesTable.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220223143631_Initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220223143631_Initial.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
Due: none

unit tests updated
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

implementing ISubscriptionOrder Interface
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/PrivateToBusinessSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionAddOnProductConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220223143631_Initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220223143631_Initial.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Datapackage.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateToBusinessSubscriptionOrder .cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionAddOnProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

database recreated
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220224102219_Initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220224102219_Initial.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
Due: none

New operator account requested information added
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewOperatorAccountRequested.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferFromPrivateToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220224123931_NewOperatorAccountChange.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220224123931_NewOperatorAccountChange.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateToBusinessSubscriptionOrder .cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewOperatorAccountRequested.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
