Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer

Update azure-pipelines-productcatalog.yml for Azure Pipelines
  azure-pipelines-productcatalog.yml
Due: none

Fixed incorrect variable
  charts/product-catalog-api/templates/NOTES.txt
Due: none

Add secrets file for K8s
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
Due: none

Changed acr path for product catalog
  OrigoDomainServices.sln
  charts/product-catalog-api/values.yaml
Due: none

Added logging
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
Due: none

Removed "UseHttpsRedirection()"
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
Due: none

Added a temp. console logger for debugging purposes
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
Due: none

Temporarily changed return method (for debugging)
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductTypesController.cs
Due: none

Add secrets config file
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextFactory.cs
Due: none

Reverted test-changes
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductTypesController.cs
Due: none

Updated documentation and entity-configuration
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureExcludesConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureRequiresAllConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureRequiresOneConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureTypeConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/OrderConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductExcludesConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductFeatureConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductRequiresAllConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductRequiresOneConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductTypeConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20211210083040_init.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20211213120358_improved-configuration-files.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20211213120358_improved-configuration-files.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Entity.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Feature.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/FeatureTranslation.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/FeatureType.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/FeatureTypeTranslation.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/FeatureExcludes.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/FeatureRequiresAll.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/FeatureRequiresOne.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/ProductExcludes.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/ProductFeature.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/ProductRequiresAll.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/ProductRequiresOne.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Order.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Product.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductTranslation.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductType.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductTypeTranslation.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/appsettings.json
Due: none

Fixed gateway mapping problems
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductGet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductTypeGet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ProductCatalogServices.cs
  src/Boilerplate/Boilerplate.EntityFramework/Generics/Repositories/ReadRepository.cs
Due: none

Updated comment to be more clear
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductGet.cs
Due: none

Fixed logs not fetched error.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Core/Logging/BaseEvent.cs
  src/Core/Logging/FunctionalEventLogEntry.cs
  src/Core/Seedwork/Entity.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetCreatedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/AssignAssetToUserDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/BrandChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/DescriptionChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/ModelChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/NoteChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/PurchaseDateChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/SetLifeCycleTypeDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/TagUpdatedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/UpdateAssetStatusDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/AssetCategory.cs
  src/Services/Asset/AssetServices/Models/AssetCategoryTranslation.cs
  src/Services/Asset/AssetServices/Models/AssetImei.cs
  src/Services/Asset/AssetServices/Models/AssetLabel.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Added callerId to SetLifecycle endpoint and service methods.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/SetLifeCycleTypeDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml

Added callerId to AssetStatusDomainEvent, services and controllers.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/UpdateAssetStatusDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Enabled UpdateAsset functionality to see who called it. Implemented domainEvent for Alias.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/BrandChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/DescriptionChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/ModelChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/PurchaseDateChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/SerialNumberChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/SetAliasDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/TagUpdatedDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml

Added callerId to AssignAssetToUserDomainEvent, and other relevant files.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssignAssetToUserDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml

Fixed failing unit test on Gateway.Services.UpdateStatusOnAssets
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
Due: none

Get events that could be deserialized, ignore the rest.
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

Fixed bug where AssignAsset to user did not work.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
Due: azure-pipelines-assets.yml

Add handling for AssetStatus in update and add a new asset internaly
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/NewAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/UpdateAssetsStatus.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Fixed bug with validating IMEI
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

Changed create asset so that callerId is part of body.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/NewAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
Due: azure-pipelines-assets.yml

Made callerId and asset status part of body. Created new input model in asse.API for n assets being assigned a status with a callerId.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/UpdateAssetsStatus.cs
Due: azure-pipelines-assets.yml

UpdateAsset now takes callerId in body of request.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoUpdateAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/UpdateAsset.cs
Due: azure-pipelines-assets.yml

Moved data for lifecycletype change to its own input model, including callerId and assetId.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/UpdateAssetLifecycleType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/UpdateAssetLifecycleType.cs
Due: azure-pipelines-assets.yml

Created model for assigning asset to user.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssignAssetToUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/AssignAssetToUser.cs
Due: azure-pipelines-assets.yml

Added input model for Creating n labels for customer, with callerId.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/AddLabelsData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/AddLabelsData.cs
Due: azure-pipelines-assets.yml

Made input model for Deleting customer labels
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/DeleteCustomerLabelsData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/DeleteCustomerLabelsData.cs
Due: azure-pipelines-assets.yml

Added model for updating labels for customer
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateCustomerLabelsData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/UpdateCustomerLabelsData.cs
Due: azure-pipelines-assets.yml

Modified AssetLabels to include callerId when assigning labels to assets.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssetLabels.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/AssetLabels.cs
Due: azure-pipelines-assets.yml

Modified unassign labels from asset to include callerId in body.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
Due: azure-pipelines-assets.yml

Fixed tests
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
Due: none

Fixed path on assign user
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
Due: azure-pipelines-assets.yml

Fixed decrepency between model in gateway and api
  src/Services/Asset/Asset.API/ViewModels/UpdateAssetsStatus.cs
Due: azure-pipelines-assets.yml

Fixed failing unit test
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml
