Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

NoteChangedDomainEvent will now include '' around the previous and new value. Fixed bug where if user who made the event is not found, the endpoint would return badrequest.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Asset/AssetServices/DomainEvents/NoteChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Changed so domain events gets called by Assets derived classes
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml

Fixed failing unittest
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
Due: none

mapping for Organization object
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/LocationProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrganizationPreferencesProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoAddressProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoContactPersonProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Address.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/LocationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OrganizationPreferencesDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ContactPerson.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoAddress.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoContactPerson.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: none

Customized creation message depending on MobilePhone, or tablet created. use ProductName in place of 'Asset' in created message
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetCreatedDomainEvent.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml

Added the callerId for action made on all of customers endpoints. Replaced some of the models with backend dto's
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewCustomerAssetCategoryTypeDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewCustomerProductModuleDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateAssetCategoryType.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/AssetCategoryLifecycleType.cs
  src/Services/Customer/CustomerServices/Models/AssetCategoryType.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Location.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/Models/ProductModule.cs
  src/Services/Customer/CustomerServices/Models/ProductModuleGroup.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

reverse map
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/LocationProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrganizationPreferencesProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrganizationProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoAddressProfile.cs
Due: none

rename objects
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
Due: none

Added field to Customer. Set IsCustomer to true for existing organizations. Default value for new organizations remain false
  src/Services/Customer/CustomerServices/Migrations/20211228084458_IsCustomer_field_to_Customer.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20211228084458_IsCustomer_field_to_Customer.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
Due: azure-pipelines-customers.yml

Added caller id for the action made in Department Controller
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/DepartmentsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewDepartmentDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateDepartmentDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/DepartmentsServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IDepartmentsServices.cs
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/ViewModels/Department.cs
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/IDepartmentsServices.cs
  src/Services/Customer/CustomerServices/Models/Department.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
Due: azure-pipelines-customers.yml

fixed failing unit test
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
Due: azure-pipelines-customers.yml

Mappin of asset, labels, lifecycle and catagory objects
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/LabelProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoAssetCategoriesProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoAssetLifecycleProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoAssetProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/HardwareSuperType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/Label.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAssetCategory.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAssetLifecycle.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoMobilePhone.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoTablet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/AssetCategoryAttribute.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetCategoryDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetCategoryLifecycleTypeDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/LabelDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: none

Added caller id based on action to UserPermission Controller
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewUserPermissionsDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/Models/UserPermissions.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
Due: azure-pipelines-customers.yml

Customer mapping
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewCustomerAssetCategoryTypeDtoProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewCustomerProductModuleDtoProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewOrganizationDtoProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/AddLabelsData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssetCategoryAttribute.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssetLabels.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssignAssetToUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/HardwareSuperType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/Label.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/NewAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAssetCategory.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAssetLifecycle.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoMobilePhone.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoPagedAssets.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoTablet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoUpdateAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/UpdateAssetLifecycleType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/UpdateAssetsStatus.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/DeleteCustomerLabelsData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/DeleteOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewCustomerAssetCategoryType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewCustomerProductModule.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewDepartment.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewLabel.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewLocation.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganizationPreferences.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewUserPermissions.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/Services/Customer/Customer.API/Startup.cs
Due: azure-pipelines-customers.yml

Permission claim name for Allowed list changed. Fixed failing unit tests
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/LabelProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: none

Access list adjustment
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
Due: none

CustomerAdmin can change own organization properties
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
Due: none

Added caller id and updated time to action made by the caller for the User controller
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/ViewModels/NewUser.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/Models/UserPreference.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Added LastUpdatedDate to all of the methods that gets a caller id to updatedBy .
  src/Services/Customer/CustomerServices/Models/AssetCategoryType.cs
  src/Services/Customer/CustomerServices/Models/Department.cs
  src/Services/Customer/CustomerServices/Models/Location.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
  src/Services/Customer/CustomerServices/Models/UserPermissions.cs
Due: azure-pipelines-customers.yml

ASSET controller - Added LastUpdatedDate to all of the methods that gets a caller id to updatedBy. (Forgot to add it in first commit)
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
Due: azure-pipelines-assets.yml

User permission and minor customer and asset object mapping
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoDepartmentProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoPagedAssetProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoUserPermissionProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/UpdateAssetStatusDtoProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/UpdateAssetsStatus.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/PagedAssetsDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateAssetsStatusDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserPermissionsDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoAddress.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoAssetCategoryLifecycleType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoContactPerson.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoCustomerAssetCategoryType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoDepartment.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoProductModule.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoProductModuleGroup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUpdateUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUserPermissions.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateCustomerLabelsData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UserPreference.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/DepartmentsServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Create customer will make IsCustomer field true. Get endpoints for customer do not find customer if it is set to false
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/NewOrganization.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
Due: azure-pipelines-customers.yml

unit test
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
Due: none

Get each user only once
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: none

save user when updated
  src/Services/Customer/CustomerServices/OrganizationTestDataService.cs
Due: azure-pipelines-customers.yml

prevent creation and updates of users that will result in 2 or more user having the same email/username
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

exception class
  src/Services/Customer/CustomerServices/Exceptions/UserNameIsInUseException.cs
Due: azure-pipelines-customers.yml

CustomerAssetCategory endpoints will rturn notFound if IsCustomer == false.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/CustomerAssetCategoryDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/AssetCategoryLifecycleType.cs
  src/Services/Customer/Customer.API/ViewModels/AssetCategoryType.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateAssetCategoryType.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Set iscustomer to true when creating new organizations from customer endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
Due: none

Domain events added
  src/Services/Asset/AssetServices/DomainEvents/IMEIChangedDomainEvent.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPreferencesAddedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPreferencesUpdatedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/UserActivateDeactivateDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/UserUpdateEmailDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/UserUpdateEmployeeIdDomainEvent.cs
  src/Services/Customer/CustomerServices/Models/Department.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
  src/Services/Customer/CustomerServices/Models/User.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Show user information in audit log also for non-customer users. Order log descending.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Core/Logging/FunctionalEventLogService.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetRepository.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Added assignment of userpermission if request has role defined
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewUser.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/ViewModels/NewUser.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

hide seed controller and prevent execution of code in production environment
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HideTestControllersConvention.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: none

fix build issues
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Boilerplate/Boilerplate.EntityFramework/Boilerplate.EntityFramework.csproj
  src/Services/Asset/AssetServices/AssetTestDataService.cs
  src/Services/Asset/AssetServices/SeedData/Seed.cs
  src/Services/Customer/CustomerServices/OrganizationTestDataService.cs
  src/Services/Customer/CustomerServices/SeedData/Seed.cs
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/ProductCatalog/ProductCatalog.Common/ProductCatalog.Common.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Added check for phone number based on commit that had merge conflict and added error message if mail and/or phone number is in use
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/Exceptions/InvalidPhoneNumberException.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Fixed failed test and added tests for if mail and phone number throws exception when they already exist
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Added domain events for AssetCategoryType and Organization Preferences
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryTypeCreatedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryTypeDeletedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryTypeUpdatedAssetCategoryIdDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryTypeUpdatedAssetCustomerIdDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryTypeUpdatedLifecycleTypesDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPreferencesChangedDefaultDepartmentClassificationDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPreferencesChangedEnforceTwoFactorAuthDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPreferencesChangedLogoUrlDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPreferencesChangedOrganizationNotesDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPreferencesChangedPrimaryLanguageDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPreferencesChangedWebPageDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPreferencesDeletedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationPreferencesUpdatedDomainEvent.cs
  src/Services/Customer/CustomerServices/Models/AssetCategoryType.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
Due: azure-pipelines-customers.yml

remove preview
  src/Boilerplate/Boilerplate.EntityFramework/Boilerplate.EntityFramework.csproj
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/ProductCatalog/ProductCatalog.Common/ProductCatalog.Common.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
Due: none

Added domain events for Location and on creating a new department
  src/Services/Customer/CustomerServices/DomainEvents/DepartmentAddedToCustomerDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/DepartmentCreatedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationCreatedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationDeletedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdateAddressDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdateCityDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdateCountryDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdateDescriptionDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdateLocationNameDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdatePostalCodeDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdatedDomainEvent.cs
  src/Services/Customer/CustomerServices/Models/Department.cs
  src/Services/Customer/CustomerServices/Models/Location.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
Due: azure-pipelines-customers.yml

Fixed logic in AssetCategoryType and OrganizationPrefrences
  src/Services/Customer/CustomerServices/Models/AssetCategoryType.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
Due: azure-pipelines-customers.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
