Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Reverted "#enable nullable"
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
Due: azure-pipelines-origoapigateway.yml

Added test for invalid email in request.
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Typo in AssetLifecycleSource
  src/Services/Asset/AssetServices/Models/AssetLifeCycleSource.cs
Due: azure-pipelines-assets.yml

Implemented Saving Note for an Asset(inside Asset-LifeCycle Table)
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/ChangedNoteDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/NoteChangedDomainEvent.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Return operator id for transfer to private customer setting
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
Due: none

Changed a template-key to match whats checked for in-code
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
Due: none

Added missing properties for active state statuses to assets counter.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAssetCounter.cs
  src/Services/Asset/Asset.API/ViewModels/AssetCounter.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetCounter.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

sim number validation fix
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/SIMCardValidation.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

'PurchasedBy' property in asset. Book Value option Renamed
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/NewAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewAssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/Mappings/NewAssetProfile.cs
  src/Services/Asset/Asset.API/Mappings/PagedAssetProfile.cs
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetLifecycleDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/CreateAssetLifecycleDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/NewAssetDTO.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220822092806_bookValue_change_in_seedData.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220822092806_bookValue_change_in_seedData.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml

Unit test for 'PurchasedBy'
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

missing migrations
  src/Services/Asset/AssetServices/Migrations/20220822132708_purchasedBy_Column_in_AssetLifeCycle.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220822132708_purchasedBy_Column_in_AssetLifeCycle.cs
Due: azure-pipelines-assets.yml

Fixed a bug caused by flattinging a already flattened dictionary.
  src/Core/Utilities/FlatDictionary.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/FlatDictionaryTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Hacked together a TEMPORARY value-assignment for the outgoing "New Subscription" emails
  EmailTemplates/SubscriptionManagementServices/NewSubscription.md
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: azure-pipelines-origoapigateway.yml

Added Activate and DeActivate User related methods inside User model
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Fixed the User Reactive bug
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Fixed misspelled customer status "StartedOnboarding".
  src/Core/Enums/CustomerStatus.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Update to smart.techstep.io for Prod
  azure-pipelines-origoapigateway.yml
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/manifests/prod/ingressroutes.yaml
Due: azure-pipelines-origoapigateway.yml

Logging problem in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Program.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: azure-pipelines-origoapigateway.yml

Added the ApiCredential entities, along with configuration and mappings
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/NewApiCredential.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ApiCredentialConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/ApiCredentialProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/ServiceProviderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ApiCredential.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ApiCredentialDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/ApiCredentialProfileTests.cs
Due: none

Updated Swagger's "Global Header Parameter" config to support HTTP DELETE. The value is now also required, and have a better description.
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/SwaggerGlobalHeaderParameters.cs
Due: none

Fixed a error in the EF save interceptor
  src/Core/EntityFramework/SaveContextChangesInterceptor.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Updated CustomerServiceProvider, and added related mappings and profiles
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/CustomerServiceProviderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/CustomerServiceProviderDto.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/ApiCredentialProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/CustomerServiceProviderProfileTests.cs
Due: none

Added a generic "Not Found" exception for when the provided user details don't result in any matches.
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Exceptions/NotFoundException.cs
Due: none

Added the possibility for adding API credentials to a CustomerServiceProvider
  src/Core/EntityFramework/SaveContextChangesInterceptor.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ApiCredentialDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForSUR.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForSURTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Added count for notOnboarded to users count
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Add logging for audience in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: azure-pipelines-origoapigateway.yml

Merge conflict
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Add Techstep Core product repository
  src/Services/Asset/AssetServices/Exceptions/TechstepRepositorySetupException.cs
  src/Services/Asset/AssetServices/Infrastructure/ITechstepCoreProductsRepository.cs
  src/Services/Asset/AssetServices/Models/TechstepProduct.cs
Due: azure-pipelines-assets.yml

Probable fix for email notification service integration
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Customer/Customer.API/Startup.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Fix for when user count is null
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

live testing for email and log added
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Asset/AssetServices/Email/EmailService.cs
Due: azure-pipelines-assets.yml

Added check if the customer has users and fixed mapping issue
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Offboard initiate Email notification
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OffboardInitiateDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/WriteModels/OffboardingInitiated.cs
  src/Services/Customer/CustomerServices/Email/EmailService.cs
  src/Services/Customer/CustomerServices/Email/IEmailService.cs
  src/Services/Customer/CustomerServices/Email/Models/OffboardingInitiatedWithBuyout.cs
  src/Services/Customer/CustomerServices/Email/Models/OffboardingInitiatedWithoutBuyout.cs
  src/Services/Customer/CustomerServices/Email/Models/OffboardingOverdueMail.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Resources/Customer.Designer.cs
  src/Services/Customer/CustomerServices/Resources/Customer.resx
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

remove subscription related text from offboarding email
  src/Services/Customer/CustomerServices/Resources/Customer.Designer.cs
  src/Services/Customer/CustomerServices/Resources/Customer.resx
Due: azure-pipelines-customers.yml

Include the missing "real owner" for overview of "transfer to business" order
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
Due: none

email service mocked in Subscription Management
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
Due: none

Email Integration Improvement
  src/Core/Configuration/EmailConfiguration.cs
  src/Services/Asset/Asset.API/appsettings.json
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/Customer.API/appsettings.json
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/appsettings.json
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Exceptions/EmailException.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Exceptions/HardwareServiceOrderException.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/EmailException.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Corrected a issue where the wrong (old) email parameters were used, instead of the new updated ones.
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Add Techstep Core repository
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Asset/Asset.API/appsettings.json
  src/Services/Asset/AssetServices/Infrastructure/ITechstepCoreProductsRepository.cs
  src/Services/Asset/AssetServices/Infrastructure/TechstepCoreProductsRepository.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Adjusted output from asset import
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/StorageService.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetImei.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
