Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Unit tests added for email services
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220517001931_HardwareServiceOrderCustomerId.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220517001931_HardwareServiceOrderCustomerId.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
Due: none

Integration tests added
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairNotificationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/ServiceStatusEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairNotificationControllerTests.cs
Due: none

Added full name of user to department dto, and removed assigning double roles to user in orgranization test
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ManagedBy.cs
  src/Services/Customer/CustomerServices/Mappings/DepartmentProfile.cs
  src/Services/Customer/CustomerServices/OrganizationTestDataService.cs
  src/Services/Customer/CustomerServices/ServiceModels/ManagedByDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/DepartmentsControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

rework done
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairNotificationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220519132316_HardwareEmailNotification.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220519132316_HardwareEmailNotification.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairNotificationControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
Due: none

Added permission check on EndUser for customers controller and added change based on comments
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomerReferenceFieldController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
Due: azure-pipelines-origoapigateway.yml

Changed permissions checks for subscription methods
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
Due: azure-pipelines-origoapigateway.yml

Update azure-pipelines-customers.yml for Azure Pipelines
  azure-pipelines-customers.yml
Due: azure-pipelines-customers.yml

Updated migration instructions
  manual-sql-updates/05-04-2022 - Partner re-assignment.txt
Due: none

Added role and access check to users in FeatureFlagController
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/FeatureFlagsController.cs
Due: azure-pipelines-origoapigateway.yml

Added an initial unit-test project for Conmodo
  OrigoDomainServices.sln
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/ProductInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Mappings/ConmodoEventMappingException.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Mappings/StartStatusMapper.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/GlobalUsings.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/HardwareServiceOrder.Conmodo.UnitTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/Mappings/EventMapperTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/Mappings/StartStatusMapperTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/ProviderServicesTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/SeededConmodoModels.cs
Due: none

Fixed a wrong datatype in a list
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/OrderResponse.cs
Due: none

Added assembly file to allow unit-testing of internal classes and methods
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/AssemblyInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ProviderServices.cs
Due: none

language code lowercase
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairNotificationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairNotificationControllerTests.cs
Due: none

unit tests fixed
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderRepositoryTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
Due: none

data seeding moved to a dedicated class
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairNotificationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceStatusConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceTypeConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220520075230_ServiceStatusSeed.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220520075230_ServiceStatusSeed.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/HardwareServiceOrderContextModelSnapshot.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/SeedData/HardwareServiceSeedData.cs
Due: none

sending email when an order is discarded
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairNotificationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/ServiceStatusEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceStatusConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceTypeConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220520075230_ServiceStatusSeed.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220520075230_ServiceStatusSeed.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairNotificationControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
Due: none

Data seeding migration
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220523074539_ServiceStatusAndTypeDataSeeding.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220523074539_ServiceStatusAndTypeDataSeeding.cs
Due: none

Resolved comments from pr and rebased branch onto trunk
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/DepartmentsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/OperatorsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
Due: azure-pipelines-origoapigateway.yml

Fix for assigning to user when dapartmentId guid is empty
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml

migration added
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/appsettings.json
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220523223237_OrderCanceledEmail.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220523223237_OrderCanceledEmail.cs
Due: none

Endpoint & template Order cancelled email
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairNotificationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/OrderCancellationEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/EmailProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.no.resx
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairNotificationControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
Due: none

unit test fixing
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
Due: none

Makes product modules mutually exclusive
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220524105929_makes_modules_mutually_exclusive.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220524105929_makes_modules_mutually_exclusive.cs
Due: azure-pipelines-productcatalog.yml

TransferToPrivate template updated
  EmailTemplates/SubscriptionManagementServices/TransferToPrivate.md
Due: none

One new asset integration test + asset test cleanup.
  src/ApiGateways/OrigoApiGateway/Dockerfile
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Add integration test for authorization
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Helpers/TestAuthenticationHandler.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Helpers/TestAuthenticationSchemeOptions.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGatewayWebApplicationFactory.cs
Due: azure-pipelines-origoapigateway.yml

Make Asset update based on optional parameters
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoUpdateAssetProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoUpdateAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OrigoUpdateAssetDTO.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/UpdateAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Don't check for LastUpdate on ValueObjects
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
Due: azure-pipelines-assets.yml

Added mapping of department name and user name when retrieving multiple assets
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Transfer To Business template updated
  EmailTemplates/SubscriptionManagementServices/TransferToBusiness.md
  src/Core/Extensions/FlatDictionaryExtension.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/FlatDictionaryTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Update alias
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/AssetTestDataService.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/ChangedAliasDomainEvent.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Update serialnumber and purchasedate for assetlifecycle
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/ChangedPurchaseDateDomainEvent.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Added role and access check to users in userPermissionController
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserInfoDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/Mappings/UserProfile.cs
  src/Services/Customer/Customer.API/ViewModels/UserInfo.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Mappings/UserDTOProfile.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserInfo.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Fixed check in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
Due: azure-pipelines-origoapigateway.yml

Fix integration test in Origo ApiGateway. Update Nugets
  Common.UnitTests/Common.UnitTests.csproj
  OrigoDomainServices.sln
  src/ApiGateways/OrigoApiGateway/Dockerfile
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Dockerfile
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Properties/launchSettings.json
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Boilerplate.EntityFramework.UnitTest.csproj
  src/Boilerplate/Boilerplate.EntityFramework/Boilerplate.EntityFramework.csproj
  src/Core/Common.csproj
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
  src/Services/Customer/CustomerServices/CustomerServices.csproj
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.IntegrationTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrder.IntegrationTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrder.UnitTests.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.IntegrationTests/ProductCatalog.IntegrationTests.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.UnitTests/ProductCatalog.UnitTests.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagement.IntegrationTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

reversed on down and rebased onto trunk
  src/Services/Customer/CustomerServices/Migrations/20220530065418_updateRoleNames.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220530065418_updateRoleNames.cs
Due: azure-pipelines-customers.yml

Added a discriminator to the address entity
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ConmodoProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/RecipientTypeEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/DeliveryAddressDto.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalRepairOrderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
Due: none

Updated a unit test to use new constructor parameters
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
Due: none

Added a event enum for some of the events thats reused in several locations
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Mappings/ConmodoEventIDEnum.cs
Due: none
