Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Turn off health probe for now
  charts/asset-api/values.yaml
  charts/customer-api/values.yaml
  charts/origoapigateway/values.yaml
  charts/product-catalog-api/values.yaml
  charts/subscriptionmanagement-api/values.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Added operatorId to response object
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoCustomerStandardPrivateSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerStandardPrivateSubscriptionProductDTO.cs
Due: none

added operatorId and operatorName to all responses in gateway and service
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoActivateSimOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoBusinessSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoCancelSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoChangeSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewOperatorAccount.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoOrderSim.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoPrivateSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoSubscriptionOrderDetailView.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoTransferToPrivateSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoTransferToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/PrivateSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/BusinessSubscriptionProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/DetailViewSubscriptionOrderLogProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/PrivateSubscriptionProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToPrivateSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/ActivateSimOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/BusinessSubscriptionResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CancelSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CancelSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/ChangeSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/DetailViewSubscriptionOrderLog.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewOperatorAccountResponseDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/OrderSimSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateSubscriptionResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToPrivateSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToPrivateSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Removed check for duplicates on primary location and new location
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

removed throwing of exception to get standard private product
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
Due: none

subscriber endpoint added for unassigning assets life-cycle
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/UnAssignAssetToUser.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/UnAssignContractHolderToAssetLifeCycleDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

storing external ID instead of PK
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/UnAssignContractHolderToAssetLifeCycleDomainEvent.cs
Due: azure-pipelines-assets.yml

not storing user's name
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/UnAssignContractHolderToAssetLifeCycleDomainEvent.cs
Due: azure-pipelines-assets.yml

Altered the country regex that was using the lowercase (language ISO standard) instead of uppercase (country ISO standard)
  src/Services/Customer/Customer.API/WriteModels/NewLocation.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateLocation.cs
  src/Services/Customer/CustomerServices/ServiceModels/AddressDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/LocationDTO.cs
Due: azure-pipelines-customers.yml

Made DTO input more flexible
  src/Services/Customer/Customer.API/WriteModels/NewLocation.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateLocation.cs
  src/Services/Customer/CustomerServices/ServiceModels/AddressDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/LocationDTO.cs
Due: azure-pipelines-customers.yml

Add extra settings for liveness and readiness probe for Origoapigateway.
  charts/origoapigateway/templates/deployment.yaml
  charts/origoapigateway/values.yaml
Due: none

Adjust helm param and enable probes for Origoapigateway
  azure-pipelines-origoapigateway.yml
  charts/origoapigateway/templates/deployment.yaml
Due: none

Reset probe
  azure-pipelines-origoapigateway.yml
  charts/origoapigateway/templates/deployment.yaml
Due: none

Remove bug in probe settings
  charts/origoapigateway/templates/deployment.yaml
  charts/origoapigateway/values.yaml
Due: none

changed newOperatorAccount object and mappings to gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/NewSubscriptionOrderPostRequest.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/TransferToBusinessSubscriptionOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewOperatorAccountRequested.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewOperatorAccount.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoTransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/NewSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToBusinessSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220330055028_addedValuesForOperatorAccount.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220330055028_addedValuesForOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewOperatorAccountRequestedDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderRequestDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Updated and consolidated NuGets
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/Core/Common.csproj
  src/Services/Asset/Asset.API/Asset.API.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

removed commented code not in use
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Added simCardAddress to transfer to business
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/TransferToBusinessSubscriptionOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoTransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToBusinessSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220330092336_addedSimCardAddress_TransferToBusinessSubscriptionOrder.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220330092336_addedSimCardAddress_TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

removed mobilenumber from NewSubscriptionOrder
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/NewSubscriptionOrderPostRequest.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/NewSubscriptionOrderCreatedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220330114206_RemoveMobileNumber_NewSubscriptionOrder.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220330114206_RemoveMobileNumber_NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderRequestDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

unit and integration tests added
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Showing Name in Origo Subscription Order DetailView
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoSubscriptionOrderDetailView.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
Due: none

Added name and number when using existing operatoraccount to detailview, new subscription and P-B order
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoTransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/NewSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Renamed project file
  OrigoDomainServices.sln
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.IntegrationTests.csproj
Due: azure-pipelines-customers.yml

Added initial integration test support to Customer.API
  OrigoDomainServices.sln
  src/Services/Customer/CustomerServices/Infrastructure/Context/CustomerContext.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.Tests.csproj
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/HealthCheckTests.cs
Due: azure-pipelines-customers.yml

Moved internal logic from controller to the service class, and added support for partner assignment in the API inputs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoContactPerson.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/WriteModels/NewOrganization.cs
  src/Services/Customer/Customer.API/WriteModels/NewOrganizationPreferences.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/AddressDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/ContactPersonDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/LocationDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewOrganizationDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewOrganizationPreferencesDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationPreferencesDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserPreferenceDTO.cs
Due: azure-pipelines-customers.yml

Updated integration test, and added safety-fallbacks in gateway for the required values currently missing from frontend
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewOrganizationDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-customers.yml

Added include option for partner, and merged two repo methods resulting in cleaner code
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Added partner ID to DTO model
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationDTO.cs
Due: azure-pipelines-customers.yml

Fixed potential nullpointers
  src/Services/Customer/Customer.API/WriteModels/NewLocation.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateLocation.cs
  src/Services/Customer/CustomerServices/ServiceModels/AddressDTO.cs
Due: azure-pipelines-customers.yml

Deleted unused file
  src/Services/Customer/Customer.API/WriteModels/NewCustomer.cs
Due: azure-pipelines-customers.yml

PartnerId is now included in the API return model
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/SeedData/Seed.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationDTO.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
Due: azure-pipelines-customers.yml

BFF Org Post Fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/PartnerServices.cs
Due: none

Re-added auth headers
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/PartnersController.cs
Due: none

PartnerController fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/PartnersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
Due: none

Method name Change
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/PartnersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
Due: none

Needed to be added to new subscription also
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Added operator id for P-B in request model and refactoring of how we retrive the operator name in backend
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/TransferToBusinessSubscriptionOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Try enabling the health probe again in the pipeline.
  azure-pipelines-origoapigateway.yml
Due: none

Incorrect probe pipeline change
  azure-pipelines-origoapigateway.yml
Due: none

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
