Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-hardware-service-order.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: HardwareServiceOrderContext
        dbProject: src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Seeded removed permissions back.
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20221011152332_seed_back_removed_product_permission.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20221011152332_seed_back_removed_product_permission.cs
Due: azure-pipelines-productcatalog.yml

Add endpoint for me not dependent on organizationid
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoUserProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoMeUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
Due: azure-pipelines-origoapigateway.yml

Use separate environments for Prod and Test
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  azure-pipelines-hardware-service-order.yml
  azure-pipelines-origoapigateway.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Add organization id to /ME
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoMeUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
Due: azure-pipelines-origoapigateway.yml

Added Currency utility
  Common.UnitTests/CurrencyUtilityTest.cs
  src/Core/Utilities/CurrencyUtility.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Add comments
  src/Core/Utilities/CurrencyUtility.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Get product permissions from queryparam customerid.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Change endpoint to get user when fetching permissions.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
Due: azure-pipelines-origoapigateway.yml

Clean up
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UserPreference.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

PR comment fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/AssetTestDataService.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Optimization: Asset Microservice
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UserPreference.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/HardwareServiceCustomerControllerTest.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/LabelsProfile.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Made a 'AsNoTracking' parameter required
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
Due: azure-pipelines-hardware-service-order.yml

Added "AsNoTracking" parameters to methods
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
Due: azure-pipelines-hardware-service-order.yml

Fixed build-errors after the rebase
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserPermissionsTests.cs
Due: azure-pipelines-customers.yml

Enabled 'global using', and nullable warnings
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/CustomerServices/CustomerServices.csproj
Due: azure-pipelines-customers.yml

Reverted an accidental connection-string change
  src/Services/Customer/Customer.API/appsettings.json
Due: azure-pipelines-customers.yml

Added missing integration-tests
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/DepartmentsControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/HardwareServiceBackofficeControllerTest.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/HardwareServiceCustomerControllerTest.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/PartnersControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/ProductCatalogControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UserPermissionsControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/GlobalUsings.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/HealthCheckTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Helpers/TestAuthenticationHandler.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGatewayWebApplicationFactory.cs
  src/Services/Customer/Customer.API/appsettings.json
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/DepartmentsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.IntegrationTests.csproj
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactoryExtensions.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebHostBuilderExtensions.cs
  src/Services/Customer/Tests/Customer.API.Tests/GlobalUsings.cs
  src/Services/Customer/Tests/Customer.API.Tests/HealthCheckTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added several additional parameters for setting 'AsNoTracking' and 'Include' in the repository
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Added new paginated endpoint alternatives, misc. optimizations, and added more include/exclude query parameters in APIs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/DepartmentsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/DepartmentsServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IDepartmentsServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Controllers/PartnersController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/appsettings.json
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/IDepartmentsServices.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/IPartnerServices.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/PartnerServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/PartnerServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserPermissionsTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Changed the default page size, added max limit in API gateway, and added/corrected misc. swagger documentations
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Controllers/FeatureFlagsController.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Controllers/PartnersController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added additional parameterized conditions
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/PartnerServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentServicesTests.cs
Due: azure-pipelines-customers.yml

SubsManagement Microservice: EF conditional 'Includes' and 'AsNoTracking'
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/OperatorRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ICustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/OperatorService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

added missing asNoTracking
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/OperatorRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/IOperatorRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/OperatorService.cs
Due: none

Test Cases Fix
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
Due: none

Added 'AsNoTracking' and optional include parameters
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IProductCatalogServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ProductCatalogServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/FeaturesController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/OrdersController.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/FeatureService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Repositories/IOrderRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Repositories/OrderRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/OrderService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductService.cs
Due: azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml

Added alternate keys for the entities
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/AssetConfiguration.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/AssetLifecycleConfiguration.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/CustomerLabelConfiguration.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/CustomerSettingConfiguration.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/EntityBaseConfiguration.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/SalaryDeductionTransactionConfiguration.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/UserConfiguration.cs
  src/Services/Asset/AssetServices/Migrations/20221014120117_added_sql_indexes.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20221014120117_added_sql_indexes.cs
  src/Services/Asset/AssetServices/Models/AssetCategoryTranslation.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/Models/CustomerAssetCount.cs
  src/Services/Asset/AssetServices/Models/CustomerSettings.cs
  src/Services/Asset/AssetServices/Models/LifeCycleSetting.cs
  src/Services/Asset/AssetServices/Models/SalaryDeductionTransaction.cs
Due: azure-pipelines-assets.yml

Added indexing for asset-lifecycle departments
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/AssetLifecycleConfiguration.cs
  src/Services/Asset/AssetServices/Migrations/20221016134829_indexed_asset_lifecycle_department.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20221016134829_indexed_asset_lifecycle_department.cs
Due: azure-pipelines-assets.yml

IncludeOperator fix inside subscriptionProduct
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

UserPreferences Tiles Update by Patch request
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserPreferenceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UserPreference.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/ViewModels/UserPreference.cs
  src/Services/Customer/CustomerServices/DomainEvents/SetOnboardingTilesDomainEvent.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/Models/UserPreference.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserPreferenceDTO.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Language Max Length
  src/Services/Customer/CustomerServices/Infrastructure/Context/CustomerContext.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/OrganizationPreferencesConfiguration.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/UserPreferenceConfiguration.cs
  src/Services/Customer/CustomerServices/Migrations/20221017092227_language_string_limit.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20221017092227_language_string_limit.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
Due: azure-pipelines-customers.yml

Reverse Asset Snapshot
  src/Services/Asset/AssetServices/Migrations/AssetsContextModelSnapshot.cs
Due: azure-pipelines-assets.yml

Build Fix
  src/Services/Customer/CustomerServices/ServiceModels/ContactPersonDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToPrivateSubscriptionOrderDTO.cs
Due: azure-pipelines-customers.yml

Validation and Max String Limit in entity
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganizationPreferences.cs
  src/Services/Customer/Customer.API/WriteModels/NewUser.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateOrganization.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateUser.cs
  src/Services/Customer/CustomerServices/ServiceModels/ContactPersonDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/LoanDevice.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/ActivateSimOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/BusinessSubscriptionConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/NewSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/OrderSimSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/PrivateSubscriptionConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/TransferToBusinessSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20221017121253_max_string_lengths.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20221017121253_max_string_lengths.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/BusinessSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/OrderSimSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/Address.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/BusinessSubscriptionDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewCancelSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderRequestDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateSubscriptionDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateSubscriptionResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/SimCardAddressRequestDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToPrivateSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

Merge conflict
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Create separate endpoints for getting user names and department names from backend.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/DepartmentsServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Get user names separately when joing assets with users
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserNamesDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Revert formatting changes and add some misses from merge conflict
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-hardware-service-order.yml: any of: azure-pipelines-hardware-service-order.yml, src/Core, charts/hardware-service-order-api, src/Services/HardwareServiceOrder
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
