Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-hardware-service-order.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: HardwareServiceOrderContext
        dbProject: src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

added missing property in user model
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UnitTestDatabaseSeeder.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Offboard buyout fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Exceptions/PendingBuyoutException.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/BuyoutDevice.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Fix the Create Service Order issue for Tablets
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Added a Test to check Wrong IMEI
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
Due: azure-pipelines-hardware-service-order.yml

Fixed the limited access for the End User
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
Due: azure-pipelines-origoapigateway.yml

Fixed the 403 error for the End User
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
Due: azure-pipelines-origoapigateway.yml

Refactored email service subscription management
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Configuration/EmailConfigurationSubscriptionManagement.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/EmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/IEmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/ActivateSimMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/BusinessSubscriptionMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/CancelSubscriptionMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/ChangeSubscriptionMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/NewSubscriptionMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/OrderSimMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/PrivateSubscriptionMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/TransferToBusinessMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/TransferToPrivateMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/IEmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.resx
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Added the new dev test email account in appsettings
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
Due: none

Add partner admin support and some user permission refactoring
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/Mappings/UsersPermissionsProfile.cs
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/Mappings/UsersPermissionsProfile.cs
  src/Services/Customer/CustomerServices/Models/UserPermissions.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserPermissionsDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/UsersPermissionsAddedDTO.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Added assetlifecycle links in appsettings and added markdown for emails
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Asset/Asset.API/appsettings.json
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Email/Configuration/EmailConfigurationAsset.cs
  src/Services/Asset/AssetServices/Email/EmailService.cs
  src/Services/Asset/AssetServices/Email/Model/PendingReturnNotification.cs
  src/Services/Asset/AssetServices/Email/Model/ReAssignedToUserNotification.cs
  src/Services/Asset/AssetServices/Resources/Asset.Designer.cs
  src/Services/Asset/AssetServices/Resources/Asset.resx
Due: azure-pipelines-assets.yml

Remove variable check that skipped sonarcloud
  src/ApiGateways/OrigoApiGateway/Dockerfile
Due: azure-pipelines-origoapigateway.yml

Fixed creation of service order credential for unsupported service types
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/OrganizationConfigurationControllerTests.cs
Due: azure-pipelines-hardware-service-order.yml

Add extra check to ensure partner admin is assigned with a value in the accesslist.
  src/Services/Customer/CustomerServices/ServiceModels/NewUserPermissionDTO.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
Due: azure-pipelines-customers.yml

User Counter Condition changed
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Order partners by name
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/PartnerServicesTests.cs
Due: azure-pipelines-customers.yml

Added some access checks to create Service Order methods
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Updated the access asset logic
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
Due: azure-pipelines-origoapigateway.yml

Added the Authorize Role Guard
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
Due: azure-pipelines-origoapigateway.yml

Update the access check operation
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Added access check for partner admin in customers controller.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

made changes based on comments
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Added partner admin check for the remaining customer controller endpoints.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Added PartnerAdmin access to HardwareService-CustomerController
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/HardwareServiceCustomerControllerTest.cs
Due: azure-pipelines-origoapigateway.yml

Added PartnerAdmin access HardwareServiceBackofficeController
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceBackofficeController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/HardwareServiceBackofficeControllerTest.cs
Due: azure-pipelines-origoapigateway.yml

Fixed the build error
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/HardwareServiceCustomerControllerTest.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
Due: azure-pipelines-origoapigateway.yml

test case fix
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

PartnerAdmin permission fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added partnerAdmin permissions checks for Partners contoller
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/PartnersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/PartnersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

clean up
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
Due: azure-pipelines-origoapigateway.yml

remove unused using
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/ProductCatalogControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

PartnerId permission check
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
Due: azure-pipelines-origoapigateway.yml

ProductCatalog permission
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/ProductCatalogControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

change AcessList from string to List
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/DepartmentsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
Due: azure-pipelines-origoapigateway.yml

Added PartnerAdmin access to UserController
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

offboarding logic corrected for Manager
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
Due: azure-pipelines-origoapigateway.yml

Add partnerId when listing system and partner admins
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UnitTestDatabaseSeeder.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserPermissionsTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

customerAdmin permission fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
Due: azure-pipelines-origoapigateway.yml

Retrive all guids from accesslist for Customer Reference Field Controller
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomerReferenceFieldController.cs
Due: azure-pipelines-origoapigateway.yml

Do not show partner id in access list in GET permissions
  src/Services/Customer/CustomerServices/Exceptions/PartnerMissingForCustomerException.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UnitTestDatabaseSeeder.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserPermissionsTests.cs
Due: azure-pipelines-customers.yml

Only remove partnerid from accesslist in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/appsettings.json
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserPermissionsTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-hardware-service-order.yml: any of: azure-pipelines-hardware-service-order.yml, src/Core, charts/hardware-service-order-api, src/Services/HardwareServiceOrder
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
