Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Fixed a JSON loop issue
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/Customer.API/WriteModels/NewLocation.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/ServiceModels/AddressDTO.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Updated models with partnerID
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
Due: azure-pipelines-origoapigateway.yml

Added a empty return if the partner was not found
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Added partner filter to "get customers"
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

added integrationtest to docker build
  src/Services/Asset/Asset.API/Dockerfile
  src/Services/Customer/Customer.API/Dockerfile
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Renamed GetCustomerUsersAsync to GetOrganizationUserCountAsync to better harmonize with what's used in the rest of the code, and with what it actually does
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/OrganizationUserCount.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Removed the unused contactEmail property
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewOrganizationDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Updated the partner gateway models
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/PartnersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/PartnerDto.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewPartnerOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Partner.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/PartnerServices.cs
Due: azure-pipelines-origoapigateway.yml

Corrected a missing route and property fallback mappings
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/PartnersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/PartnerServices.cs
Due: azure-pipelines-origoapigateway.yml

Use health probe for Asset
  azure-pipelines-assets.yml
  charts/asset-api/templates/deployment.yaml
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Removed unused properties
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-customers.yml

Fixed healthcheck test
  src/Services/Asset/Tests/Asset.IntegrationTests/HealthCheckTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/HealthCheckTests.cs
Due: azure-pipelines-assets.yml

gateway fix for asset
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Change port for probe
  charts/asset-api/templates/deployment.yaml
Due: azure-pipelines-assets.yml

yaml error
  charts/asset-api/templates/deployment.yaml
Due: azure-pipelines-assets.yml

Add health probe to other microservices
  azure-pipelines-customers.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
  charts/customer-api/templates/deployment.yaml
  charts/origoapigateway/templates/deployment.yaml
  charts/origoapigateway/values.yaml
  charts/product-catalog-api/templates/deployment.yaml
  charts/subscriptionmanagement-api/templates/deployment.yaml
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Error in Helm chart for gateway
  charts/origoapigateway/templates/deployment.yaml
Due: azure-pipelines-origoapigateway.yml

Add healthcheck to startup
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
Due: azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml

Add userouting
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
Due: azure-pipelines-productcatalog.yml

Test setting tolerations on deployment
  charts/asset-api/values.yaml
Due: azure-pipelines-assets.yml

Allow for all microservices to be scheduled on spot node
  charts/customer-api/values.yaml
  charts/origoapigateway/values.yaml
  charts/product-catalog-api/values.yaml
  charts/subscriptionmanagement-api/values.yaml
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Registered lowercase URL preference for better consistency
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: azure-pipelines-origoapigateway.yml

Fixed sim card address logic
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Added date validation utility based on business rules
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/DateValidator.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Added date validation for P-B
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Added validation only for date and not time
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/DateValidator.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Added a partner-filter to get all customers
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
Due: azure-pipelines-origoapigateway.yml

API to get Admins (system/partner)
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserAdminDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/ViewModels/UserAdmin.cs
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added integration test project
  OrigoDomainServices.sln
  OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  OrigoGateway.IntegrationTests/UnitTest1.cs
Due: none

Added instructions for migrating between environments.
  manual-sql-updates/05-04-2022 - Partner re-assignment.txt
Due: none

Changed logic for date validation
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/DateValidator.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Removed datetime and fixed failing unittests
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/DateValidator.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Using dateOnly instead of dateTime
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/DateValidator.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Added interface for date so that it can be mocked in test
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/DateValidator.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Changed to using the method rather then the value for date interface
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Removed notFound() if customer dont have a user. It result in a empty page model rather then an error in frontend
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Mocked total value endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
Due: azure-pipelines-origoapigateway.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
