Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Fixed regex string
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/AssetInfoDTO.cs
Due: none

Added enum for extra services
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ExtraServicesEnum.cs
Due: none

Various updates and fixes to the event re-mapper
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Mappings/EventMapper.cs
Due: none

Added a missing end check on a Regex validation
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/DeliveryAddressDto.cs
Due: none

Changed a misleading name/description
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IRepairProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ProviderFactory.cs
Due: none

Rework based on latest feedback from Conmodo
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Contact.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/CreateOrderRequest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ConmodoProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ProviderFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/Mappings/EventMapperTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/ProviderServicesTests.cs
Due: none

Corrected two instances of wrong documentation inheritance
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceStatus.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceType.cs
Due: none

Updated documentation
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/CreateMessageRequest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/PriceSuggestionReply.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/ProductInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/StartStatus.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceStatusEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/DeliveryAddressDto.cs
Due: none

Fixed a JSON constructor issue
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalRepairOrderDTO.cs
Due: none

Added orderNumber to the response model
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/OrderResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ConmodoProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalRepairOrderDTO.cs
Due: none

Added constructor to DTO entity
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/DeliveryAddressDto.cs
Due: none

Updated entity configuration
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
Due: none

Filter Implemented Unit & Integration Testing Done Api Gateway Updated
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/FilterOptionsForAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Unit test updated
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Resolved Unit Tests
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Unit Test Updated for Asset Service
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Clean up asset service unit tests
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Add salary deduction transactions
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/SalaryDeductionTransactionConfiguration.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/Migrations/20220530195342_SalaryTransactions.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220530195342_SalaryTransactions.cs
  src/Services/Asset/AssetServices/Migrations/20220530200126_SalaryTransactionsPrecision.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220530200126_SalaryTransactionsPrecision.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/Models/SalaryDeductionTransaction.cs
  src/Services/Asset/AssetServices/ServiceModel/CreateAssetLifecycleDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
Due: azure-pipelines-assets.yml

Add runtime to lifecycle setting
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/LifeCycleSetting.cs
  src/Services/Asset/AssetServices/ServiceModel/LifeCycleSettingDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Same problem with delete as with the create
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
Due: azure-pipelines-origoapigateway.yml

Adding Env PartnerId in Seed Data
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
Due: azure-pipelines-productcatalog.yml

fix empty updateBy
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220531125052_bookValue_Option_in_transactional_with_partnerId_seedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220531131634_bookValue_Option_in_transactional_with_partnerId_seedData.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220531131634_bookValue_Option_in_transactional_with_partnerId_seedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/ProductCatalogContextModelSnapshot.cs
Due: azure-pipelines-productcatalog.yml

Fix Migration
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220531124332_parterId_in_SeedData.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220531124332_parterId_in_SeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220531125052_bookValue_Option_in_transactional_with_partnerId_seedData.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220531125052_bookValue_Option_in_transactional_with_partnerId_seedData.cs
Due: azure-pipelines-productcatalog.yml

Book value and purchase option
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220524210656_bookValue_Option_in_transactional.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220524210656_bookValue_Option_in_transactional.cs
Due: azure-pipelines-productcatalog.yml

Seed Data Migrations
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220531124332_parterId_in_SeedData.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220531124332_parterId_in_SeedData.cs
Due: azure-pipelines-productcatalog.yml

Consolidate assign and reassign user/department
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/MakeAssetAvailableProfile.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/ReAssignAssetLifeCycleDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/AssignAssetDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

typo and minor fix
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
Due: none

PR recreated
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/appsettings.json
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Configuration/AssetConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/OrigoConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/IAssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderCanceledStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderCompletedStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderOngoingStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderRegisteredStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderUnKnownStatusHandlerService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: none

not calling the deprecated endpoint
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
Due: none

NewHardwareServiceOrderDTO added
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/AssetInfo.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewHardwareServiceOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/OrderedByUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/DeliveryAddress.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/OrigoHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/HardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/RecipientTypeEnum.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: azure-pipelines-origoapigateway.yml

Added DateOnly support to Swagger
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Extensions/SwaggerGenOptionsExtensions.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
Due: none

Updated models
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/CreateOrderRequest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiRequests.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceTypeEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/DeliveryAddressDto.cs
Due: none

Remove unnecessary variable assignment in AssetLifecycle
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

Change HasBeenStolen and IsSentToRepair to use UpdateAssetStatus
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
Due: azure-pipelines-assets.yml

Add unit test for SentToRepair to check domain event
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
Due: azure-pipelines-assets.yml

Add Sent to Repair domain event for Asset
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/AssetSentToRepairDomainEvent.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

Rename senttorepair to IsSentToRepair
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
Due: azure-pipelines-assets.yml

Add setting to check if users should be added to Okta for a customer.
  src/Services/Customer/CustomerServices/Infrastructure/Context/ModelBuilderExtensions.cs
  src/Services/Customer/CustomerServices/Migrations/20220601111710_AddOktaUserToggle.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220601111710_AddOktaUserToggle.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/Models/Permission.cs
  src/Services/Customer/CustomerServices/Models/PermissionSet.cs
  src/Services/Customer/CustomerServices/Models/Role.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Added integration test checking access , resolved comment and rebased onto trunk
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/DepartmentsControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGatewayWebApplicationFactory.cs
Due: azure-pipelines-origoapigateway.yml

Fixed the test controller
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiRequests.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ConmodoProviderServices.cs
Due: none

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
