Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Remove sonarcloud setting
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Add verbose logging
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Missing line break marker
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Cobertura.xml change
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Use relative paths
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Reportgenerator param changes
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Line shift
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Also include cobertura raporttype
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

SonarQube format
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Publish change filename
  general-build.yaml
Due: none

Use SonarQube.xml
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Use flexpath
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Conditional PR build
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

if-else logic for pr variables
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

if adjustment
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Added new rules to assigning a department manager and new configuration for integration test project
  src/Services/Customer/CustomerServices/Infrastructure/Context/CustomerContext.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/DepartmentsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.IntegrationTests.csproj
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactoryExtensions.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebHostBuilderExtensions.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Order confirmation template added
  EmailTemplates/HardwareServiceOrder/OrderConfirmation.md
Due: none

Email client added for hardware service order
  src/Core/Configuration/EmailConfiguration.cs
  src/Core/Extensions/FlatDictionaryExtension.cs
  src/Core/Utilities/FlatDictionary.cs
  src/Core/Utilities/IFlatDictionaryProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/appsettings.json
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/IFlatDictionaryProvider.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/FlatDictionaryTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Adds Transactional Device Lifecycle product with NonPersonal asset management permission
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220509065932_adds_transactional_device_product_to_seed.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220509065932_adds_transactional_device_product_to_seed.cs
Due: azure-pipelines-productcatalog.yml

New report path for Cobertura file
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Replaced JSON conververs
  src/Core/Converters/DateOnlyConverter.cs
  src/Core/Converters/Json/DateOnlyJsonConverter.cs
  src/Core/Converters/TimeOnlyConverter.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Try SonarQube-format with different settings.
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Add wildcards
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Coverage report path
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

new path
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Docker and pipeline changes to get Sonarcloud working
  azure-pipelines-customers.yml
  azure-pipelines-hardware-service-order.yml
  azure-pipelines-origoapigateway.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
  src/ApiGateways/OrigoApiGateway/Dockerfile
  src/Services/Asset/Asset.API/Dockerfile
  src/Services/Customer/Customer.API/Dockerfile
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Dockerfile
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Forgot PR docker args
  src/ApiGateways/OrigoApiGateway/Dockerfile
  src/Services/Customer/Customer.API/Dockerfile
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Dockerfile
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml

All LifeCycleSetting per AsseetCategory
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewCategoryLifeCycleSettingProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewCategoryLifeCycleSettingDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/CategoryLifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/LifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewCategoryLifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewLifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/NewAssetProfile.cs
  src/Services/Asset/Asset.API/Mappings/PagedAssetProfile.cs
  src/Services/Asset/Asset.API/ViewModels/CategoryLifeCycleSetting.cs
  src/Services/Asset/Asset.API/ViewModels/LifeCycleSetting.cs
  src/Services/Asset/Asset.API/ViewModels/NewCategoryLifeCycleSetting.cs
  src/Services/Asset/Asset.API/ViewModels/NewLifeCycleSetting.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/SetBuyoutAllowedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/SetBuyoutPriceDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/UpdateMinBuyoutPriceDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/Migrations/20220510064735_lifeCycleSettingChanges.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220510064735_lifeCycleSettingChanges.cs
  src/Services/Asset/AssetServices/Models/CategoryLifeCycleSetting.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/LifeCycleSetting.cs
  src/Services/Asset/AssetServices/ServiceModel/CategoryLifeCycleSettingDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/LifeCycleSettingDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

lifeCycleSetting minBuyout
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/LifeCycleSettingConfiguration.cs
  src/Services/Asset/AssetServices/Migrations/20220510072404_lifeCycleSettingChanges_2.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220510072404_lifeCycleSettingChanges_2.cs
Due: azure-pipelines-assets.yml

Updated Conmodo's API models
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Contact.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/CreateOrderRequest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Delivery.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/ProductInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/UpdatedOrdersResponse.cs
Due: none

Asset Data return when make available
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Test arrange fix
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Updated DTOs and added service-provider interfaces
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IAftermarketProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IRepairProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/AssetInfoDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalRepairOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewRepairOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewRepairOrderResponseDTO.cs
Due: none

Updated the Conmodo implementation
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Contact.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiRequests.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Services.cs
Due: none

Added service-provider factory and configuration-class used for mapping secrets/appsetting values
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/appsettings.json
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ProviderFactory.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/appsettings.json
Due: none

Misc updates and added a controller for dev-testing.
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/PartnerSettings.cs
Due: none

Renamed the DTOs thats used externally for better clarity
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IRepairProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalRepairOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalRepairOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalRepairOrderResponseDTO.cs
Due: none

getting templates from resx file
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/OrderConfirmation.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.no.resx
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
Due: none

Initial commit
  EmailTemplates/HardwareServiceOrder/OrderConfirmation-NO.md
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/OrderConfirmation.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/OrderConfirmation.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/OrderConfirmation.no.resx
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/OrderConfirmation.resx
Due: none

.md file removed
  EmailTemplates/HardwareServiceOrder/OrderConfirmation-NO.md
  EmailTemplates/HardwareServiceOrder/OrderConfirmation.md
Due: none

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
