Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

9669 | Employee Offboarding Complete Endpoint
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/DomainEvents/OffboardingCompletedDomainEvent.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml

'Entry' Changed to 'Implement'
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220907133517_entry_renameTo_Implement.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220907133517_entry_renameTo_Implement.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductSeedDataValues.cs
Due: azure-pipelines-productcatalog.yml

Renamed a file to match with the class name
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalServiceOrderResponseDTO.cs
Due: none

Re-merged the repair and aftermarket models
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ConmodoProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IRepairProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalAftermarketServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalRepairServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalAftermarketServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalRepairServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForRemarketingTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForSURTests.cs
Due: none

Updated/added new models
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ConmodoProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IRepairProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalRepairOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalAftermarketServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalRepairOrderResponseDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForRemarketingTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForSURTests.cs
Due: none

Updated Conmodo's addon-services enum
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ExtraServicesEnum.cs
Due: none

Conmodo repair-orders should now support service-order-addons
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ConmodoProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/SeedData/HardwareServiceSeedData.cs
Due: none

Renamed several classes and methods in anticipation of the aftermarket interface implementation
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ConmodoProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IRepairProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalAftermarketServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalRepairServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalRepairServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForRemarketingTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForSURTests.cs
Due: none

Customer update error fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Added some missing permission checks
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
Due: azure-pipelines-origoapigateway.yml

Create release documents automatically
  azure-pipelines-assets.yml
  general-deploy.yaml
Due: azure-pipelines-assets.yml

Renamed methods and removed unnecessary assert for assetlifecycle.
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Trim repo path to wiki
  general-deploy.yaml
Due: none

Add param to wikiupdater for authentication option
  general-deploy.yaml
Due: none

Path updates of release doc
  general-deploy.yaml
Due: none

Add git commit message to release doc to wiki
  general-deploy.yaml
Due: none

Users added to Implement customers should not go through onboarding.
  azure-pipelines-assets.yml
  general-deploy.yaml
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/WriteModels/NewUser.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Add release docs for customer pipeline
  azure-pipelines-customers.yml
Due: azure-pipelines-customers.yml

Release doc updates
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  general-deploy.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Update all pipelines with automatic release docs for all environments
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  azure-pipelines-hardware-service-order.yml
  azure-pipelines-origoapigateway.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
  general-deploy.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Get all template values
  azure-pipelines-assets.yml
  general-deploy.yaml
Due: azure-pipelines-assets.yml

Dump values from template
  general-deploy.yaml
Due: none

Remove commented parts of template
  azure-pipelines-assets.yml
  general-deploy.yaml
Due: azure-pipelines-assets.yml

Set possibility for overriding AddToOkta customer setting for a new user
  azure-pipelines-customers.yml
  general-deploy.yaml
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/WriteModels/NewUser.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Fix "Cancel subscription" - wrong email template
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Fix "transfer to business" - missing "contact person" in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/BusinessSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoBusinessSubscription.cs
Due: azure-pipelines-origoapigateway.yml

Removed guid and made role check explicit.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Authorization/AddCallerIdHeaderHandler.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/TechstepCoreWebhookConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
Due: azure-pipelines-origoapigateway.yml

Admins access to permission controller
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Authorization/AddCallerIdHeaderHandler.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UserPermissionsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Fetch customer product to decide if users need to go through the onboarding.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

joined check and assignment
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
Due: azure-pipelines-origoapigateway.yml

Added a service-type filter for 'Get all service orders'
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/ServiceOrdersController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-origoapigateway.yml

Finished the conmodo implementation
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ConmodoProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Mappings/StartStatusMapper.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IAftermarketProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IGenericProviderOfferings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IProviderFactory.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IRepairProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceTypeEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ProviderFactory.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/IAssetService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.Conmodo.UnitTests/ProviderServicesTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

Changed to check for seeded product id
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

It's now possible to store the included service-order-addon IDs along with the order.
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceOrderAddon.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForRemarketingTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForSURTests.cs
Due: none

Added DB migrations
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220912132850_AddedOrderedServiceAddonsToServiceOrders.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220912132850_AddedOrderedServiceAddonsToServiceOrders.cs
Due: none

Add asset validation to gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssetFromCsvFile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssetValidationResult.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/ImportedAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/ImportedUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/InvalidImportedAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
Due: azure-pipelines-origoapigateway.yml

Reworked organization put and patch to not be able to update given attributes when customer is Techstep partner
  src/Core/Configuration/TechstepPartnerConfiguration.cs
  src/Services/Asset/Asset.API/appsettings.json
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationEncryptionTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/PartnerServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Added account owner to viewmodel
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Removed the Permission check
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
Due: azure-pipelines-origoapigateway.yml

added some more Asset status checks
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
