Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Added GlobalUsings files to the projects
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/GlobalUsings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/GlobalUsings.cs
Due: none

Removed two test lines
  src/Services/ProductCatalog/ProductCatalog.API/Infrastructure/ConfigureSwaggerOptions.cs
Due: azure-pipelines-productcatalog.yml

Added proper swagger versioning support
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ConfigureSwaggerOptions.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/HardwareServiceOrder.API.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/SwaggerDefaultValues.cs
Due: none

Registered lowercase URLs as default
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
Due: none

Unit tests added
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrder.UnitTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

Endpoints added in the microservice
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/HardwareServiceOrder.API.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/LoanDevice.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/appsettings.json
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/CustomerSettingsProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220422141833_Initial.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220422141833_Initial.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/HardwareServiceOrderContextModelSnapshot.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/CustomerSettingsDTO.cs
Due: none

Added a missing using
  manual-sql-updates/05-04-2022 - Partner re-assignment.txt
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
Due: none

Integration Tests added
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrder.IntegrationTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
Due: none

hardware repair config endpoints added in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/CustomerSettings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/LoanDevice.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  tye.yaml
Due: azure-pipelines-origoapigateway.yml

Map optional create asset fields
  src/Services/Asset/Asset.API/Mappings/NewAssetProfile.cs
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
Due: azure-pipelines-assets.yml

Add feature flag provider
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/FeatureFlagServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Core/Common.csproj
  src/Core/Utilities/ApiFeatureFilter.cs
  src/Core/Utilities/FeatureFlagConfiguration.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

IsPersonal field changes
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Migrations/20220425171534_IsPersonal.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220425171534_IsPersonal.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetLifecycleDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/NewAsset.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

AssetCategories API in Gateway Fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Build and release pipeline added for hardware microservice
  azure-pipelines-hardware-service-order.yml
  charts/hardware-service-order-api/.helmignore
  charts/hardware-service-order-api/Chart.yaml
  charts/hardware-service-order-api/templates/NOTES.txt
  charts/hardware-service-order-api/templates/_helpers.tpl
  charts/hardware-service-order-api/templates/collector-config.yaml
  charts/hardware-service-order-api/templates/deployment.yaml
  charts/hardware-service-order-api/templates/ingress.yaml
  charts/hardware-service-order-api/templates/secrets.yaml
  charts/hardware-service-order-api/templates/service.yaml
  charts/hardware-service-order-api/values.yaml
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Dockerfile
Due: none

Cluster port changed
  charts/hardware-service-order-api/values.yaml
Due: none

Nuget updates. Add feature flag management to asset microservice startup.
  OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Boilerplate.EntityFramework.UnitTest.csproj
  src/Boilerplate/Boilerplate.EntityFramework/Boilerplate.EntityFramework.csproj
  src/Core/Common.csproj
  src/Services/Asset/Asset.API/Asset.API.csproj
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Asset/Asset.API/appsettings.json
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/CustomerServices/CustomerServices.csproj
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.IntegrationTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/HardwareServiceOrder.API.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrder.IntegrationTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrder.UnitTests.csproj
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/ProductCatalog/ProductCatalog.Common/ProductCatalog.Common.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagement.IntegrationTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

return deleted user in response
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

unit test fixed
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
Due: azure-pipelines-origoapigateway.yml

Generic interfaces added for hardware service order
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/Location.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderDTO.cs
Due: none

Added Ispersonal, changed logic for LifecycleType and mapping personal/non personal to system label
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewAssetDTO.cs
  src/Services/Asset/Asset.API/Mappings/PagedAssetProfile.cs
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/Asset.API/ViewModels/CustomerLabelResponse.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/AssignSystemLabelDomainEvent.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/LabelDTO.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added in new AssetLifecycleStatus values to support new events and fixed auditlog
  src/Core/Enums/AssetLifecycleStatus.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/AssignLabelToAssetLifecycleDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/AssignSystemLabelDomainEvent.cs
  src/Services/Asset/AssetServices/Models/CustomerLabel.cs
  src/Services/Asset/AssetServices/Models/Label.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Returning Displayname in the response
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
Due: azure-pipelines-origoapigateway.yml

Updated logic for department manager
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml

Hardware Service Order Endpoints added in the gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/DeliveryAddress.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/HardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/HardwareServiceOrderLog.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/HardwareServiceOrderLog.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderLogDTO.cs
Due: azure-pipelines-origoapigateway.yml

Removed adding an explicit label for personal/isPersonal. Only set property isPersonal for froentend
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/AssignSystemLabelDomainEvent.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

Life Cycle Setting Backend
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/NewAssetProfile.cs
  src/Services/Asset/Asset.API/ViewModels/NewCategoryLifeCycleSetting.cs
  src/Services/Asset/Asset.API/ViewModels/NewLifeCycleSetting.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/SetBuyoutPriceDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/UpdateBuyoutAllowedDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Infrastructure/LifeCycleSettingRepository.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/Migrations/20220426232920_lifeCycleSettings.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220426232920_lifeCycleSettings.cs
  src/Services/Asset/AssetServices/Models/CategoryLifeCycleSetting.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/LifeCycleSetting.cs
  src/Services/Asset/AssetServices/ServiceModel/CategoryLifeCycleSettingDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/LifeCycleSettingDTO.cs
Due: azure-pipelines-assets.yml

Integration and Unit Tests
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/PagedAssetProfile.cs
  src/Services/Asset/Asset.API/ViewModels/CategoryLifeCycleSetting.cs
  src/Services/Asset/Asset.API/ViewModels/LifeCycleSetting.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/UpdateMinBuyoutPriceDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/Migrations/20220427184416_lifeCycleSettings.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220427184416_lifeCycleSettings.cs
  src/Services/Asset/AssetServices/Migrations/AssetsContextModelSnapshot.cs
  src/Services/Asset/AssetServices/Models/CategoryLifeCycleSetting.cs
  src/Services/Asset/AssetServices/Models/LifeCycleSetting.cs
  src/Services/Asset/AssetServices/ServiceModel/CategoryLifeCycleSettingDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

TestCase fix
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Allow null return in get request
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

Added labels to response
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Create pipeline template for build
  OrigoDomainServices.sln
  azure-pipelines-assets.yml
  general-build.yaml
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/FeatureManagerStub.cs
Due: azure-pipelines-assets.yml

Updates Sonarcloud settings
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Missing test data in Assets removed due to rebase conflict.
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
Due: azure-pipelines-assets.yml

Add deploy template to pipeline
  OrigoDomainServices.sln
  azure-pipelines-assets.yml
  general-deploy.yaml
Due: azure-pipelines-assets.yml

Incorrect template yaml formatting
  general-deploy.yaml
Due: none

Incorrect parameter in template
  general-deploy.yaml
Due: none

Incorrect stage name for Test
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Incorrect tag name in deploy
  azure-pipelines-assets.yml
  general-deploy.yaml
Due: azure-pipelines-assets.yml

Updated other pipeline files to use templates
  OrigoDomainServices.sln
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  azure-pipelines-hardware-service-order.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
  general-build.yaml
  src/Services/Customer/Customer.API/Dockerfile
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Dockerfile
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Ensure logging dbcontext is not used for ProductCatalog
  azure-pipelines-productcatalog.yml
Due: azure-pipelines-productcatalog.yml
