Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Temporary change to how we activate users and error handling
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Delete customerlabel fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/Controllers/UserController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added labels list to return when deleting a label
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/LabelsProfile.cs
Due: azure-pipelines-assets.yml

Added repair status to the asset counter
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAssetCounter.cs
  src/Services/Asset/Asset.API/ViewModels/AssetCounter.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetCounter.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Fix assetinfoprofile test
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/AssetInfoProfileTests.cs
Due: none

Fix hashset Imei not being mapped to single imei in AssetInfoDto
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/AssetInfoProfile.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderProfileTests.cs
Due: none

Fix an assert
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderProfileTests.cs
Due: none

Return Updated Data only
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Revert "Registered Service Event Added while creating Order"
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
Due: none

Added accsess for managers in post department and changed patch departments to not add already added managers.
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Department.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/DepartmentsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
Due: azure-pipelines-customers.yml

Encryption/Decryption implemented using asp.net core data protection
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220707102551_AddDataProtectionKeys.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220707102551_AddDataProtectionKeys.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

Pubsub fix
  OrigoDomainServices.sln
  charts/customer-api/subscriptions.yaml
  charts/customer-api/templates/subscription-user-assign-department.yaml
  charts/customer-api/templates/subscription-user-deleted.yaml
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Controllers/UserController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/UserControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Remove namespace from subscription template
  OrigoDomainServices.sln
  charts/customer-api/templates/subscription-user-assign-department.yaml
  charts/customer-api/templates/subscription-user-deleted.yaml
Due: azure-pipelines-customers.yml

Invalid metadata name for helm
  charts/customer-api/templates/subscription-user-assign-department.yaml
  charts/customer-api/templates/subscription-user-deleted.yaml
Due: azure-pipelines-customers.yml

Add pubsub to chart
  OrigoDomainServices.sln
  charts/customer-api/templates/pubsub.yaml
Due: azure-pipelines-customers.yml

Add rabbitmq overrides to deploy
  azure-pipelines-customers.yml
  charts/customer-api/templates/pubsub.yaml
  charts/customer-api/values.yaml
Due: azure-pipelines-customers.yml

Added userId to filter in get asset when user is endUser
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added departments to filter when user is manager
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

search inside username implemented
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

permission given to enduser, manager and customer admin
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
Due: azure-pipelines-origoapigateway.yml

UpdateOrderStatusAsync Updated
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
Due: none

Refactoring of exceptions in Asset microservice
  src/Core/Enums/OrigoErrorCodes.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Filters/ErrorExceptionFilter.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Exceptions/AssetCategoryNotFoundException.cs
  src/Services/Asset/AssetServices/Exceptions/AssetException.cs
  src/Services/Asset/AssetServices/Exceptions/AssetExpireRequestException.cs
  src/Services/Asset/AssetServices/Exceptions/AssetExpiresSoonRequestException.cs
  src/Services/Asset/AssetServices/Exceptions/AssetLifeCycleSettingNotFoundException.cs
  src/Services/Asset/AssetServices/Exceptions/BuyoutDeviceRequestException.cs
  src/Services/Asset/AssetServices/Exceptions/CustomerSettingsException.cs
  src/Services/Asset/AssetServices/Exceptions/InactiveDeviceRequestException.cs
  src/Services/Asset/AssetServices/Exceptions/InvalidAssetDataException.cs
  src/Services/Asset/AssetServices/Exceptions/InvalidAssetImeiException.cs
  src/Services/Asset/AssetServices/Exceptions/InvalidAssetMacAddressException.cs
  src/Services/Asset/AssetServices/Exceptions/InvalidLifecycleTypeException.cs
  src/Services/Asset/AssetServices/Exceptions/InvalidOperationForInactiveState.cs
  src/Services/Asset/AssetServices/Exceptions/ReadingDataException.cs
  src/Services/Asset/AssetServices/Exceptions/ResourceNotFoundException.cs
  src/Services/Asset/AssetServices/Exceptions/ReturnDeviceRequestException.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/Models/CustomerLabel.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Deleted unused exceptions
  src/Services/Asset/AssetServices/Exceptions/CustomerSettingsException.cs
  src/Services/Asset/AssetServices/Exceptions/ReadingDataException.cs
Due: azure-pipelines-assets.yml

Fixed build error
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

Use IHttpClientFactory instead of HttpClient
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/DepartmentsServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/FeatureFlagServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/PartnerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ProductCatalogServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/WebshopService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added httpClientFactory for emailservice
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Asset/AssetServices/Email/EmailService.cs
Due: azure-pipelines-assets.yml

Added CustomerStatus and added automapper between organization model and dto
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Core/Enums/CustomerStatus.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Mappings/OrganizationProfile.cs
  src/Services/Customer/CustomerServices/Migrations/20220721102431_Added_CustomerStatus.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220721102431_Added_CustomerStatus.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationDTO.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Update dapr api version
  charts/customer-api/templates/subscription-user-assign-department.yaml
  charts/customer-api/templates/subscription-user-deleted.yaml
  src/Services/Asset/Asset.API/Controllers/UserController.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Manifest changes for dapr.io/v2alpha1
  charts/customer-api/templates/subscription-user-assign-department.yaml
  charts/customer-api/templates/subscription-user-deleted.yaml
Due: azure-pipelines-customers.yml

Temp disable subscriptions
  charts/customer-api/templates/subscription-user-assign-department.yaml
  charts/customer-api/templates/subscription-user-deleted.yaml
Due: azure-pipelines-customers.yml

Remove warning throwing exceptions
  src/Services/Customer/Customer.API/Startup.cs
Due: azure-pipelines-customers.yml

Added email service to customer microservice
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/Customer.API/appsettings.json
  src/Services/Customer/CustomerServices/CustomerServices.csproj
  src/Services/Customer/CustomerServices/Email/EmailService.cs
  src/Services/Customer/CustomerServices/Email/IEmailService.cs
  src/Services/Customer/CustomerServices/Email/Models/InvitationMail.cs
  src/Services/Customer/CustomerServices/Resources/Customer.Designer.cs
  src/Services/Customer/CustomerServices/Resources/Customer.resx
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.IntegrationTests.csproj
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/EmailServiceTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Added post endpoint for customer onboarding status change in backend
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Filters/ErrorExceptionFilter.cs
  src/Services/Customer/CustomerServices/DomainEvents/CustomerStartedOnboardingDomainEvent.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-customers.yml

Error when trying to add customers preferences
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml

Add "me" endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
Due: azure-pipelines-origoapigateway.yml

Added isActiveState based on userStatus, changed userstatus on init and sending invitation mail
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUser.cs
  src/Core/Enums/UserStatus.cs
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/Customer.API/ViewModels/User.cs
  src/Services/Customer/CustomerServices/Email/EmailService.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserDTO.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Removed unnecessary method on user entity
  src/Services/Customer/CustomerServices/Models/User.cs
Due: azure-pipelines-customers.yml

Added gateway endpoint for initiate onbaording status for customers and rebased
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/DomainEvents/CustomerStartedOnboardingDomainEvent.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added count for not onboarded users to userCount endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/CustomerUserCount.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
  src/Core/Enums/UserStatus.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/OrganizationUserCount.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml
