Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-hardware-service-order.yml: any of: azure-pipelines-hardware-service-order.yml, src/Core, charts/hardware-service-order-api, src/Services/HardwareServiceOrder
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Added Data sync related endpoints
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Controllers/EmployeeDatasyncDepartmentsController.cs
  src/Services/Customer/Customer.API/Controllers/EmployeeDatasyncUsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/EmployeeDatasyncControllerTests.cs
Due: azure-pipelines-customers.yml

ErrorFilter was not registrated for ProductCatalog api
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
Due: azure-pipelines-productcatalog.yml

Changed regex and added documentation to swagger
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForUser.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added search on users phone number
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UnitTestDatabaseSeeder.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

productCatalog made into userPermission
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/Core/Enums/ProductSeedDataValues.cs
  src/Core/Enums/ProductTypeSeedDataValue.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

test fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
Due: azure-pipelines-origoapigateway.yml

test conflict fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport.csv
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_purchase_price_validation.csv
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

ProductCatalog revert
  src/Services/ProductCatalog/ProductCatalog.Common/ProductCatalog.Common.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductSeedDataValues.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductTypeSeedDataValue.cs
Due: azure-pipelines-productcatalog.yml

Import Asset PuchaseType for correct LifeCycleType
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/ProductCatalogControllerTests.cs
  src/Core/Enums/ProductSeedDataValues.cs
  src/Core/Enums/ProductTypeSeedDataValue.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetFromCsvFile.cs
  src/Services/Asset/AssetServices/ServiceModel/ImportedAsset.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport.csv
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport_duplicateIMEI.csv
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

User Patch Permission fix for endUser
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

PurchaseType input without the code
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport.csv
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport_duplicateIMEI.csv
Due: azure-pipelines-assets.yml

reference fix
  src/Services/ProductCatalog/ProductCatalog.Common/ProductCatalog.Common.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
Due: azure-pipelines-productcatalog.yml

Error handling added and removed caching for /me endpoint
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
  src/Core/Infrastructure/CacheService.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Added data validation logic to cache fetching
  src/Core/Infrastructure/CacheService.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

TTL set to 1 hour
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
Due: azure-pipelines-origoapigateway.yml

Added Data fetching logic from cache
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
Due: azure-pipelines-origoapigateway.yml

Added null nullability return type and done collection type to IEnumerable
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserPermissionsTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/Core/Infrastructure/CacheService.cs
  src/Core/Infrastructure/ICacheService.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Added Redis Caching integration to 2 endpoints.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserPermissionsTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
  src/Core/Common.csproj
  src/Core/Infrastructure/CacheService.cs
  src/Core/Infrastructure/ICacheService.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Set the TTL to 5 minutes
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
Due: azure-pipelines-origoapigateway.yml

Added checks to chech fetching
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/Core/Infrastructure/CacheService.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Trim whitespace before and after users search string
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Customer Preferences was not included
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Editing SubscriptionIsHandledForOffboarding when user orders ttp or cancel subscription
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/SubscriptionManagementServiceTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added first and last name on assetholder for assetlifecycle
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Fix the 403 error for EndUser
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/HardwareServiceCustomerControllerTest.cs
Due: azure-pipelines-origoapigateway.yml

Parameter Name Change
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/FilterOptionsForSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

clean up
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Subscription Orders Search, Pagination, Filter
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/FilterOptionsForSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/ActivateSimOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CancelSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/ChangeSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/TransferToBusinessSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/TransferToPrivateSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20221103145651_mobileNumber_default_to_nvarchar.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20221103145651_mobileNumber_default_to_nvarchar.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CancelSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/SubscriptionOrderBaseData.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/SubscriptionOrderListItemDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
Due: azure-pipelines-origoapigateway.yml

Concat based on OrderTypes
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
Due: none

XML documentations
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: azure-pipelines-origoapigateway.yml

Moved search-enums to the "Core" project
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Core/Enums/DateSearchType.cs
  src/Core/Enums/StringSearchType.cs
  src/Services/Asset/AssetServices/Models/SearchParameters.cs
  src/Services/Asset/AssetServices/Models/SearchType.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Fixed missing XML support for Swagger
  src/Services/Asset/Asset.API/Asset.API.csproj
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Asset/AssetServices/AssetServices.csproj
Due: azure-pipelines-assets.yml

Added an LINQ extension that allows for ordering using the properties string-value
  src/Core/Extensions/IQueryableExtension.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Enabled "nullable" in the test-project, and added a "global using" file
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/EmailServiceTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/GlobalUsings.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/Infrastructure/AssetLifecycleRepositoryTests.cs
Due: azure-pipelines-assets.yml

Added initial search-parameters
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/SearchParameters.cs
  src/Services/Asset/AssetServices/Models/SearchType.cs
Due: azure-pipelines-assets.yml

Added additional search settings
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/SearchParameters.cs
  src/Services/Asset/AssetServices/Models/SearchType.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/Infrastructure/AssetLifecycleRepositoryTests.cs
Due: azure-pipelines-assets.yml

Add pusub subscription manifests
  OrigoDomainServices.sln
  charts/customer-api/templates/subscription-department-create.yaml
  charts/customer-api/templates/subscription-department-delete.yaml
  charts/customer-api/templates/subscription-department-update.yaml
  charts/customer-api/templates/subscription-employee-delete.yaml
  charts/customer-api/templates/subscription-employee-update.yaml
  src/Services/Customer/Customer.API/Controllers/CustomerDatasyncDepartmentsController.cs
Due: azure-pipelines-customers.yml

Incorrect topic name for manifest
  charts/customer-api/templates/subscription-department-delete.yaml
Due: azure-pipelines-customers.yml

Added a asset quicksearch to the API gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsBackofficeController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/Backend/AssetSearchParameters.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Added subscription products for swedish operators
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/OperatorConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20221107120952_seed_swedish_subscription_products.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20221107120952_seed_swedish_subscription_products.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SeedData/DataSeeding.cs
Due: none
