Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer

Work in progress
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Label.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewLabel.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Core/Enums/LabelColor.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Migrations/20211202094931_CustomerLabelEntity.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20211202094931_CustomerLabelEntity.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/AssetLabel.cs
  src/Services/Asset/AssetServices/Models/CustomerLabel.cs
  src/Services/Asset/AssetServices/Models/IAssetRepository.cs
  src/Services/Asset/AssetServices/Models/Label.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Set date and callerId on labels
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Core/Enums/LabelColor.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/AssetServices/Models/CustomerLabel.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

don't return 404 when count is 0
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Fixed update not working
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/Label.cs
  src/Services/Asset/AssetServices/Models/CustomerLabel.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
Due: azure-pipelines-assets.yml

Add actor claim to identity. Fixed some compiler warnings.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserPermissionsDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/ViewModels/UserPermissions.cs
  src/Services/Customer/CustomerServices/Models/Location.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Added domain events for customerLabel Made fields required in Label (Gateway)
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Label.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/CustomerLabelChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/CustomerLabelCreatedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/CustomerLabelDeletedDomainEvent.cs
  src/Services/Asset/AssetServices/Models/CustomerLabel.cs
Due: azure-pipelines-assets.yml

Enabled authorize
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
Due: none

AssetLabel Unit tests DomainEvents (not working yet) CallerId fixed Get Assigned labels with asset Set AssetLabel to inactive when CustomerLabel is deactivated
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssetLabels.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoMobilePhone.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoTablet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/Asset.API/ViewModels/AssetLabels.cs
  src/Services/Asset/Asset.API/ViewModels/MobilePhone.cs
  src/Services/Asset/Asset.API/ViewModels/Tablet.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLabelChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLabelCreatedDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Migrations/20211206013950_AssetLabelEntity.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20211206013950_AssetLabelEntity.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/AssetLabel.cs
  src/Services/Asset/AssetServices/Models/CustomerLabel.cs
  src/Services/Asset/AssetServices/Models/IAssetRepository.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Added chart files
  charts/customer-api/Chart.yaml
  charts/customer-api/templates/_helpers.tpl
  charts/customer-api/templates/collector-config.yaml
  charts/customer-api/templates/deployment.yaml
  charts/customer-api/templates/ingress.yaml
  charts/customer-api/templates/secrets.yaml
  charts/customer-api/templates/service.yaml
  charts/customer-api/values.yaml
Due: azure-pipelines-customers.yml

Added additional requirements, and extended API & service class functionality
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/FeaturesController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/OrdersController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductTypesController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductsController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Infrastructure/ConfigureSwaggerOptions.cs
  src/Services/ProductCatalog/ProductCatalog.API/Infrastructure/SwaggerDefaultValues.cs
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Exceptions/EntityNotFoundException.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Exceptions/RequirementNotFulfilledException.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Generic/Requirement.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Generic/Translation.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Interfaces/ITranslationResult.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Orders/UpdateProductOrders.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/ProductCatalog.Domain.csproj
  src/Services/ProductCatalog/ProductCatalog.Domain/Products/ProductGet.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/FeatureService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureExcludesConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureRequiresAllConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureRequiresOneConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContext.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Feature.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/FeatureExcludes.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/FeatureRequiresAll.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/FeatureRequiresOne.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/ProductExcludes.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/ProductRequiresAll.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Joins/ProductRequiresOne.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/OrderService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductService.cs
Due: none

Added the product catalog to tye
  tye.yaml
Due: none

Fixed domainEvents soft delete custome labels will update all assetlabels associated Asset will only show labels where IsDelete == false
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLabelChangedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLabelCreatedDomainEvent.cs
  src/Services/Asset/AssetServices/Exceptions/ResourceNotFoundException.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetContextFactory.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/AssetServices/Migrations/20211206131156_RemovedNeedlessFieldFromAssetLabel.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20211206131156_RemovedNeedlessFieldFromAssetLabel.cs
  src/Services/Asset/AssetServices/Models/AssetLabel.cs
Due: azure-pipelines-assets.yml

Update azure-pipelines-origoapigateway.yml for Azure Pipelines
  azure-pipelines-origoapigateway.yml
Due: none

count only active assets
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Revert "Added chart files"
  charts/customer-api/Chart.yaml
  charts/customer-api/templates/_helpers.tpl
  charts/customer-api/templates/collector-config.yaml
  charts/customer-api/templates/deployment.yaml
  charts/customer-api/templates/ingress.yaml
  charts/customer-api/templates/secrets.yaml
  charts/customer-api/templates/service.yaml
  charts/customer-api/values.yaml
Due: azure-pipelines-customers.yml

Re-added proper chart template files
  OrigoDomainServices.sln
  charts/product-catalog/.helmignore
  charts/product-catalog/Chart.yaml
  charts/product-catalog/templates/NOTES.txt
  charts/product-catalog/templates/_helpers.tpl
  charts/product-catalog/templates/collector-config.yaml
  charts/product-catalog/templates/deployment.yaml
  charts/product-catalog/templates/ingress.yaml
  charts/product-catalog/templates/secrets.yaml
  charts/product-catalog/templates/service.yaml
  charts/product-catalog/values.yaml
Due: none

Added initial unit-test setup for the EntityFramework boilerplate project. Tests are not yet added.
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Boilerplate.EntityFramework.UnitTest.csproj
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Context/TestingContext.cs
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Context/TestingContextFactory.cs
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Entity/Item.cs
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Entity/Tag.cs
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Repository/ItemRepository.cs
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Repository/TagRepository.cs
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/UnitOfWork.cs
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/UnitTest1.cs
Due: none

Fixed typo in tye.yaml causing it to break
  tye.yaml
Due: none

SoftDelete on customerLabel won't throw error if label was never assigned to assets AddCustomerLabelsForCustomer will now only return active labels, not soft deleted ones.
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
Due: azure-pipelines-assets.yml

Removed additional controller version used for demoing the multi-version support.
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/FeaturesController.cs
Due: none

Disabled DBContext error logging (for debugging purposes)
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextFactory.cs
Due: none

Various documentation improvements, code-cleanup and improvements needed by the gateway
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/OrdersController.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Repositories/OrderRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/OrderService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/PopulateData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductService.cs
Due: none

Added the initial gateway functionality
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Exceptions/MicroserviceErrorResponseException.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductGet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductOrdersDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductOrdersPut.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductTypeGet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/Requirement.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/Translation.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IProductCatalogServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ProductCatalogConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ProductCatalogServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
Due: none

Bumped the Swashbuckle version, and added 'Swashbuckle Annontations'.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
Due: none

Enabled Swagger annontations
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: none

Enabled XML documentation for Swagger
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: none

Updated documentation and added a new API method for retrieving orders.
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/FeaturesController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/OrdersController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductTypesController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductsController.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Exceptions/EntityNotFoundException.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Exceptions/RequirementNotFulfilledException.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Generic/Requirement.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Generic/Translation.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Generic/TranslationWithId.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Orders/OrderGet.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Orders/UpdateProductOrders.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/ProductTypes/ProductTypeGet.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/ProductTypes/ProductTypePost.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/ProductTypes/ProductTypeUpdate.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Products/ProductGet.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/EntityAdapter.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/OrderService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductService.cs
Due: none

Updated documentation
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductGet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductOrdersPut.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductTypeGet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/Requirement.cs
Due: none

Added additional documentation
  src/Services/ProductCatalog/ProductCatalog.Domain/Exceptions/EntityNotFoundException.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Exceptions/RequirementNotFulfilledException.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Generic/Requirement.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Generic/Translation.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Interfaces/ITranslatable.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Orders/OrderGet.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/Orders/UpdateProductOrders.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/ProductTypes/ProductTypeGet.cs
  src/Services/ProductCatalog/ProductCatalog.Domain/ProductTypes/ProductTypePost.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Repositories/IOrderRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Spesification/Specification.cs
Due: none

Enabled documentation generation, and enabled the corresponding nowarn tag.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Boilerplate.EntityFramework.UnitTest.csproj
  src/Boilerplate/Boilerplate.EntityFramework/Boilerplate.EntityFramework.csproj
  src/Services/ProductCatalog/ProductCatalog.Domain/ProductCatalog.Domain.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
Due: none

Fixed incorrect launch URL for the gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Properties/launchSettings.json
Due: none

Added seed-data
  src/Core/Extensions/GuidExtension.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductTypesController.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContext.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Feature.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/FeatureType.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/PopulateData.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Renamed chart folder to conform to standard, and updated the pipeline file
  OrigoDomainServices.sln
  azure-pipelines-productcatalog.yml
  charts/product-catalog-api/.helmignore
  charts/product-catalog-api/Chart.yaml
  charts/product-catalog-api/templates/NOTES.txt
  charts/product-catalog-api/templates/_helpers.tpl
  charts/product-catalog-api/templates/collector-config.yaml
  charts/product-catalog-api/templates/deployment.yaml
  charts/product-catalog-api/templates/ingress.yaml
  charts/product-catalog-api/templates/secrets.yaml
  charts/product-catalog-api/templates/service.yaml
  charts/product-catalog-api/values.yaml
  src/Services/ProductCatalog/ProductCatalog.API/appsettings.json
Due: none

Fixed an invalid path
  azure-pipelines-productcatalog.yml
Due: none

Renamed the "Domain" project & corresponding folder to "Common"
  OrigoDomainServices.sln
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/OrdersController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductTypesController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductsController.cs
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
  src/Services/ProductCatalog/ProductCatalog.Common/Exceptions/EntityNotFoundException.cs
  src/Services/ProductCatalog/ProductCatalog.Common/Exceptions/RequirementNotFulfilledException.cs
  src/Services/ProductCatalog/ProductCatalog.Common/Generic/Requirement.cs
  src/Services/ProductCatalog/ProductCatalog.Common/Generic/Translation.cs
  src/Services/ProductCatalog/ProductCatalog.Common/Generic/TranslationWithId.cs
  src/Services/ProductCatalog/ProductCatalog.Common/Interfaces/ITranslatable.cs
  src/Services/ProductCatalog/ProductCatalog.Common/Interfaces/ITranslationResult.cs
  src/Services/ProductCatalog/ProductCatalog.Common/Orders/OrderGet.cs
  src/Services/ProductCatalog/ProductCatalog.Common/Orders/UpdateProductOrders.cs
  src/Services/ProductCatalog/ProductCatalog.Common/ProductCatalog.Common.csproj
  src/Services/ProductCatalog/ProductCatalog.Common/ProductTypes/ProductTypeGet.cs
  src/Services/ProductCatalog/ProductCatalog.Common/ProductTypes/ProductTypePost.cs
  src/Services/ProductCatalog/ProductCatalog.Common/ProductTypes/ProductTypeUpdate.cs
  src/Services/ProductCatalog/ProductCatalog.Common/Products/ProductGet.cs
  src/Services/ProductCatalog/ProductCatalog.Common/TypeConverter.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/EntityAdapter.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/FeatureService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Repositories/Boilerplate/ITranslationRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Repositories/Boilerplate/TranslationRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Boilerplate/Translation.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Feature.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/FeatureType.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Product.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductType.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/OrderService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductService.cs
Due: none

Ran automated cleanup script on all projects and classes thats been worked on.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Exceptions/ResourceNotFoundException.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductOrdersDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductOrdersPut.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ProductCatalogServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Context/TestingContextFactory.cs
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/UnitOfWork.cs
  src/Boilerplate/Boilerplate.EntityFramework/Generics/Repositories/ITemporalReadRepository.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/OrdersController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductTypesController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ProductsController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Infrastructure/SwaggerDefaultValues.cs
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/FeatureService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureExcludesConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureRequiresAllConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureRequiresOneConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/FeatureTypeConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/OrderConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductExcludesConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductFeatureConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductRequiresAllConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/EntityConfiguration/ProductRequiresOneConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextFactory.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Repositories/IProductRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Repositories/ProductRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Boilerplate/Translation.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Entity.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Product.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductType.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/OrderService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/PopulateData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductService.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Specification/Evaluator/ISpecificationEvaluator.cs
Due: none

Updated port number
  charts/product-catalog-api/values.yaml
Due: none

Added migration file
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20211210083040_init.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20211210083040_init.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/ProductCatalogContextModelSnapshot.cs
Due: none

Update azure-pipelines-productcatalog.yml for Azure Pipelines
  azure-pipelines-productcatalog.yml
Due: none
