Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

AssetService conflict fix
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

IAssetService conflict fix
  src/Services/Asset/AssetServices/IAssetServices.cs
Due: azure-pipelines-assets.yml

IAssetService merge error
  src/Services/Asset/AssetServices/IAssetServices.cs
Due: azure-pipelines-assets.yml

Added tests for send to repair
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Asset Counter for Expired status
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetCounter.cs
Due: azure-pipelines-assets.yml

Initial commit
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/LoanDevice.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/CustomerSettingsDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

gateway model updated
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/LoanDevice.cs
Due: azure-pipelines-origoapigateway.yml

migration added
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220624160111_provides_loan_device.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220624160111_provides_loan_device.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
Due: none

Fixed several warnings in a unit-test class
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
Due: none

Fixes for the EF save interceptor not correctly applying all values
  src/Core/EntityFramework/SaveContextChangesInterceptor.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Added DB migrations for the new standardized entity configuration (Auditable inheritance)
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220628132909_standardized_auditable_configuration.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220628132909_standardized_auditable_configuration.cs
Due: none

Updated entity configurations so they use inherit the configuration for the Auditable class
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceStatusConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceTypeConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/SeedData/HardwareServiceSeedData.cs
Due: none

Resolved several warnings
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
Due: none

Added a base-configuration for the Auditable entity that can be used by its children
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/AuditableConfiguration.cs
Due: none

Expired Asset property in BFF
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAssetCounter.cs
Due: azure-pipelines-origoapigateway.yml

Group appsettings.development,json file with appsettings.json.
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Customer/CustomerServices/CustomerServices.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Registered Service Event Added while creating Order
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
Due: none

PendingReturn, Buyout Email and refactoring
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ReturnDeviceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/Mappings/EndOfLifeMappings.cs
  src/Services/Asset/Asset.API/ViewModels/ReturnDevice.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Email/EmailService.cs
  src/Services/Asset/AssetServices/Email/IEmailService.cs
  src/Services/Asset/AssetServices/Email/Model/AssetBuyoutNotification.cs
  src/Services/Asset/AssetServices/Email/Model/PendingReturnNotification.cs
  src/Services/Asset/AssetServices/Exceptions/BuyoutDeviceRequestException.cs
  src/Services/Asset/AssetServices/Exceptions/InactiveDeviceRequestException.cs
  src/Services/Asset/AssetServices/Exceptions/ReturnDeviceRequestException.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/Resources/Asset.Designer.cs
  src/Services/Asset/AssetServices/Resources/Asset.resx
  src/Services/Asset/AssetServices/ServiceModel/ReturnDeviceDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added IsActiveState to asset dto
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Fixed a nullability issue that resulted in a optional parameter becoming required
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
Due: azure-pipelines-origoapigateway.yml

Removed a unused and unsupported endpoint and it's service-class
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Added a bat file for running all DB migrations
  run-ef-db-migrations.bat
Due: none

Added activation of the user that has been deleted
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml

Added activating og creating new user in okta when activating a user
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

initial commit
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/CustomerSettings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/HardwareServiceOrder.cs
Due: azure-pipelines-origoapigateway.yml

documentation added
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/AssetInfo.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/LoanDevice.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerSettings.cs
Due: azure-pipelines-origoapigateway.yml

Many-to-many for assetlifecycles and labels
  src/Services/Asset/AssetServices/Migrations/20220701072222_customerlabel_manytomany.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220701072222_customerlabel_manytomany.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/Models/CustomerLabel.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Return empty object when null
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/DisposeSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Return created object instead of list
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Removed customerId check
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
Due: azure-pipelines-origoapigateway.yml

Removed commented out permissions
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
Due: azure-pipelines-origoapigateway.yml

Removed unused callerId
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
Due: azure-pipelines-origoapigateway.yml

Added department guid to filter so that manager gets to view department users
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added missing values to assetlifecycle response
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Asset 'ExpiresSoon' added
  src/Core/Enums/AssetLifecycleStatus.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/MakeAssetExpiresSoonDomainEvent.cs
  src/Services/Asset/AssetServices/Exceptions/AssetExpireRequestException.cs
  src/Services/Asset/AssetServices/Exceptions/AssetExpiresSoonRequestException.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Added accsesslist to assignedDepartments in getUserCount gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

pub sub update
  charts/customer-api/subscriptions.yaml
  src/Services/Asset/Asset.API/Controllers/UserController.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Nuget updates
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Boilerplate.EntityFramework.UnitTest.csproj
  src/Boilerplate/Boilerplate.EntityFramework/Boilerplate.EntityFramework.csproj
  src/Core/Common.csproj
  src/Services/Asset/Asset.API/Asset.API.csproj
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/CustomerServices/CustomerServices.csproj
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.IntegrationTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrder.IntegrationTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrder.UnitTests.csproj
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.IntegrationTests/ProductCatalog.IntegrationTests.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagement.IntegrationTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Added accsesslist to filter if user is manager
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Customer label fixes
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/Controllers/UserController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/CustomerLabelDeletedDomainEvent.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Migrations/20220704112614_typo_in_assetlifecycle_label.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220704112614_typo_in_assetlifecycle_label.cs
  src/Services/Asset/AssetServices/Models/CustomerLabel.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml
