Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-hardware-service-order.yml: any of: azure-pipelines-hardware-service-order.yml, src/Core, charts/hardware-service-order-api, src/Services/HardwareServiceOrder
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Added AfterMarket selection while creating service order
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-hardware-service-order.yml

Fixed some documentation and null issues. Also added some service-addons validation checks
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewHardwareServiceOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/NewHardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/OrderConfirmationEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewHardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForRemarketing.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

Added some Data validations
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewHardwareServiceOrderDTO.cs
Due: azure-pipelines-origoapigateway.yml

Create Service Order done. 1 Unit Test remains
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewHardwareServiceOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/NewHardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/RemarketingNoPackaging.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/RemarketingPackaging.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceOrderAddonsEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewHardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/IAssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForRemarketing.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForSUR.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

Fixed the Http call and some internal business logic issue
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/IAssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForRemarketing.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForSUR.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

Fixed the doc and error handling issue
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewHardwareServiceOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/NewHardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceOrderAddonsEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewHardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/IAssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForRemarketing.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForSUR.cs
Due: azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

Calling update asset lifecycle before sending emails
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForRemarketing.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForSUR.cs
Due: azure-pipelines-hardware-service-order.yml

Added the new 'Get Service Order' endpoints in the API Gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/HardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/HardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/Core/Interfaces/PagedModel.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/ServiceOrderController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/ServiceOrdersController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

ServiceProvider Id manually set
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Recreate the index on "CustomerOperatorAccount"
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorAccountConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220913020337_Idx_CustomerOperatorAccount.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220913020337_Idx_CustomerOperatorAccount.cs
Due: none

Added missing info in "transfer to business" email template
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Save validated data
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewAssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Subscription.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added endpoint to fetch techstep customers
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/CustomerServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/TechstepCoreWebhook.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/TechstepCoreProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/TechstepCore/TechstepCoreCustomersData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/TechstepCore/TechstepCoreData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/TechstepCore/TechstepCustomer.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/TechstepCore/TechstepCustomers.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/TechstepCoreWebhook/TechstepCoreCustomerUpdate.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/Services/Customer/CustomerServices/ServiceModels/TechstepCoreCustomerUpdateDTO.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added the new customer configuration endpoints to the internal microservice
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/CustomerSettingsProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220913154059_AddedCustomerSettingsAlternateKey.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220913154059_AddedCustomerSettingsAlternateKey.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/CustomerSettingsDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
Due: azure-pipelines-hardware-service-order.yml

Added the API gateway endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceBackofficeController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/CustomerSettings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewCustomerSettings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/LegacyCustomerSettings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/OrganizationConfigurationController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/NewCustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
Due: azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

gateway integration tests
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

manager return device on behalf user notify
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Email/EmailService.cs
  src/Services/Asset/AssetServices/Email/IEmailService.cs
  src/Services/Asset/AssetServices/Email/Model/ManagerOnBehalfReturnNotification.cs
  src/Services/Asset/AssetServices/Resources/Asset.Designer.cs
  src/Services/Asset/AssetServices/Resources/Asset.resx
Due: azure-pipelines-assets.yml

XML & test added
  src/Services/Asset/AssetServices/Email/EmailService.cs
  src/Services/Asset/AssetServices/Email/Model/ManagerOnBehalfReturnNotification.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/EmailServiceTests.cs
Due: azure-pipelines-assets.yml

Added pageSize as queryparameteret to techstep customer
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
Due: azure-pipelines-origoapigateway.yml

Moved two endpoints from the backoffice into the customer controller
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceBackofficeController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
Due: azure-pipelines-origoapigateway.yml

myPage dispose-setting fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Added saving techstepCustomerId and AccountOwner to create customer and mapping the values to frontend models
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/Models/Partner.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/SeedData/Seed.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewOrganizationDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Update the Asset LifeCycle Check for creating service order
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Update the error message
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Removed obsolete code
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/AssetInfo.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/CustomerServiceProviderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Response/ContactDetails.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/HardwareServiceOrderLog.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/LegacyCustomerSettings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/LoanDevice.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/ServiceEvent.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: azure-pipelines-origoapigateway.yml

appsetting techstep partner id
  src/Services/Customer/Customer.API/appsettings.json
Due: azure-pipelines-customers.yml

Fixed the Status handler issue
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/StatusHandlerFactory.cs
Due: azure-pipelines-hardware-service-order.yml

Reorganized unit test seeding data to use it in more test classes. Only search for phone number within organization.
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/EmailServiceTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OktaServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationEncryptionTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationRepositoryTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/PartnerServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UnitTestDatabaseSeeder.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/WebshopServiceTests.cs
Due: azure-pipelines-customers.yml

Fixed a error caused by Conmodo returning an unexpected, and undocumented response entity
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/CreateOrderResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiRequests.cs
Due: azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

Added email appsettings for link to origo
  src/Core/Configuration/EmailConfiguration.cs
  src/Services/Customer/Customer.API/appsettings.json
  src/Services/Customer/CustomerServices/Email/EmailService.cs
  src/Services/Customer/CustomerServices/Email/Models/InvitationMail.cs
  src/Services/Customer/CustomerServices/Resources/Customer.Designer.cs
  src/Services/Customer/CustomerServices/Resources/Customer.resx
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Change to variable name was missing from commit
  src/Services/Customer/CustomerServices/Email/EmailService.cs
Due: azure-pipelines-customers.yml

Removed a documented HTTP return code that's not actually used (it should return 403, not 404)
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
Due: azure-pipelines-origoapigateway.yml

Re-added a "me" filter
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
Due: azure-pipelines-origoapigateway.yml

Re-added dateCreated and dateUpdated to the gateway models
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/HardwareServiceOrder.cs
Due: azure-pipelines-origoapigateway.yml

Updated the supported services seeding data for Conmodo
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220916132537_UpdatedConmodoServiceTypes.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220916132537_UpdatedConmodoServiceTypes.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/SeedData/HardwareServiceSeedData.cs
Due: azure-pipelines-hardware-service-order.yml

Removed unnecessary attribute
  src/Services/Asset/AssetServices/ServiceModel/AssetLifecycleDTO.cs
Due: azure-pipelines-assets.yml

Added imei to frontend model when deactivating an assetlifecycle
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoAssetProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetLifecycleDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added inactive to be filtered when IsActiveState is false
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml

Added links for the templates in appsettings and made text markdown
  src/Core/Configuration/EmailConfiguration.cs
  src/Services/Customer/Customer.API/appsettings.json
  src/Services/Customer/CustomerServices/Email/EmailService.cs
  src/Services/Customer/CustomerServices/Email/Models/OffboardingOverdueMail.cs
  src/Services/Customer/CustomerServices/Resources/Customer.Designer.cs
  src/Services/Customer/CustomerServices/Resources/Customer.resx
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/EmailServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Added subclass for email config file for customer
  src/Core/Configuration/EmailConfiguration.cs
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/CustomerServices/Email/Configuration/EmailConfigurationCustomer.cs
  src/Services/Customer/CustomerServices/Email/EmailService.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/EmailServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml
