Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Changed check for subscription product in transfer to private subscription
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
Due: none

Enabled .NET 6's nullable and 'implicit usings' in the 'common' project
  src/Core/Common.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

search issue fix
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
Due: azure-pipelines-customers.yml

Revert "Timestamp updates should now be set automatically"
  src/Services/Customer/CustomerServices/Infrastructure/Context/CustomerContext.cs
Due: azure-pipelines-customers.yml

unassign departments
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Added missing entity validation attributes for country, language and email address
  src/Services/Customer/Customer.API/ViewModels/Address.cs
  src/Services/Customer/Customer.API/ViewModels/ContactPerson.cs
  src/Services/Customer/Customer.API/ViewModels/Department.cs
  src/Services/Customer/Customer.API/ViewModels/Location.cs
  src/Services/Customer/Customer.API/ViewModels/NewDepartment.cs
  src/Services/Customer/Customer.API/ViewModels/NewLocation.cs
  src/Services/Customer/Customer.API/ViewModels/NewOrganization.cs
  src/Services/Customer/Customer.API/ViewModels/NewOrganizationPreferences.cs
  src/Services/Customer/Customer.API/ViewModels/NewUser.cs
  src/Services/Customer/Customer.API/ViewModels/OrganizationPreferences.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateLocation.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateOrganizationPreferences.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateUser.cs
  src/Services/Customer/Customer.API/ViewModels/User.cs
  src/Services/Customer/Customer.API/ViewModels/UserPreference.cs
Due: azure-pipelines-customers.yml

Removed duplicate timestamps in location entity
  src/Services/Customer/CustomerServices/Migrations/20220324121339_removed_duplicate_location_timestamps.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220324121339_removed_duplicate_location_timestamps.cs
  src/Services/Customer/CustomerServices/Models/Location.cs
Due: azure-pipelines-customers.yml

added endpoint for order detail view
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/ActivateSimOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/CancelSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/DetailViewSubscriptionOrderLogProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToPrivateSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/ActivateSimOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/ActivateSimOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CancelSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/ChangeSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/DetailViewSubscriptionOrderLog.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/OrderSimSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToPrivateSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Renamed property to be more in-line with the used naming scheme
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Renamed property in UserServices to be more in-line with the used naming scheme
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Changed the 'includeDepartments' inclusion parameter to be off by default
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/OrganizationTestDataService.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Removed unused include parameters that is not properly registered as a EF navigation property
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
Due: azure-pipelines-customers.yml

added new subscription to order list and added subscriptioOrderId to response
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoSubscriptionOrderListItem.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/SubscriptionOrderListItemDTO.cs
Due: none

Fixed failing unit tests. Updated label methods.
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/AssignLifecycleStatusToAssetLifecycleDomainEvent.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

database model changed
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/UserConfiguration.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Migrations/20220325054628_UserDepartmentRelationship.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220325054628_UserDepartmentRelationship.cs
  src/Services/Customer/CustomerServices/Models/User.cs
Due: azure-pipelines-customers.yml

Unassign label fix
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

Updated asset controller methods which had been commented out.
  OrigoDomainServices.sln
  dapr-pubsub.yaml
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
Due: azure-pipelines-assets.yml

Cleanup for assets controller
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
Due: azure-pipelines-assets.yml

added validation for cancel subscription
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Added assignment of callerId in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/SubscriptionManagement/CancelSubscriptionProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/CancelSubscriptionOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
Due: none

Merged overlapping repository classes
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Bug related to lifecycle list is blank
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/AssetLifecycleType.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Saving asset with limited information fails.
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Added a custom migrations to update the old non-nullable default values to the new nullable ones
  src/Services/Customer/Customer.API/ViewModels/NewOrganization.cs
  src/Services/Customer/CustomerServices/Migrations/20220325132935_database_value_migration.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220325132935_database_value_migration.cs
Due: azure-pipelines-customers.yml

Various nullablility preparations in OrganizationServices, and moved some of the checks from the controller to the creation method
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Temporarily removed the partnerID until the functionality is added in
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Added mapping of orderType enums and detail view to gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoSubscriptionOrderDetailView.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoSubscriptionOrderListItem.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/DetailViewSubscriptionOrderLogProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/SubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CancelSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/OrderSimSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/DetailViewSubscriptionOrderLog.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/SubscriptionOrderListItemDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Types/OrderTypes.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

delete user from okta if not using other apps
  src/Services/Customer/CustomerServices/IOktaServices.cs
  src/Services/Customer/CustomerServices/OktaServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/OktaAppLinkDTO.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Changed API model to be a DTO model
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/Customer.cs
  src/Services/Customer/Customer.API/ViewModels/NewCustomer.cs
  src/Services/Customer/Customer.API/ViewModels/NewOrganization.cs
  src/Services/Customer/Customer.API/ViewModels/Organization.cs
  src/Services/Customer/Customer.API/ViewModels/PartnerOrganization.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateOrganization.cs
  src/Services/Customer/CustomerServices/ServiceModels/AddressDTO.cs
Due: azure-pipelines-customers.yml

Moved write-models out from read-models folder
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Controllers/FeatureFlagsController.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Controllers/PartnersController.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/Customer.API/WriteModels/DeleteFeatureFlag.cs
  src/Services/Customer/Customer.API/WriteModels/DeleteOrganization.cs
  src/Services/Customer/Customer.API/WriteModels/NewCustomer.cs
  src/Services/Customer/Customer.API/WriteModels/NewDepartment.cs
  src/Services/Customer/Customer.API/WriteModels/NewFeatureFlag.cs
  src/Services/Customer/Customer.API/WriteModels/NewLocation.cs
  src/Services/Customer/Customer.API/WriteModels/NewOrganization.cs
  src/Services/Customer/Customer.API/WriteModels/NewOrganizationPreferences.cs
  src/Services/Customer/Customer.API/WriteModels/NewPartner.cs
  src/Services/Customer/Customer.API/WriteModels/NewUser.cs
  src/Services/Customer/Customer.API/WriteModels/NewUserPermission.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateLocation.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateOrganization.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateOrganizationPreferences.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateUser.cs
Due: azure-pipelines-customers.yml

Moved several common API models to the DTO folder
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/Customer.cs
  src/Services/Customer/Customer.API/ViewModels/PartnerOrganization.cs
  src/Services/Customer/Customer.API/WriteModels/NewCustomer.cs
  src/Services/Customer/Customer.API/WriteModels/NewOrganization.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateOrganization.cs
  src/Services/Customer/CustomerServices/ServiceModels/ContactPersonDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/LocationDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationPreferencesDTO.cs
Due: azure-pipelines-customers.yml

Fixed a repository fetch that accepted null as an primary ID
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Marked missing nullability in several methods
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/CustomerUserCount.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

added operatorId and operatorName to all responses in gateway and service
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoActivateSimOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoBusinessSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoCancelSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoChangeSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewOperatorAccount.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoOrderSim.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoPrivateSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoSubscriptionOrderDetailView.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoTransferToPrivateSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoTransferToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/PrivateSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/BusinessSubscriptionProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/DetailViewSubscriptionOrderLogProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/PrivateSubscriptionProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToPrivateSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/ActivateSimOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/BusinessSubscriptionResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CancelSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CancelSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/ChangeSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/DetailViewSubscriptionOrderLog.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewOperatorAccountResponseDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/OrderSimSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateSubscriptionResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToPrivateSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToPrivateSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Turn on healthchecks for pods
  charts/asset-api/values.yaml
  charts/customer-api/values.yaml
  charts/origoapigateway/values.yaml
  charts/product-catalog-api/values.yaml
  charts/subscriptionmanagement-api/values.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Changed ports and other params for health checks for pods.
  charts/asset-api/templates/deployment.yaml
  charts/origoapigateway/templates/deployment.yaml
  charts/product-catalog-api/templates/deployment.yaml
  charts/subscriptionmanagement-api/templates/deployment.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
