Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-hardware-service-order.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: HardwareServiceOrderContext
        dbProject: src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Daily midnight build
    branches:
      include:
      - trunk
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        useDbMigrations: false
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Daily midnight build
    branches:
      include:
      - trunk
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: SubscriptionManagementContext
  ...

Added Scim User CRUD operations
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/ScimControllerTests.cs
Due: azure-pipelines-customers.yml

End and start date not calculated bc of transactional is not assigned transactional lifecycle type
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

LogError in customers exception filter causes 500 error
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Filters/ErrorExceptionFilter.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Helpers/SubscriptionManagementDataSeeding.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
Due: azure-pipelines-origoapigateway.yml

Userstatus active when customer dont have OnboardingAndOffboarding product permission
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Add JsonpropertyName to scim ListResponse
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ListResponse.cs
Due: azure-pipelines-origoapigateway.yml

Random results for user preferences from endpoint fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/Models/UserPreference.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserPreferenceDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Updated unit tests
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Fixed a null exception
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/ReportDeviceDomainEvent.cs
Due: azure-pipelines-assets.yml

SaveChanges was not called in assets department and user sync
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Added a default "orderBy" when retrieving the organization list
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
Due: azure-pipelines-customers.yml

Adds Book Value as a requirement (default option) for Full Lifecycle module
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
Due: azure-pipelines-productcatalog.yml

Updates product from Transactional Device Lifecycle Management to Full Lifecycle
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductSeedDataValues.cs
Due: azure-pipelines-productcatalog.yml

Fix a swagger response type
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ScimController.cs
Due: azure-pipelines-origoapigateway.yml

Remove unused profiletest method
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/Mappings/ScimUserProfileTests.cs
Due: azure-pipelines-origoapigateway.yml

Add mapping from UserDto to Scim User and make ListResponse generic
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/Mappings/ScimUserProfileTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ScimController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/ScimUserProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ListResponse.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/Resource.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IScimService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ScimService.cs
Due: azure-pipelines-origoapigateway.yml

Implement customers should also be able to get a count of users - although this is only admin users.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
Due: azure-pipelines-origoapigateway.yml

Aseet ContractHolder and Dept Name fix for Update and Label Assign endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Fixed InputRequired on asset with NoLifecycle
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Removed commented out code
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

Fixed not unassigning user from asset when user is deleted
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/UserControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Fixed code smell
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Fixed wrong status when making asset available with no connecting department
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Removes BookValue requirement and adds extra feature permission to Full Lifecycle
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20221118141940_AddsFeatureToFullLifecycle.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20221118141940_AddsFeatureToFullLifecycle.cs
Due: azure-pipelines-productcatalog.yml

Adjust reactivation of user
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Schema updates for Scim Controller
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/Mappings/ScimUserProfileTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ScimController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/ScimUserProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IScimService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ScimService.cs
Due: azure-pipelines-origoapigateway.yml

Added security checks for WebshopAccess
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Authorization/Permission.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/WebshopController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/WebshopControllerTest.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20221121135348_add_webshop_access_feature.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20221121135348_add_webshop_access_feature.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/FeatureSeedDataValues.cs
Due: azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-hardware-service-order.yml: any of: azure-pipelines-hardware-service-order.yml, src/Core, charts/hardware-service-order-api, src/Services/HardwareServiceOrder
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/Core, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
