Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer

Added role to response DTO on update user
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Added assigned role to response for patch user
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Give better message when user create fails
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Exceptions/InvalidUserValueException.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewUserProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoUpdateUserProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateUser.cs
  src/Services/Customer/CustomerServices/DomainEvents/UserUpdateMobileNumberDomainEvent.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Added assigment of role to DTO when user deactivates/activates
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Allows error message when creating user to reach frontend
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
Due: azure-pipelines-customers.yml

Adjust audience - make it configurable
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
Due: none

Changed get count of users to only count the users that are active
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
Due: azure-pipelines-customers.yml

Added optional query to get methods in organizationController to allow optional filtering on customers.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/CustomerAssetCategoryDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/AssetCategoryLifecycleType.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Fixed unit test
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Removed previous migration
  src/Services/Customer/CustomerServices/Migrations/20211228084458_IsCustomer_field_to_Customer.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20211228084458_IsCustomer_field_to_Customer.cs
Due: azure-pipelines-customers.yml

Removed comparison of IsActive to true
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
Due: azure-pipelines-customers.yml

Added missing parameter to seed
  src/Services/Customer/CustomerServices/SeedData/Seed.cs
Due: azure-pipelines-customers.yml

Changed snapshot model to be equal to julias model.
  src/Services/Customer/CustomerServices/Migrations/CustomerContextModelSnapshot.cs
Due: azure-pipelines-customers.yml

Snapshot pre julias organization seed pr.
  src/Services/Customer/CustomerServices/Migrations/CustomerContextModelSnapshot.cs
Due: azure-pipelines-customers.yml

Migration error fixed, field added to db.
  src/Services/Customer/CustomerServices/Migrations/20220107142813_Is_Customer_Field_To_Customer.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220107142813_Is_Customer_Field_To_Customer.cs
Due: azure-pipelines-customers.yml

Added okta exception to handle failed user creations from okta. Only send msg to frontend if caused by invalid data.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Exceptions/OktaException.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
Due: azure-pipelines-customers.yml

Added assignment of users role to endpoints where it was missing
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Added check to validate that the Imei list dont contain two of the same IMEI
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Utility/AssetValidatorUtility.cs
Due: azure-pipelines-assets.yml

Changed instead of throwing error when user type in same IMEI it now adds a new list with only unique Imei's
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Utility/AssetValidatorUtility.cs
Due: azure-pipelines-assets.yml

Added a unit test for make unique Imei list function
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Forgot to run all unittest - the await change i made failed so I removed it again
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Removed the caller id from request model since it gets its value in backend
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssetLabels.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/NewAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetLabelsDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewAssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OrigoUpdateAssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
Due: none

Added using automapping when mapping frontend model to backend model
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/AssetLabelsProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewAssetProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoUpdateAssetProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/UpdateOrganizationProfile.cs
Due: none

Added using automapping for mapping between frontend model and backend dto for the remaining controllers
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/DepartmentsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewDepartmentProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewUserPermissionsProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewUserProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoDepartmentProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoUpdateUserProfile.cs
Due: none

Making sure it checks imei for both tablet and mobile phone
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

Added feature for basic subscription managment to the data seeding
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220119083749_seeding_SubscriptionManagment_feature.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220119083749_seeding_SubscriptionManagment_feature.cs
Due: none

Create Subscription Management skeleton
  OrigoDomainServices.sln
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Properties/launchSettings.json
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests/SubscriptionManagementTests.cs
Due: none

Remove email service from this repo
  src/Services/Email/Email.API/Email.API.csproj
  src/Services/Email/Email.API/Program.cs
  src/Services/Email/Email.API/Properties/launchSettings.json
  src/Services/Email/Email.API/Startup.cs
  src/Services/Email/Email.API/appsettings.json
Due: none

Added product to data seeding
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220124133604_seeding_product_subscription_managment.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220124133604_seeding_product_subscription_managment.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/Product.cs
Due: none

Added models, db context and entity config files for subscription managment
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/DatapackageConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/OperatorAccountConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/OperatorConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionAddOnProductConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionProductConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagmentContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagmentContextFactory.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Datapackage.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Operator.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/OperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionAddOnProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
Due: none

added first draft of subscriptionManagment controller in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/NewOperatorList.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrderTransferSubscription.cs
Due: none

Mock endpoint for customer webshop url
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
Due: none

initial commit
  src/Services/Asset/Asset.API/Program.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetContextFactory.cs
  src/Services/Customer/CustomerServices/Infrastructure/CustomerContextFactory.cs
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextFactory.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagmentContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagmentContextFactory.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Added service for Subscription management and config in startup
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: none

Mock webshop url v2
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
Due: none

Adds Entry product and maps asset and user management to it
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220127095011_add_entry_product_seeddata.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220127095011_add_entry_product_seeddata.cs
Due: none

Added necessary files/services in backend services and made changes to subscription management controller in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/NewOperatorList.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

option user secret
  sonarcloud-base-dotnet5.dockerfile
  sonarcloud-base-dotnet6.dockerfile
  src/Services/Customer/Customer.API/Program.cs
  src/Services/Customer/CustomerServices/Infrastructure/CustomerContextFactory.cs
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextFactory.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagmentContextFactory.cs
  update-baseimage.ps1
Due: azure-pipelines-customers.yml

added first draft endpoints and service to connect to frontend. Added subscription service to tye.yaml file and api path for subscription management
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  tye.yaml
Due: none

initial commit
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/OperatorAccountConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/OperatorConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionProductConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagmentContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220131095654_Initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220131095654_Initial.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagmentContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Datapackage.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Operator.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/OperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionAddOnProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/appsettings.json
Due: none
