Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Base url change for feature flags
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/FeatureFlagsController.cs
Due: none

Add gateway endpoint for cancel subscription.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/CancelSubscriptionOrder.cs
Due: none

SubscriptionOrder interface had changed and needed to bit set in model and removed migration
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/ChangeSubscriptionOrderCreatedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302132515_Add_ChangeSubscriptionOrder_Table.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302132515_Add_ChangeSubscriptionOrder_Table.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
Due: none

added migration for change subscription order
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220303121108_Add_ChangeSubscriptionOrder_Table.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220303121108_Add_ChangeSubscriptionOrder_Table.cs
Due: none

added given index for subscriptionOrderId and id
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/ChangeSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220303122725_Add_ChangeSubscriptionOrder_Table.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220303122725_Add_ChangeSubscriptionOrder_Table.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
Due: none

Cleanup code. Add new integration test.
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220303132509_removesubscriptionorder.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220303132509_removesubscriptionorder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionAddOnProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Connected backend and gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/SubscriptionManagement/ChangeSubscriptionOrderProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/ChangeSubscriptionOrderPostRequest.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/ChangeSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoChangeSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
Due: none

Add running of tests in subscription management pipeline.
  azure-pipelines-customers.yml
  azure-pipelines-subscriptionmanagement.yml
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
Due: azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

added integration tests for change subscription order
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Email subject change
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Some cleanup + using sonarscanner base image in subs mgmt
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/PartnersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoTransferToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IStorageService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/PartnerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/StorageService.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Customer/CustomerServices/DomainEvents/CustomerParentIdChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/Models/Partner.cs
  src/Services/Customer/CustomerServices/OktaServices.cs
  src/Services/Customer/CustomerServices/WebshopService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

initial commit
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
Due: none

Salesforce Ticket ID added
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220303150850_SalesforceTicket.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220303150850_SalesforceTicket.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
Due: none

Added utility class for phone number validation and added error messages to frontend for change subcription
  Common.UnitTests/Common.UnitTests.csproj
  Common.UnitTests/PhoneNumberUtilityTest.cs
  OrigoDomainServices.sln
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/Core/Common.csproj
  src/Core/Exceptions/InvalidPhoneNumberException.cs
  src/Core/Utilities/PhoneNumberUtility.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/CustomerSettingsException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Fix bug when deleting customer subscription product
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerSubscriptionProductRemovedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerSubscriptionProductdRemovedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerSubscriptionProductConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220304114410_CascadeDeleteOnCustomerSubscriptionProduct.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220304114410_CascadeDeleteOnCustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Operator.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/OperatorTests.cs
Due: azure-pipelines-assets.yml

fixed failing test
  Common.UnitTests/PhoneNumberUtilityTest.cs
Due: none

Comment cleanup
  src/Core/Extensions/DataPaginationExtension.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Update nugets
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagement.IntegrationTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Cancel subscription order
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoCancelSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CancelSubscriptionOrderCreatedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/InvalidOperatorIdInputDataException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CancelSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/CancelSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220304154411_CancelSubscriptionOrder.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220304154411_CancelSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CancelSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CancelSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewCancelSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Changed to return message when invalif and not found
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Added SIM card validation utility.
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Ultilities/SIMCardValidation.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Value added to customerreference in transfer subscription order
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/SubscriptionManagement/SubscriptionOrdersProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/CustomerReferenceValuePostRequestDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/TransferToBusinessSubscriptionOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewCustomerReferenceValue.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoTransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToBusinessSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerReferenceFieldDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewCustomerReferenceValue.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Fix unit tests with new customer reference value field
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Order subscription orders by descending create date
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
Due: none

fixed typo
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/SIMCardValidation.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Add order sim mock enpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoAddressProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Address.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/OrderSim.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoOrderSim.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
Due: none

Order lists by name
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/OperatorService.cs
Due: none

Added model and domain event on creating activate sim order
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/ActivateSimOrderCreatedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/ActivateSimOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220307125512_Add_ActivateSubscriptionOrder_Table.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220307125512_Add_ActivateSubscriptionOrder_Table.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ActivateSimOrder.cs
Due: none

Added DB migrations
  src/Services/Customer/CustomerServices/Migrations/20220307133939_Fixed incorrect table name for organization.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220307133939_Fixed incorrect table name for organization.cs
Due: azure-pipelines-customers.yml

Added sim number and action validation for transfer to business
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/SIMCardValidation.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

added for dummy endpoint for frontend
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/ActivateSimOrderPostRequest.cs
Due: none

Bug when querying customer operator account
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Allow for empty connectedorganizationnumber in customer operator accounts
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/NewOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerOperatorAccountDTO.cs
Due: none

Order sim implementation
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/OrderSimSubscriptionOrderCreatedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/OrderSimSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/Address.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewOrderSimSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/OrderSimSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

added check for product and datapackages in settings when changing subscription
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Completed order sim implementation
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Core/Utilities/PhoneNumberUtility.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/OrderSimSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/OrderSimSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220308094147_ordersim.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220308094147_ordersim.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/OrderSimSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Invalid first migration for order sim. Fixed bug for change order with operatorid
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/OrderSimSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220308094147_ordersim.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220308102459_ordersim.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220308102459_ordersim.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/OrderSimSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Added post endpoint and service in backend
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/InvalidSimException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/ActivateSimOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/ActivateSimOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none
