Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-hardware-service-order.yml: any of: azure-pipelines-hardware-service-order.yml, src/Core, charts/hardware-service-order-api, src/Services/HardwareServiceOrder
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Chnage customerdatasync pubsub to using secret
  charts/customer-api/templates/customerdatasyncpubsub.yaml
Due: azure-pipelines-customers.yml

Add pubsub subscriptions
  OrigoDomainServices.sln
  charts/customer-api/templates/subscription-user-assign-department.yaml
  charts/customer-api/templates/subscription-user-deleted.yaml
Due: azure-pipelines-customers.yml

Rename pubsub subscriptions
  charts/customer-api/templates/subscription-user-assign-department.yaml
  charts/customer-api/templates/subscription-user-deleted.yaml
Due: azure-pipelines-customers.yml

Fixed Reporting device issue
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Merge and fix conflicts
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
Due: azure-pipelines-origoapigateway.yml

Uppercase name for manifest name
  charts/customer-api/templates/subscription-user-assign-department.yaml
Due: azure-pipelines-customers.yml

Error handling in ProductCatalog gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Exceptions/ProductCatalogException.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Filters/ErrorExceptionFilter.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ProductCatalogServices.cs
Due: azure-pipelines-origoapigateway.yml

Default Runtime value of 36
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewLifeCycleSettingDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewLifeCycleSetting.cs
  src/Services/Asset/Asset.API/ViewModels/NewLifeCycleSetting.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/SetRuntimeDomainEvent.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/LifeCycleSettingConfiguration.cs
  src/Services/Asset/AssetServices/Migrations/20221025131313_default_runtime_value.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20221025131313_default_runtime_value.cs
  src/Services/Asset/AssetServices/Models/LifeCycleSetting.cs
  src/Services/Asset/AssetServices/ServiceModel/LifeCycleSettingDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Fix constructor of "Money" type
  src/Core/Model/Money.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/Models/LifeCycleSetting.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Fixed User Create issue during Asset import
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
Due: azure-pipelines-origoapigateway.yml

Asset Import Duplicate IMEI Fix
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport_duplicateIMEI.csv
Due: azure-pipelines-assets.yml

Updated asset-search
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForAsset.cs
  src/Core/Utilities/MacAddressUtility.cs
  src/Services/Asset/Asset.API/ViewModels/FilterOptionsForAsset.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Added phone number validation when users get imported
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Add "TODO" on the constructor without parameters of "Money"
  src/Core/Model/Money.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Fixed a invalid URL query value
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added search to the "get all customers" endpoints
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Test Mock Data Fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
Due: azure-pipelines-origoapigateway.yml

userName/DeptName fix in asset assignment
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Added assigning labels when importing users
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewAssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/ServiceModel/NewAssetDTO.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Error handling in Customer microservice
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Controllers/FeatureFlagsController.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Controllers/PartnersController.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/Filters/ErrorExceptionFilter.cs
Due: azure-pipelines-customers.yml

Fix test error
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
Due: azure-pipelines-customers.yml

only dept name in asset assignment
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Seed permission data
  src/Services/Customer/CustomerServices/Infrastructure/Context/ModelBuilderExtensions.cs
  src/Services/Customer/CustomerServices/Migrations/20221028111627_permissionSetsSeeding.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20221028111627_permissionSetsSeeding.cs
Due: azure-pipelines-customers.yml

Add inital nonimplemented scim
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ScimController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Exceptions/ScimException.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/ScimUserProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ScimEmail.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ScimName.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ScimPhoneNumber.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ScimResponse.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ScimUser.cs
  src/Core/Extensions/GuidExtension.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Error handling in Asset gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Exceptions/AssetException.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Filters/ErrorExceptionFilter.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Only publish customer data sync messages to customer microservice
  charts/customer-api/templates/customerdatasyncpubsub.yaml
  src/Services/Customer/Customer.API/Startup.cs
Due: azure-pipelines-customers.yml

Added assets purchase price to import
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/ImportedAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewAssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetFromCsvFile.cs
  src/Services/Asset/AssetServices/ServiceModel/ImportedAsset.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport.csv
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport_duplicateIMEI.csv
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_purchase_price_validation.csv
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Removed switch statement and used the commen currency method
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Added missing feature to product seeding
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20221101072058_added_missing_permission_InternalAssetReturn_to_seeding.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20221101072058_added_missing_permission_InternalAssetReturn_to_seeding.cs
Due: azure-pipelines-productcatalog.yml

Increased the limit of pages returned from techstep core customer search
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
Due: azure-pipelines-origoapigateway.yml

Added API gateway support for the new search and filter options
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Added unit tests
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
Due: azure-pipelines-hardware-service-order.yml

Added additional search and filtering options for service-orders
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/ServiceOrderController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
Due: azure-pipelines-hardware-service-order.yml

Added ability to search on asset brand and product name for hw orders
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
Due: azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

Specified name of query parameter
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForHardwareServiceOrder.cs
Due: azure-pipelines-origoapigateway.yml

added s back
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Updated endpoints for pubsub events
  src/Core/Model/EventModels/DatasyncModels/AssignDepartmentEvent.cs
  src/Core/Model/EventModels/DatasyncModels/CreateDepartmentEvent.cs
  src/Core/Model/EventModels/DatasyncModels/DeleteDepartmentEvent.cs
  src/Core/Model/EventModels/DatasyncModels/DeleteUserByPhoneNumberEvent.cs
  src/Core/Model/EventModels/DatasyncModels/DeleteUserEvent.cs
  src/Core/Model/EventModels/DatasyncModels/UnassignDepartmentEvent.cs
  src/Core/Model/EventModels/DatasyncModels/UpdateDepartmentEvent.cs
  src/Services/Customer/Customer.API/Controllers/EmployeeDatasyncDepartmentsController.cs
  src/Services/Customer/Customer.API/Controllers/EmployeeDatasyncUsersController.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateUserEvent.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/EmployeeDatasyncControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Added Integration Tests
  src/Services/Customer/Customer.API/Controllers/CustomerDatasyncDepartmentsController.cs
  src/Services/Customer/Customer.API/Controllers/CustomerDatasyncUsersController.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/CustomerDatasyncDepartmentsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/CustomerDatasyncUsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/EmployeeDatasyncControllerTests.cs
Due: azure-pipelines-customers.yml

Updated the URI
  src/Services/Customer/Customer.API/Controllers/EmployeeDatasyncDepartmentsController.cs
  src/Services/Customer/Customer.API/Controllers/EmployeeDatasyncUsersController.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/EmployeeDatasyncControllerTests.cs
Due: azure-pipelines-customers.yml

Moved Model files and added more integraiton tests
  src/Services/Customer/Customer.API/Controllers/CustomerDatasyncDepartmentsController.cs
  src/Services/Customer/Customer.API/Controllers/CustomerDatasyncEmployeeController.cs
  src/Services/Customer/Customer.API/CustomerDatasyncModels/AssignDepartmentEvent.cs
  src/Services/Customer/Customer.API/CustomerDatasyncModels/CreateDepartmentEvent.cs
  src/Services/Customer/Customer.API/CustomerDatasyncModels/CreateEmployeeEvent.cs
  src/Services/Customer/Customer.API/CustomerDatasyncModels/DeleteDepartmentEvent.cs
  src/Services/Customer/Customer.API/CustomerDatasyncModels/DeleteUserByPhoneNumberEvent.cs
  src/Services/Customer/Customer.API/CustomerDatasyncModels/DeleteUserEvent.cs
  src/Services/Customer/Customer.API/CustomerDatasyncModels/UnassignDepartmentEvent.cs
  src/Services/Customer/Customer.API/CustomerDatasyncModels/UpdateDepartmentEvent.cs
  src/Services/Customer/Customer.API/CustomerDatasyncModels/UpdateUserEvent.cs
  src/Services/Customer/Customer.API/Mappings/EmployeeUserProfile.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/CustomerDatasyncDepartmentsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/CustomerDatasyncUsersControllerTests.cs
Due: azure-pipelines-customers.yml
