Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer

making the number of days configurable
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/TransferSubscriptionDateConfiguration.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Only use tls1.2 or higher
  src/Services/Customer/CustomerServices/OktaServices.cs
Due: azure-pipelines-customers.yml

endpoint added in the gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/TransferSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/TransferSubscriptionOrder.cs
Due: none

Move some web shop values into secrets
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/WebshopController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/WebshopConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/Services/Customer/CustomerServices/WebshopConfiguration.cs
  src/Services/Customer/CustomerServices/WebshopService.cs
  src/Services/Customer/CustomerServices/appsettings.json
Due: azure-pipelines-customers.yml

added query for db to get avalible subscription products and added changes to fit the excpected response for frontend
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoOperator.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Mappings/OperatorProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Mappings/SubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/Operator.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/SubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/OperatorDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Get Subscription Product for customer done in both backend and frontend with mapping based on what frontend expect
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OperatorDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
Due: none

Adds MobileNumber in the UpdateUser model and updates tests
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUpdateUser.cs
Due: none

Added rework after review to get subscription product and change the infrastructure for CustomerOperatorSettings to have a set of CustomerSubscriptionProducts
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerSubscriptionProductConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

endpoints added in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoCustomerOperatorAccount.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
Due: none

customer id removed
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoCustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220214105435_Remove_CustomerId.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220214105435_Remove_CustomerId.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Add migrations for subscription products
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Mappings/DatapackageProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Mappings/SubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/DatapackageConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220214124540_SubscriptionProductChanges.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220214124540_SubscriptionProductChanges.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Datapackage.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionAddOnProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Added nuget config file
  OrigoDomainServices.sln
  nuget.config
Due: none

Updated product catalog with a new dockerfile, and initial support for our internal NuGet package well
  azure-pipelines-productcatalog.yml
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/ProductCatalog/ProductCatalog.API/docker-build.bat
Due: none

Updated dockerfile
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
Due: none

endpoint added for deleting customer operator account
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorAccountConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220215110356_UniqueConstraintCustomerOperatorAccount.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220215110356_UniqueConstraintCustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementTests.cs
Due: none

Pair programming with Atish
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/NewSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
Due: none

error fixed
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

merge with develop
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Updated pipeline and dockerfile
  azure-pipelines-productcatalog.yml
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
Due: none

Removed nuget.config
  OrigoDomainServices.sln
  nuget.config
Due: none

Added batch files for initiating a local docker build
  src/Services/Asset/Asset.API/docker-build.bat
  src/Services/Customer/Customer.API/docker-build.bat
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Added extra NuGet authentication task
  azure-pipelines-productcatalog.yml
Due: none

Separate controller for Operators in Gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ModulesController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/OperatorsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoOperator.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/Operator.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Added NuGet artifact support to the product catalog pipeline
  azure-pipelines-productcatalog.yml
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
Due: none

Removed the sample NuGet package used for testing the connection to the internal package wells
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
Due: none

Added support for our internal NuGet feeds
  azure-pipelines-origoapigateway.yml
  src/ApiGateways/OrigoApiGateway/Dockerfile
Due: none

Added support for our internal NuGet feeds
  azure-pipelines-assets.yml
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Added support for our internal NuGet feeds
  azure-pipelines-customers.yml
  src/Services/Customer/Customer.API/Dockerfile
Due: azure-pipelines-customers.yml

Added missing parameters and tasks
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Added support for our internal NuGet feeds
  azure-pipelines-subscriptionmanagement.yml
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
Due: none

Added a missing variable value to pipeline
  azure-pipelines-assets.yml
  azure-pipelines-subscriptionmanagement.yml
Due: azure-pipelines-assets.yml

add customer specific operators
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/NewOperatorList.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ICustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
Due: none

added authorization
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
Due: none

Post subscription products for customer saves new subscription product when global
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/NewSubscriptionProduct.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/NewSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/SubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

DDD applied on customersettings
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
Due: none

Removes null or empty check for mobile device serial number
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

Get subscription product with fix and mapping id to operator object
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OperatorDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/OperatorProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/OperatorDTO.cs
Due: none

fixed failing tests and clean up after merge
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Add customer reference field GET and POST logic in backend.
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Mappings/CustomerReferenceFieldProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/CustomerReferenceField.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/NewCustomerReferenceField.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/CustomerReferenceFieldProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220217130809_CustomerReferenceField.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220217130809_CustomerReferenceField.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerReferenceField.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ICustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none
