Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

Misconfiguration in values.yaml charts
  charts/asset-api/values.yaml
  charts/customer-api/values.yaml
  charts/origoapigateway/values.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Change ingress chart values
  azure-pipelines-origoapigateway.yml
Due: none

Add path in Ingress
  azure-pipelines-origoapigateway.yml
Due: none

pipeline adjustments
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Initial commit for the service project
  OrigoDomainServices.sln
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/ValuesController.cs
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/ProductCatalog/ProductCatalog.API/Program.cs
  src/Services/ProductCatalog/ProductCatalog.API/Properties/launchSettings.json
  src/Services/ProductCatalog/ProductCatalog.API/appsettings.json
  src/Services/ProductCatalog/ProductCatalog.Service/FeatureService.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/FeatureConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/ProductCatalogContext.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/ProductCatalogContextFactory.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/IUnitOfWork.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/Boilerplate/IReadRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/Boilerplate/IRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/Boilerplate/ITemporalRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/Boilerplate/Repository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/FeatureRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/IFeatureRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/IOrderRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/IProductRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/OrderRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/ProductRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Spesification/ISpecification.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Spesification/Specification.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/UnitOfWork.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Entity.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Feature.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Interfaces/IDbEntity.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Interfaces/IExternalId.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Order.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Product.cs
  src/Services/ProductCatalog/ProductCatalog.Service/ProductCatalog.Service.csproj
  src/Services/ProductCatalog/ProductCatalog.Service/Specification/Evaluator/ISpecificationEvaluator.cs
  src/Services/ProductCatalog/ProductCatalog.Service/appsettings.json
Due: none

Added the initial configuration file for most DB entities
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/FeatureTypeConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/OrderConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/ProductConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/ProductTypeConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/ProductCatalogContext.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Boilerplate/Translation.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Entity.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Feature.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/FeatureType.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Interfaces/IBaseType.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Interfaces/IDbEntity.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Interfaces/ITranslation.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Order.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Product.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/ProductType.cs
Due: none

Created a unit test project to be used for the service-project
  OrigoDomainServices.sln
  src/Services/ProductCatalog/ProductCatalog.Service.UnitTests/ProductCatalog.Service.UnitTests.csproj
  src/Services/ProductCatalog/ProductCatalog.Service.UnitTests/UnitTest1.cs
Due: none

Authorize fixed again..
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
Due: none

Make Asset imei a value object
  src/Services/Asset/AssetServices/Migrations/20211122091054_ImeiAsValueObject.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20211122091054_ImeiAsValueObject.cs
  src/Services/Asset/AssetServices/Models/AssetImei.cs
Due: azure-pipelines-assets.yml

Asset imei
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Migrations/20211122114643_ImeiAsValueObjects.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20211122114643_ImeiAsValueObjects.cs
  src/Services/Asset/AssetServices/Models/AssetImei.cs
Due: azure-pipelines-assets.yml

Added additional models and configuration
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/FeatureConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/FeatureTypeConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/FeatureTypeTranslationConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/OrderConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/ProductConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/ProductFeatureConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/ProductTranslationConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/ProductTypeConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/ProductTypeTranslationConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/ProductCatalogContext.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/FeatureRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/IFeatureRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/IOrderRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/OrderRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/ProductRepository.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/UnitOfWork.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Boilerplate/Translation.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Entity.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Feature.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/FeatureTranslation.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/FeatureType.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/FeatureTypeTranslation.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/Product.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/ProductFeature.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/ProductTranslation.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/ProductType.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Models/Database/ProductTypeTranslation.cs
  src/Services/ProductCatalog/ProductCatalog.Service/OrderService.cs
  src/Services/ProductCatalog/ProductCatalog.Service/ProductService.cs
Due: none

Removed unused entity configuration files
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/FeatureTypeTranslationConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/OrderConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/ProductTranslationConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/EntityConfiguration/ProductTypeTranslationConfiguration.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Context/ProductCatalogContext.cs
  src/Services/ProductCatalog/ProductCatalog.Service/Infrastructure/Repositories/FeatureRepository.cs
Due: none

merge
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetCategoryLifecycleTypeDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/CustomerAssetCategoryDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewCustomerAssetCategoryType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoAssetCategoryLifecycleType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoCustomerAssetCategoryType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/StorageService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/MobilePhone.cs
  src/Services/Asset/Asset.API/ViewModels/Tablet.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/AssetServices/Migrations/20211117165143_RemovedIsActiveFieldFromAsset.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml

Remove unneccessary variables in pipeline
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Update db connection string used in pipeline. Added ingressroute.
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/manifests/develop/ingressroutes.yaml
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/manifests/test/ingressroutes.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Ensure letsencrypt set in ingress
  azure-pipelines-origoapigateway.yml
Due: none

Fix asset category in asset tests
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoMobilePhone.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoTablet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Models/AssetCategory.cs
  src/Services/Asset/AssetServices/Models/AssetCategoryTranslation.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Unit test succeded! :D
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/Services/Asset/AssetServices/Attributes/ImeiValidationAttribute.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

fix migrations
  src/Services/Asset/AssetServices/Migrations/20211110091347_AssetRestructuring.cs
  src/Services/Asset/AssetServices/Migrations/20211117165143_RemovedIsActiveFieldFromAsset.cs
Due: azure-pipelines-assets.yml

Appsettings for gateway
  charts/origoapigateway/values.yaml
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: none

Updated gateway deployment to include appsettings
  charts/origoapigateway/templates/deployment.yaml
Due: none

Read appsettings.secret.json file if available in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Program.cs
Due: none

Change asset serialization
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/PagedAssetList.cs
Due: azure-pipelines-assets.yml

Gateway serialization changes
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoPagedAssets.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/PagedAssetsDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
Due: none

Return a camel cased json output
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/NewAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
Due: azure-pipelines-assets.yml

fix build issue
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
Due: none

fix test
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
Due: none

rename assetId in AssetDTO to Id.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoMobilePhone.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoTablet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetDTO.cs
Due: none

return id field
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/Asset.API/ViewModels/MobilePhone.cs
  src/Services/Asset/Asset.API/ViewModels/Tablet.cs
Due: azure-pipelines-assets.yml

Restricts purchaseDate to not be in the future. Correctly sends validation errors to the frontend.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
Due: azure-pipelines-assets.yml

Fixed route on UpdateAssetStatus Changed input to UpdateAssetsStatus on request from frontend Removed unused method for updating single asset in service
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/UpdateAssetsStatus.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
Due: azure-pipelines-assets.yml

Removed commented out authorization. Give proper error messages for not found, bad input, server error
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

Get count of assets for an organization
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetRepository.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Get user count for an organization
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Make serial number nullable. Make identifying attribute mandatory.
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Migrations/20211130095641_AllowNullValueSerialNumber.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20211130095641_AllowNullValueSerialNumber.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/SoftwareAsset.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml

get count directly
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetRepository.cs
Due: azure-pipelines-assets.yml

get count directly
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Work in progress.. lack migration
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/Label.cs
  src/Services/Asset/Asset.API/ViewModels/NewLabel.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/AssetLabel.cs
  src/Services/Asset/AssetServices/Models/CustomerLabel.cs
  src/Services/Asset/AssetServices/Models/IAssetRepository.cs
  src/Services/Asset/AssetServices/Models/Label.cs
Due: azure-pipelines-assets.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
