Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Added the EF SaveChangesInterceptor
  src/Core/EntityFramework/SaveContextChangesInterceptor.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Fixed naming mismatches
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/OrigoHardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/ApiRequesterService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceStatusConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceTypeConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderResponseDTO.cs
Due: azure-pipelines-origoapigateway.yml

Fixed a nullable issue
  src/Core/EntityFramework/SaveContextChangesInterceptor.cs
  src/Core/Seedwork/Auditable.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Added the API Request interceptor
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/ApiRequesterService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/IApiRequesterService.cs
Due: none

Added migrations
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220613145813_entity_rework.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220613145813_entity_rework.cs
Due: none

Initial refactoring to make the microservice work with the new implementation
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContextFactory.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/SaveContextChangesInterceptor.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairNotificationControllerTests.cs
Due: none

Set default value for IsPersonal dependent on lifecycle
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetLifecycleDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/CreateAssetLifecycleDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Removed old migrations
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220613114746_initial.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220613114746_initial.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220613145813_entity_rework.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220613145813_entity_rework.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/HardwareServiceOrderContextModelSnapshot.cs
Due: none

Disabled temporal
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceStatusConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceTypeConfiguration.cs
Due: none

Added new initial migration
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220614132325_initial.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220614132325_initial.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/HardwareServiceOrderContextModelSnapshot.cs
Due: none

Adds IsActiveState property to Asset service models
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetLifecycleDTO.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

'Buyout device' functionality
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/BuyoutDevice.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/BuyoutDeviceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Properties/launchSettings.json
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/BuyoutDeviceDomainEvent.cs
  src/Services/Asset/AssetServices/Exceptions/BuyoutDeviceRequestException.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/BuyoutDeviceDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

'Lost Or Stolen' functionality
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ReportDeviceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ReportDevice.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Core/Enums/ReportCategory.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/EndOfLifeMappings.cs
  src/Services/Asset/Asset.API/ViewModels/ReportDevice.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/ReportDeviceDomainEvent.cs
  src/Services/Asset/AssetServices/Exceptions/InactiveDeviceRequestException.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/ReportDeviceDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Added endpoints for deactivating and activating assetlifecycles BOYD and NoLifecycle
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/ChangeAssetStatusProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/ChangeAssetStatus.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ChangeAssetStatusDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/ChangeAssetStatus.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Hardware Service Order Filter Implemented
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-origoapigateway.yml

Customer location null error, defaulted from address
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

includeLocation condition added
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Update migration script to avoid it from failing when updating column which is deleted later on.
  src/Services/Customer/CustomerServices/Migrations/20220325132935_database_value_migration.cs
Due: azure-pipelines-customers.yml

Change node affinity
  charts/asset-api/values.yaml
  charts/customer-api/values.yaml
  charts/hardware-service-order-api/values.yaml
  charts/origoapigateway/values.yaml
  charts/product-catalog-api/values.yaml
  charts/subscriptionmanagement-api/values.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Changes to node affinity settings
  charts/asset-api/values.yaml
  charts/customer-api/values.yaml
  charts/hardware-service-order-api/values.yaml
  charts/origoapigateway/values.yaml
  charts/product-catalog-api/values.yaml
  charts/subscriptionmanagement-api/values.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Added ability to update assets mac address and validation of it
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoUpdateAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OrigoUpdateAssetDTO.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/UpdateAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/MacAddressChangedDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Updated unit tests
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderCanceledStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderCompletedStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderOngoingStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderRegisteredStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderUnKnownStatusHandlerService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: none

Swapped DateTime to DateTimeOffset
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
Due: none

Moved configuration file to correct folder and namespace
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Configuration/OrigoConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderUnKnownStatusHandlerService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: none

Added the new methods for calling the asset service
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/IAssetService.cs
Due: none

Fixed remaining unit-tests
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderOngoingStatusHandlerService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: none

Renamed file
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderUnKnownStatusHandlerService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: none

sur request dto removed
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/SURRequestDTO.cs
Due: none

minor changes
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerSettingsResponseDTO.cs
Due: none

Initial commit
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerSettingsResponseDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/SURRequestDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/CustomerSettingsProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/CustomerSettingsDTO.cs
Due: none

unit tests fixed
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerSettingsResponseDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220616010752_remove_asset_category_id.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220616010752_remove_asset_category_id.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

minor changes
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/CustomerSettings.cs
Due: azure-pipelines-origoapigateway.yml

migration removed
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220616010752_remove_asset_category_id.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220616010752_remove_asset_category_id.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/HardwareServiceOrderContextModelSnapshot.cs
Due: none

gateway updated
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/CustomerServiceProviderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewCustomerSettingsDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/CustomerSettings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerSettingsResponseDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
Due: azure-pipelines-origoapigateway.yml

migration added
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220616100440_remove_asset_category_id.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220616100440_remove_asset_category_id.cs
Due: none

Allow for missing filteroptions in user search
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml

bug: faulty condition fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

tests for bug
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
Due: azure-pipelines-origoapigateway.yml

Do not require customer lifecycle setting for creating an asset. Calculate IsActiveState in entity.
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Make filteroptions optional in GET asset
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
Due: azure-pipelines-assets.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
