Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

en-150 removed
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.en-150.resx
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
Due: none

Unit tests added for resource manager
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.en-150.resx
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
Due: none

Added assigning managers in bulk for department backend service
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/DepartmentsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/DepartmentProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ManagedBy.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewDepartmentDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateDepartmentDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewDepartment.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateDepartment.cs
  src/Services/Customer/Customer.API/Controllers/DepartmentController.cs
  src/Services/Customer/Customer.API/Mappings/DepartmentProfile.cs
  src/Services/Customer/Customer.API/ViewModels/Department.cs
  src/Services/Customer/Customer.API/WriteModels/NewDepartment.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateDepartment.cs
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/DomainEvents/DepartmentAddDepartmentManagerDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/DepartmentUpdateDepartmentManagersDomainEvent.cs
  src/Services/Customer/CustomerServices/IDepartmentsServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Mappings/DepartmentProfile.cs
  src/Services/Customer/CustomerServices/Mappings/UserDTOProfile.cs
  src/Services/Customer/CustomerServices/Models/Department.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/ServiceModels/DepartmentDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/ManagedByDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/ManagerOfDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/DepartmentsControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Add source property to AssetLifecycle
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/NewAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewAssetDTO.cs
  src/Services/Asset/Asset.API/Mappings/NewAssetProfile.cs
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/Migrations/20220510103412_add_source.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220510103412_add_source.cs
  src/Services/Asset/AssetServices/Models/AssetLifeCycleSource.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetLifecycleDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/NewAsset.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Test extra param to get test runner to work properly
  src/Services/Customer/Customer.API/Dockerfile
Due: azure-pipelines-customers.yml

Added managerOf departments to get user(s)
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ManagerOf.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUser.cs
  src/Services/Customer/Customer.API/ViewModels/User.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Mappings/UserDTOProfile.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

return currency from enum
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
Due: azure-pipelines-origoapigateway.yml

lifeCycleSetting missing property fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewLifeCycleSettingDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewLifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Asset Re-assign Process
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/ReAssignmentNonPersonal.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/ReAssignmentPersonal.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/ReAssignAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/ReAssignAssetLifeCycleDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Currency Attribute added
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/CustomerAssetValue.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/MinBuyoutPriceBaseline.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/LifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
Due: azure-pipelines-origoapigateway.yml

Retrun null in all fields when config does not exist
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/CustomerSettings.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
Due: none

Count updates for AssetLifecycles. Factorymethod for AssetLifecycle.
  .gitignore
  OrigoDomainServices.sln
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/Core/Enums/AssetLifecycleStatus.cs
  src/Services/Asset/Asset.API/Asset.API.csproj
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/appsettings.json
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/AssetHasBeenStolenDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/UpdateAssetLifecycleStatusDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Status count bug fix
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Available List error due to removing "/seach" api
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
Due: azure-pipelines-origoapigateway.yml

status filter fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

All templates added
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/AssetDiscardedEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/AssetRepairEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/LoanDeviceEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/OrderConfirmationEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
Due: none

fixed total book value giving bad request
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
Due: azure-pipelines-origoapigateway.yml

Added NOK as default if user dont have address or location
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
Due: azure-pipelines-origoapigateway.yml

Count gateway fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
Due: azure-pipelines-origoapigateway.yml

removed personal email
  src/Services/Asset/Asset.API/appsettings.json
Due: azure-pipelines-assets.yml

unnecessary file
  src/Services/Asset/Asset.API/libman.json
Due: azure-pipelines-assets.yml

Subject & Template Updated
  src/Services/Asset/AssetServices/Email/Model/ReAssignedToUserNotification.cs
  src/Services/Asset/AssetServices/Email/Model/UnassignedFromManagerNotification.cs
  src/Services/Asset/AssetServices/Email/Model/UnassignedFromUserNotification.cs
  src/Services/Asset/AssetServices/Resources/Asset.Designer.cs
  src/Services/Asset/AssetServices/Resources/Asset.resx
Due: azure-pipelines-assets.yml

spacing fix
  src/Services/Asset/AssetServices/Resources/Asset.Designer.cs
  src/Services/Asset/AssetServices/Resources/Asset.resx
Due: azure-pipelines-assets.yml

WP-AssetDepreciation all Email Notifications Sendouts
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/ReassignAssetDTOProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/EmailPersonAttributeDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/MakeAssetAvailableDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ReassignedToDepartmentDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ReassignedToUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Asset.API.csproj
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/MakeAssetAvailableProfile.cs
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Asset/Asset.API/ViewModels/EmailPersonAttribute.cs
  src/Services/Asset/Asset.API/ViewModels/MakeAssetAvailable.cs
  src/Services/Asset/Asset.API/ViewModels/ReAssignAsset.cs
  src/Services/Asset/Asset.API/appsettings.json
  src/Services/Asset/Asset.API/libman.json
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Asset/AssetServices/Email/EmailService.cs
  src/Services/Asset/AssetServices/Email/IEmailService.cs
  src/Services/Asset/AssetServices/Email/Model/ReAssignedToUserNotification.cs
  src/Services/Asset/AssetServices/Email/Model/UnassignedFromManagerNotification.cs
  src/Services/Asset/AssetServices/Email/Model/UnassignedFromUserNotification.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Resources/Asset.Designer.cs
  src/Services/Asset/AssetServices/Resources/Asset.resx
  src/Services/Asset/AssetServices/ServiceModel/EmailPersonAttributeDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/MakeAssetAvailableDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/ReAssignAssetDTO.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/EmailServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

HardwareOrder model changed
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220513163459_CreatedByUser.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220513163459_CreatedByUser.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/User.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

Unit tests added.
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/AssetRepairEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/DeliveryAddressConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/EmailProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderRepositoryTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
Due: none

New put endpoint handling assigning multiple users permissions and roles
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoUsersPermissionsProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewUsersPermissionsDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewUserPermission.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewUsersPermissions.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUserPermission.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUsersPermissions.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/Mappings/UsersPermissionsProfile.cs
  src/Services/Customer/Customer.API/ViewModels/UserPermission.cs
  src/Services/Customer/Customer.API/ViewModels/UserPermissions.cs
  src/Services/Customer/Customer.API/ViewModels/UsersPermissions.cs
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/Mappings/UsersPermissionsProfile.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewUserPermissionDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewUsersPermission.cs
  src/Services/Customer/CustomerServices/ServiceModels/UsersPermissionsDTO.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

changed mocking of IMapper interface
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

missing entity configurations added
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220516105347_DeliveryAddressAsOwned.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220516105347_DeliveryAddressAsOwned.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/HardwareServiceOrderContextModelSnapshot.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
Due: none

missing migration added
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220516103737_DeliveryAddressAsOwned.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220516103737_DeliveryAddressAsOwned.cs
Due: none

Merged PR 4493: Merge build and test in dockerfile
  src/Services/Asset/Asset.API/Dockerfile
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/xunit.runner.json
  src/Services/Customer/Customer.API/Dockerfile
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Country Currency Fixed
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
Due: azure-pipelines-origoapigateway.yml

'Total-Book-Value' calculation fix
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
Due: azure-pipelines-assets.yml

Change authorize for feature flags
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/FeatureFlagsController.cs
Due: azure-pipelines-origoapigateway.yml

Added in the new roles and added them into checks where equal roles is checked for
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/DepartmentsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/Core/Enums/PredefinedRole.cs
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/ModelBuilderExtensions.cs
  src/Services/Customer/CustomerServices/Migrations/20220516103302_AddedRolesManagerAndAdmin.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220516103302_AddedRolesManagerAndAdmin.cs
  src/Services/Customer/CustomerServices/OrganizationTestDataService.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Don't run integration tests in parallell for Customer.
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.IntegrationTests.csproj
  src/Services/Customer/Tests/Customer.API.Tests/xunit.runner.json
Due: azure-pipelines-customers.yml

Added additional service classes
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Order.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/OrderResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiRequests.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/IApiRequests.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Mappings/ConmodoEventMappingException.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Mappings/EventMapper.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceStatusEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/AssetInfoDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalRepairOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ExternalServiceEventDTO.cs
Due: none

Adding userpermission only allow one permission/role
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/CustomerServices/DomainEvents/UserPermissionsChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/Models/UserPermissions.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-customers.yml

initial commit
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/appsettings.json
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/IEmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/AssetRepairEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/OrigoConfiguration.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
Due: none

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
