Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - script: dotnet tool install --global dotnet-ef
        displayName: Install EF Core
  ...

Validating imei internaly
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

Change trigger in product catalog pipeline
  azure-pipelines-productcatalog.yml
Due: none

Adjust include filter for ProductCatalog pipeline
  azure-pipelines-productcatalog.yml
Due: none

Reverted update asset to take an assetStatus int and only allowing active and inactive status
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/UpdateAssetsStatus.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Updated pipelines with migration script namespace. MAke ProductCatalog pipeline environment aware.
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  azure-pipelines-productcatalog.yml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Fix namespace error in ProductCatalog
  azure-pipelines-productcatalog.yml
Due: none

Remove extra namespace variable
  azure-pipelines-customers.yml
  azure-pipelines-productcatalog.yml
Due: azure-pipelines-customers.yml

Removed namespace variable for assets
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Chart update for ProducCatalog
  charts/product-catalog-api/templates/collector-config.yaml
Due: none

Work in progress
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAssetCategory.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/AssetCategoryAttribute.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
Due: none

finish
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: none

Removed commented code.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: none

..
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: none

1 letter typo....
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
Due: none

Only show NoLifecycle lifecycle type
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
Due: azure-pipelines-assets.yml

Added automapper. Show role for user.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/Core/Common.csproj
  src/Services/Asset/Asset.API/Asset.API.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/Customer.API/Mappings/UserPreferenceProfile.cs
  src/Services/Customer/Customer.API/Mappings/UserProfile.cs
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/CustomerServices/CustomerServices.csproj
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Mappings/UserPreferenceProfile.cs
  src/Services/Customer/CustomerServices/Mappings/UserProfile.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserPreferenceDTO.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
  src/Services/Email/Email.API/Email.API.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Added role to User. Use Autmapper. Updated Nugets.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoUserProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/UserPreferenceProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UserPreference.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/Customer/Customer.API/ViewModels/UserPreference.cs
Due: azure-pipelines-customers.yml

Added endpoint for retrieving product-orders based on both organization and partner IDs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/OrdersController.cs
Due: none

Ensure entity user object is not sent to API. Removed unused namespaces.
  src/Services/Customer/CustomerServices/DomainEvents/UserUpdateFirstNameDomainEvent.cs
  src/Services/Customer/CustomerServices/Exceptions/EntityIsDeletedException.cs
  src/Services/Customer/CustomerServices/Exceptions/LocationNotFoundException.cs
  src/Services/Customer/CustomerServices/Exceptions/OktaException.cs
  src/Services/Customer/CustomerServices/Exceptions/ParentNotValidException.cs
  src/Services/Customer/CustomerServices/Exceptions/RequiredFieldIsEmptyException.cs
  src/Services/Customer/CustomerServices/IOktaServices.cs
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/CustomerContext.cs
  src/Services/Customer/CustomerServices/Mappings/UserDTOProfile.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Location.cs
  src/Services/Customer/CustomerServices/Models/OrganizationPreferences.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/OktaConfiguration.cs
  src/Services/Customer/CustomerServices/OktaServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserPreferenceDTO.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Fix failing unit tests
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Added missing setters
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductGet.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ProductCatalog/ProductTypeGet.cs
Due: none

Added a endpoint for getting a organization's current partner-products
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IProductCatalogServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ProductCatalogServices.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/OrdersController.cs
Due: none

Added documentation
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ProductCatalogController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IProductCatalogServices.cs
  src/Services/ProductCatalog/ProductCatalog.API/Controllers/FeaturesController.cs
Due: none

Log is made when updating organization.
  src/Services/Customer/CustomerServices/DomainEvents/ContactPersonChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/CustomerAddressChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/CustomerDeletedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/CustomerNameChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/CustomerParentIdChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/CustomerPrimaryLocationChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/OrganizationNumberChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
Due: azure-pipelines-customers.yml

MacAddress was added to MobilePhone category list of attributes.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: none

if imei is not included (null), treat as no change. Empty imei list will work as before.
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

Renamed LifeCycleName to LifecycleName
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoMobilePhone.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoTablet.cs
Due: none

Added creation date to the assets viewmodels. Added UTC formate for LastUpdatedDate and that it gets new datetime everytime entity updates
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/Asset.API/ViewModels/MobilePhone.cs
  src/Services/Asset/Asset.API/ViewModels/Tablet.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetRepository.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Migrations/20211217135508_AddedUTCTimeForLastUpdatedDate.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20211217135508_AddedUTCTimeForLastUpdatedDate.cs
Due: azure-pipelines-assets.yml

Fixed tests for AssetService to use a different datetime function that SqlLite supports
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Migrations/20211220102109_LastUpdatedDate_UTCDefaultValue.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20211220102109_LastUpdatedDate_UTCDefaultValue.cs
  src/Services/Asset/AssetServices/Migrations/AssetsContextModelSnapshot.cs
Due: azure-pipelines-assets.yml

Changed wrong logic for adding default value when not SQLLite - LastUpdatedDate
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
Due: azure-pipelines-assets.yml

Removed datetime presentation fix.
  src/Core/Model/AssetAuditLog.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Revert "Merged PR 3378: LifecycleStatusAfter/Before, CreatedDate fix, AssetCreatedDomainEvent msg different for tablet, Asset, MP
  src/Core/Model/AssetAuditLog.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetCreatedDomainEvent.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Seed data for organization and assets
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SeedDatabaseController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISeedDatabaseService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SeedDatabaseService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/Asset/Asset.API/Controllers/AssetTestDataController.cs
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Asset/AssetServices/AssetTestDataService.cs
  src/Services/Asset/AssetServices/IAssetTestDataService.cs
  src/Services/Asset/AssetServices/SeedData/Seed.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationTestDataController.cs
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/CustomerServices/IOrganizationTestDataService.cs
  src/Services/Customer/CustomerServices/Migrations/CustomerContextModelSnapshot.cs
  src/Services/Customer/CustomerServices/Models/Department.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/OrganizationTestDataService.cs
  src/Services/Customer/CustomerServices/SeedData/Seed.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Add more asset seed data
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SeedDatabaseService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/Asset/Asset.API/Controllers/AssetTestDataController.cs
  src/Services/Asset/AssetServices/AssetTestDataService.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/SeedData/Seed.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationTestDataController.cs
  src/Services/Customer/CustomerServices/SeedData/Seed.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Remove space in permission name
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20211222144702_remove_space_from_featurepermission.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20211222144702_remove_space_from_featurepermission.cs
Due: none

Names not shown and Id was always null - fix.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Core/Model/AssetAuditLog.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Createdby/updatedby set.
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
Due: azure-pipelines-assets.yml

Renamed from GetAssetAuditLogMock to not include Mock.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
Due: azure-pipelines-assets.yml

UpdatedBy with caller Id for Assets Controller
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/UpdateAssetsStatus.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateAssetsStatusDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml

Fixed duplicated properties
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/Tablet.cs
Due: azure-pipelines-assets.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
