Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Confirm Pending Buyout endPoint
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/BuyoutDeviceDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/BuyoutDeviceDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Status Handler refactoring done
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IStatusHandlerFactory.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderCanceledStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderCompletedStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderOngoingStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderRegisteredStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForSUR.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderUnKnownStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/StatusHandlerFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: none

Implemented the suggestions made for status handler
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceForSURTests.cs
Due: none

Fixed PR comments
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/ServiceProvider.cs
Due: azure-pipelines-origoapigateway.yml

Fixed a bug that caused the includes to always be loaded, even if not requested
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
Due: none

Added a global query filter for the deleted state
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/AuditableBaseConfiguration.cs
Due: none

Added the API gateway API entities
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/ServiceOrderAddon.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/ServiceProvider.cs
Due: azure-pipelines-origoapigateway.yml

Added an option for retrieving service-providers with filtered addons
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
Due: none

Fixed three typos in a unit-test message
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
Due: none

Added the backoffice controller for retrieving all service-providers
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceBackofficeController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/ServiceOrderAddon.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/ServiceProvider.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
Due: azure-pipelines-origoapigateway.yml

Updated the route name for the controller
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/ServiceProviderController.cs
Due: none

employee offboard overdue endpoint and functionality
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/DomainEvents/OffboardingOverduedDomainEvent.cs
  src/Services/Customer/CustomerServices/Email/EmailService.cs
  src/Services/Customer/CustomerServices/Email/IEmailService.cs
  src/Services/Customer/CustomerServices/Email/Models/OffboardingOverdueMail.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/Resources/Customer.Designer.cs
  src/Services/Customer/CustomerServices/Resources/Customer.resx
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-customers.yml

XML comments
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
Due: azure-pipelines-customers.yml

offboard overdue Integration Tests for Fail requests
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml

Changed documentation
  src/Core/Logging/BaseEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/UserOnboardingInitiatedDomainEvent.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

added documentation to public methods
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/CustomerServices/DomainEvents/UserOnboardingInitiatedDomainEvent.cs
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
Due: azure-pipelines-customers.yml

Checking and chaning user status i get userpermission if the user has invited status
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/CustomerServices/DomainEvents/UserOnboardingInitiatedDomainEvent.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
Due: azure-pipelines-customers.yml

Added documentation to new domain event
  src/Services/Customer/CustomerServices/DomainEvents/UserOnboardingInitiatedDomainEvent.cs
Due: azure-pipelines-customers.yml

Added human-readable enums that contains the static/fixed IDs used by the DbContext's seeding data
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/FeatureSeedDataValues.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/FeatureTypeSeedDataValues.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductSeedDataValues.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductTypeSeedDataValue.cs
Due: azure-pipelines-productcatalog.yml

Removed an unused 'using'
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
Due: azure-pipelines-productcatalog.yml

Restructured the seeding method to be more readable and easier to work with, and added in seeding values for "HW Repair" and "Recycle & Wipe"
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
Due: azure-pipelines-productcatalog.yml

Added a updated DB migration file containing the new/changed data
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220809141006_RestructuredAndUpdatedSeedingData.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220809141006_RestructuredAndUpdatedSeedingData.cs
Due: azure-pipelines-productcatalog.yml

Added indicators that tells if API username/password is relevant
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/ServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220811135145_AddedServiceProviderApiCredentialsHelpers.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220811135145_AddedServiceProviderApiCredentialsHelpers.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/SeedData/HardwareServiceSeedData.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ServiceProviderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/ServiceProviderProfileTests.cs
Due: azure-pipelines-origoapigateway.yml

Webshop Claim fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/WebshopController.cs
Due: azure-pipelines-origoapigateway.yml

Update to documentation.
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

Added additional documentation for request body and changed if statement
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/RecycleAssetLifecycle.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

Adding caller id to constructor of domain event.
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/UpdateAssetLifecycleStatusDomainEvent.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

Added updatedby and last updated date.
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

Added documentation and callerId back.
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/RecycleAssetLifecycle.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/UpdateAssetLifecycleStatusDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Added endpoint for change to asset lifecycle when recycle order is completed.
  src/Core/Enums/AssetLifecycleStatus.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/UpdateAssetLifecycleStatusDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Setting caller id
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/UpdateAssetLifecycleStatusDomainEvent.cs
Due: azure-pipelines-assets.yml

Added endpoint for changing an asset lifecycle status when canceling a order
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
Due: azure-pipelines-assets.yml

Asset test clean up
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Renamed 'Module' to 'Product' in the seeding data
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220816091311_RenamedModuleToOption.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20220816091311_RenamedModuleToOption.cs
Due: azure-pipelines-productcatalog.yml

Added tests and fixes to failing tests and custom EmailException.
  src/Core/Enums/OrigoErrorCodes.cs
  src/Services/Asset/Asset.API/ViewModels/EmailPersonAttribute.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Email/EmailService.cs
  src/Services/Asset/AssetServices/Exceptions/EmailException.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Changed email sender/recipient
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
Due: none

Changes incorrect error message when a organization number already exists.
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-customers.yml

'not found' error fix"
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Added validation attributes to email and phonenumber inputs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/BuyoutDevice.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/BuyoutDeviceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ContactPersonDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/EmailPersonAttributeDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ReportDeviceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserAdminDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Response/ContactDetails.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/LoanDevice.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewPartnerOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoContactPerson.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUpdateUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/PrivateSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoPrivateSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateOrganization.cs
Due: azure-pipelines-origoapigateway.yml

user offboard overdue improvement
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml
