Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer

CustomerSettings model
  src/Services/Asset/AssetServices/Models/Label.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerReferenceField.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ICustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerReferenceFieldDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Types/CustomerReferenceTypes.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
Due: azure-pipelines-assets.yml

Needed to do som refactoring in the backend. Changed name of ViewModels to fit the standards form the other controllers and change SubscriptionProduct (viewmodel) to not have only supply a list
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Mappings/OperatorProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Mappings/SubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/Operator.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/SubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/SubscriptionProductViewModel.cs
Due: none

Merge conflicts and resolve pipeline ingress issue
  azure-pipelines-origoapigateway.yml
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
Due: none

Added controller and service for get and made some changes i post
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
Due: none

Change name of secret used to store certificate
  charts/origoapigateway/values.yaml
Due: none

Add ingressroute to helm chart
  OrigoDomainServices.sln
  charts/origoapigateway/values.yaml
  ingressroutes.yaml
Due: none

Initial commit
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

minor changes
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
Due: none

Added delete and patch for gateway and connected it to backend.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/UpdateOperator.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/UpdateSubscriptionProduct.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
Due: none

view model renaming
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
Due: none

Secret name in pipeline
  azure-pipelines-origoapigateway.yml
  ingressroutes.yaml
  src/Services/Asset/Asset.API/manifests/ingressroutes.yaml
Due: azure-pipelines-assets.yml

Added new table - partner. Added Create endpoints for partner. Added get endpoint for partner.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/CreatePartnerDto.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/PartnerDto.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Partner.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/NewPartner.cs
  src/Services/Customer/Customer.API/ViewModels/Partner.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/CustomerContext.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Migrations/20220202224359_PartnerTable.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220202224359_PartnerTable.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Partner.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

get operator response changed to object instead of string
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/Operator.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

endpoint added in api gateway service
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
Due: none

Add initial webshopUserCheck without CustomerApi integration
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
Due: none

initial commit
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferSubscriptionOrder.cs
Due: none

minor changes
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/CustomerServices/OktaServices.cs
Due: azure-pipelines-customers.yml

Prod setting added for db connection
  azure-pipelines-assets.yml
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/appsettings.json
Due: azure-pipelines-assets.yml

webshop endpoint added in api gateway and provision logic implemented
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/WebshopController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Filters/ErrorExceptionFilter.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IWebshopService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/WebshopConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/WebshopService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/Services/Customer/Customer.API/Controllers/WebshopController.cs
  src/Services/Customer/Customer.API/Filters/ErrorExceptionFilter.cs
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/CustomerServices/IOktaServices.cs
  src/Services/Customer/CustomerServices/IWebshopService.cs
  src/Services/Customer/CustomerServices/OktaServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/OktaUserDTO.cs
  src/Services/Customer/CustomerServices/WebshopService.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OktaServicesTests.cs
Due: azure-pipelines-customers.yml

Adds webshop configuration and configmodel
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/Customer.API/appsettings.json
  src/Services/Customer/CustomerServices/WebshopConfiguration.cs
Due: azure-pipelines-customers.yml

unit tests added
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/OktaServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/WebshopServiceTests.cs
Due: azure-pipelines-customers.yml

Added configuration for Customer settings and Customer operator settings. Not added the migration yet
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
Due: none

Adds Litium models and webshop provisioning
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/WebshopController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/WebshopService.cs
  src/Services/Customer/Customer.API/Controllers/WebshopController.cs
  src/Services/Customer/CustomerServices/IWebshopService.cs
  src/Services/Customer/CustomerServices/Models/LitiumOrganization.cs
  src/Services/Customer/CustomerServices/Models/LitiumOrganizationRole.cs
  src/Services/Customer/CustomerServices/Models/LitiumPerson.cs
  src/Services/Customer/CustomerServices/WebshopService.cs
Due: azure-pipelines-customers.yml

Comments out the phonenumber requirement for Entry scope while posting litium person
  src/Services/Customer/CustomerServices/WebshopService.cs
Due: azure-pipelines-customers.yml

Corrects Webshop unit tests to include WebshopConfiguration
  src/Services/Customer/Tests/CustomerServices.UnitTests/WebshopServiceTests.cs
Due: azure-pipelines-customers.yml

Make environment name a variable
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Trigger pipelines
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  azure-pipelines-origoapigateway.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Adds Token issuer, audience and expiration validation
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/WebshopController.cs
Due: none

Removed primary key naming and all migration. Added new initial migration and data seeding to operators configuration
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/OperatorConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220131095654_Initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220131095654_Initial.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220201124040_OperatorAccountRename.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220201124040_OperatorAccountRename.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220202184310_dataseeding_operator.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220203031342_CreateAndUpdatedDate.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220203031342_CreateAndUpdatedDate.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220203092303_SYSUTCDATETIME.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220209095904_InitialMigration.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220209095904_InitialMigration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagmentContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
Due: none

Added new migration based on renamed column from develop merge
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220209102631_CustomerOperatorSetting_rename_SubscriptionProducts_To_AvailibleSubscriptionProducts.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220209102631_CustomerOperatorSetting_rename_SubscriptionProducts_To_AvailibleSubscriptionProducts.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
Due: none

Add main branch to trigger
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
Due: none

Prod settings changes
  azure-pipelines-origoapigateway.yml
  azure-pipelines-productcatalog.yml
Due: none

Moved the endpoints for Subscription Management related to customer to Customer controller. Added right method for delete operator endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/SubscriptionManagementController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
Due: none

Adds JWT validation, changes in request responses and error handling in Webshop user provisioning
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/WebshopController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/Services/Customer/Customer.API/Controllers/WebshopController.cs
Due: azure-pipelines-customers.yml

Add nullhandling of phone number
  src/Services/Customer/CustomerServices/WebshopService.cs
Due: azure-pipelines-customers.yml

new domain name for Prod
  azure-pipelines-origoapigateway.yml
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/manifests/prod/ingressroutes.yaml
Due: none

Update secret name for prod
  azure-pipelines-origoapigateway.yml
Due: none

data model and logic implemented
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/TransferSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/TransferSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Moved partner endpoints to new controllers in Gateway and CustomerServices. Added partner specific service to Gateway and CustomerServices. Added get endpoint for fetching a single partner.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/PartnersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IPartnerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/PartnerConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/PartnerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Controllers/PartnersController.cs
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/IPartnerServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/PartnerServices.cs
Due: azure-pipelines-customers.yml

data migration added
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220210083150_transfer_date.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220210083150_transfer_date.cs
Due: none
