Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-hardware-service-order.yml: any of: azure-pipelines-hardware-service-order.yml, src/Core, charts/hardware-service-order-api, src/Services/HardwareServiceOrder
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Remove partnerid in accesslist in gateway.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
Due: azure-pipelines-origoapigateway.yml

Enabled temporal tables
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ApiCredentialConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderServiceOrderAddonConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceEventConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceOrderAddonConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderServiceTypeConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceStatusConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceTypeConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220916153753_EnabledTemporalTables.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220916153753_EnabledTemporalTables.cs
Due: azure-pipelines-hardware-service-order.yml

Changed service-event from a "owned" to a standalone entity
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceEventConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220916152844_MadeServiceEventANonOwnedEntity.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220916152844_MadeServiceEventANonOwnedEntity.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceEvent.cs
Due: azure-pipelines-hardware-service-order.yml

Added filter to techstep search to not show customers already added.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/CustomerServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
Due: azure-pipelines-origoapigateway.yml

Make sure OrgId for PartnerId is first in access list and optimize GET permission.
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UnitTestDatabaseSeeder.cs
Due: azure-pipelines-customers.yml

Added assets product name to frontend model for get users asset.
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Fix user count for partner admin
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForUser.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/FilterOptionsForUser.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Asset count fix for PartnerAdmin
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added minor improvments for sub man email service.
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/EmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/ActivateSimMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/CancelSubscriptionMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/ChangeSubscriptionMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/NewSubscriptionMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/OrderSimMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/TransferToBusinessMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/TransferToPrivateMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.resx
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Added improvments to template and models for sub man email service
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/NewSubscriptionMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/TransferToBusinessMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.resx
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Added missing values to mail for subscription management.
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/NewSubscriptionMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/TransferToBusinessMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.resx
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Added the same regEx to frontend model as for the backend model.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UserPreference.cs
Due: azure-pipelines-origoapigateway.yml

Added an endpoint that can be used by end-users to retrieve the customer's loan-device settings
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/Mappings/HardwareServiceOrder/CustomerSettingsProfileTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/HardwareServiceOrder/CustomerSettingsProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/LoanDeviceSettings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareServiceOrderService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Fixed misc. SonarCloud warnings
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
Due: azure-pipelines-hardware-service-order.yml

Removed a non-translated "translation", so the fallback is correctly used
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.no.resx
Due: azure-pipelines-hardware-service-order.yml

Fixed two HTML entries in the resx store
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
Due: azure-pipelines-hardware-service-order.yml

Renamed property
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/AssetRepairEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/OrderConfirmationEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/EmailProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForSUR.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
Due: azure-pipelines-hardware-service-order.yml

Fixed the terminology, and made some messages more readable.
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
Due: azure-pipelines-hardware-service-order.yml

Added the link suffix back to the renamed items
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/AssetDiscardedEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/AssetRepairEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/LoanDeviceEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/OrderCancellationEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/OrderConfirmationEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/EmailProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerServiceForSUR.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
Due: azure-pipelines-hardware-service-order.yml

Check if user exists in Okta before creating it.
  src/Services/Customer/CustomerServices/OktaServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

Set a default/fixed "user-message" for R&W orders.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareAftermarketOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
Due: azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

Removed a remaining occurrence of "ErrorDescription"
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareAftermarketOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
Due: azure-pipelines-origoapigateway.yml

Renamed stray occurrences of "ErrorDescription" to "UserDescription" in HardwareServices so it matches the naming used in other entities
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/NewHardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/CreateOrderRequest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ConmodoProviderServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ApiCredentialDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewHardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-hardware-service-order.yml

Updated the API gateway models
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewHardwareServiceOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareAftermarketOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/HardwareServiceCustomerControllerTest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/NewHardwareServiceOrder.cs
Due: azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

Change filename for release notes
  azure-pipelines-assets.yml
  general-deploy.yaml
Due: azure-pipelines-assets.yml

Added missing information to mail sub man
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Email/Models/TransferToBusinessMail.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Resources/SubscriptionManagement.resx
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Count users for customers should not count deleted user
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-customers.yml

Correct release doc name for subs.mgmt
  azure-pipelines-subscriptionmanagement.yml
Due: azure-pipelines-subscriptionmanagement.yml

Added no and sv translations for the emails in asset, customer and hardware repair
  src/Services/Asset/AssetServices/Resources/Asset.nb-NO.resx
  src/Services/Asset/AssetServices/Resources/Asset.sv-SE.resx
  src/Services/Asset/Tests/AssetServices.UnitTests/EmailServiceTests.cs
  src/Services/Customer/CustomerServices/Resources/Customer.nb-NO.resx
  src/Services/Customer/CustomerServices/Resources/Customer.sv-SE.resx
  src/Services/Customer/Tests/CustomerServices.UnitTests/EmailServiceTests.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.nb-NO.resx
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.sv-SE.resx
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml

failing strings bc of format fixed
  src/Services/Asset/Tests/AssetServices.UnitTests/EmailServiceTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/EmailServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml

Encryption and Decryption added to ApiUsername and ApiPassword
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
Due: azure-pipelines-hardware-service-order.yml

Added translations for mail subject
  src/Services/Asset/AssetServices/Email/EmailService.cs
  src/Services/Asset/AssetServices/Email/Model/AssetBuyoutNotification.cs
  src/Services/Asset/AssetServices/Email/Model/PendingReturnNotification.cs
  src/Services/Asset/AssetServices/Email/Model/ReAssignedToUserNotification.cs
  src/Services/Asset/AssetServices/Email/Model/ReportAssetNotification.cs
  src/Services/Asset/AssetServices/Email/Model/UnassignedFromManagerNotification.cs
  src/Services/Asset/AssetServices/Email/Model/UnassignedFromUserNotification.cs
  src/Services/Asset/AssetServices/Resources/Asset.Designer.cs
  src/Services/Asset/AssetServices/Resources/Asset.nb-NO.resx
  src/Services/Asset/AssetServices/Resources/Asset.resx
  src/Services/Asset/AssetServices/Resources/Asset.sv-SE.resx
  src/Services/Customer/CustomerServices/Email/EmailService.cs
  src/Services/Customer/CustomerServices/Email/Models/InvitationMail.cs
  src/Services/Customer/CustomerServices/Email/Models/OffboardingInitiatedWithBuyout.cs
  src/Services/Customer/CustomerServices/Email/Models/OffboardingInitiatedWithoutBuyout.cs
  src/Services/Customer/CustomerServices/Email/Models/OffboardingOverdueMail.cs
  src/Services/Customer/CustomerServices/Resources/Customer.Designer.cs
  src/Services/Customer/CustomerServices/Resources/Customer.nb-NO.resx
  src/Services/Customer/CustomerServices/Resources/Customer.resx
  src/Services/Customer/CustomerServices/Resources/Customer.sv-SE.resx
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Changes some comment
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
Due: azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml

Deleted user should not get invitation mail
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserPermissionsTests.cs
Due: azure-pipelines-customers.yml

removed comment
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml

Onboarding user Tiles Preferences
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OnboardingTilesPreference.cs
  src/Services/Customer/CustomerServices/DomainEvents/SetOnboardingTilesDomainEvent.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/CustomerContext.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/UserConfiguration.cs
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/UserPreferenceConfiguration.cs
  src/Services/Customer/CustomerServices/Migrations/20221006185028_onboarding_tiles_preferences.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20221006185028_onboarding_tiles_preferences.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/Models/UserPreference.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Validate email is for right organization
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/ImportedAssetProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssetValidationResult.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/ImportedAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Customer/Customer.API/Mappings/UserProfile.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Mappings/UserDTOProfile.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserInfo.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserInfoDTO.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UnitTestDatabaseSeeder.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Adds new endpoint to fetch count of customer subscriptions
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoSubscriptionOrdersCount.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: azure-pipelines-origoapigateway.yml

Add product permissions as userpermissions for backend authorization checks.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/UserPermissionsTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserPermissionsDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/ViewModels/UserPermissions.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserPermissionsDTO.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserPermissionsTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Seeded new product permission data.
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Infrastructure/Context/ProductCatalogContextSeedData.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20221011121049_new_seed_product_permission.Designer.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Migrations/20221011121049_new_seed_product_permission.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/FeatureSeedDataValues.cs
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/Models/Database/ProductSeedDataValues.cs
Due: azure-pipelines-productcatalog.yml
