Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

nothing
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
Due: azure-pipelines-origoapigateway.yml

Bug Resolved for Active Hardware Repair Order
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderRepositoryTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-origoapigateway.yml

FromQuery Added For ActiveOnly
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
Due: azure-pipelines-origoapigateway.yml

Missing properties added in the response. Not using obsolete constructor
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/OrigoHardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/HardwareServiceOrderResponseDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderResponseDTO.cs
Due: azure-pipelines-origoapigateway.yml

integration tests updated
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
Due: none

Queryparam userId guid to string Get UserId from token
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
Due: azure-pipelines-origoapigateway.yml

Harware Repair Order Unit & Integration Testing Done
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrder.IntegrationTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

Added a DateOnly converter for EntityFramework
  src/Core/Converters/EntityFramework/DateOnlyConverter.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Updated global usings, and added it to the gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/GlobalUsings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/GlobalUsings.cs
Due: azure-pipelines-origoapigateway.yml

Registered the DateOnly converters in the EF DbContext
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
Due: none

Removed a unused and unsupported patch endpoint/service classes
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Updated default pagination size
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
Due: azure-pipelines-origoapigateway.yml

Moved a configuration file to the correct folder
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Configuration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ProviderFactory.cs
Due: none

Removed unused and unsupported method
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/IAssetService.cs
Due: none

Enabled nullable for all HW Repair entities in the API Gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/AssetInfo.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/CustomerServiceProviderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewHardwareServiceOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/OrderedByUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/CustomerSettings.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/DeliveryAddress.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/OrigoHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/OrigoHardwareServiceOrderDetail.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/HardwareServiceOrderLog.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/LoanDevice.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/RecipientTypeEnum.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/ServiceEvent.cs
Due: azure-pipelines-origoapigateway.yml

Registered the 'X-Authenticated-User' header parameter with all Swagger API endpoints
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/SwaggerHeaderParameters.cs
Due: none

Minor documentation improvement
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProviderEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceStatusEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceTypeEnum.cs
Due: none

Added additional contact details to the EF entity
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ContactDetails.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ContactDetailsDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: none

Reworked the contact model DTO and view-model implementations to be more reusable and robust
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/ContactDetailsExtended.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewHardwareServiceOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/OrderedByUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Response/ContactDetails.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/ContactDetails.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/ContactDetailsExtended.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/NewHardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ContactDetailsDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ContactDetailsExtendedDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewExternalRepairOrderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-origoapigateway.yml

Changed the IMEI list from IEnumerable to ISet to enforce uniqueness
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/AssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/IAssetService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderCanceledStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderCompletedStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderOngoingStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderRegisteredStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderStatusHandlerService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Services/ServiceOrderUnKnownStatusHandlerService.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: none

Misc cleanup and migrations from deprecated constructors
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/Models/OrderConfirmationEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: none

Added asset-info to entity framework's service-order
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/AssetInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/AssetInfoDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: none

Fixed several warnings, documentation and nullability issues
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
Due: none

Corrected a mapping issue
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
Due: none

Renamed two entities to be less misleading, and more in-line with what they actually represent and are used for
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Response/ContactDetails.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/OrigoHardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderResponseDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/NewHardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-origoapigateway.yml

Replaced the ServiceOrder response model
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/OrigoHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/OrigoHardwareServiceOrderDetail.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/HardwareServiceOrderResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/HardwareServiceOrderResponseDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/AssetInfoProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/ContactDetailsProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/DeliveryAddressDto.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderResponseDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-origoapigateway.yml

Updated a API so it returns the asset details from the service-order instead of calling on the asset-microservice
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/HardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/OrigoHardwareServiceOrderDetail.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
Due: azure-pipelines-origoapigateway.yml

Enabled XML documentation generation for the common project
  src/Core/Common.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Changed from local time to UTC
  src/Core/EntityFramework/SaveContextChangesInterceptor.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Asset category is now correctly recorded in the database
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/AssetInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/HardwareServiceOrderResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/ServiceOrderStatusHandlerServiceTests.cs
Due: azure-pipelines-origoapigateway.yml

Added migrations
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220619203438_reworked_service_order.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220619203438_reworked_service_order.cs
Due: none

"Return Location" based on Office Location CRUD
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewDisposeSettingProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewReturnLocationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewReturnLocation.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/ReturnLocation.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/NewAssetProfile.cs
  src/Services/Asset/Asset.API/Mappings/PagedAssetProfile.cs
  src/Services/Asset/Asset.API/ViewModels/DeleteReturnLocation.cs
  src/Services/Asset/Asset.API/ViewModels/DisposeSetting.cs
  src/Services/Asset/Asset.API/ViewModels/NewReturnLocation.cs
  src/Services/Asset/Asset.API/ViewModels/ReturnLocation.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/ReturnLocationCreatedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/ReturnLocationRemovedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/ReturnLocationUpdatedDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/SetPayrollContactEmailDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/CustomerSettingConfiguration.cs
  src/Services/Asset/AssetServices/Infrastructure/LifeCycleSettingRepository.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/Migrations/20220616170913_ReturnLocation_in_DisposeSetting.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220616170913_ReturnLocation_in_DisposeSetting.cs
  src/Services/Asset/AssetServices/Migrations/20220616172121_UnnecessaryExternalId_in_DisposeSetting.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220616172121_UnnecessaryExternalId_in_DisposeSetting.cs
  src/Services/Asset/AssetServices/Models/CustomerSettings.cs
  src/Services/Asset/AssetServices/Models/DisposeSetting.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/ReturnLocation.cs
  src/Services/Asset/AssetServices/ServiceModel/DisposeSettingDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/ReturnLocationDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Registered the correct DateOnly format presentation for the Swagger UI
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Extensions/SwaggerGenOptionsExtensions.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: azure-pipelines-origoapigateway.yml

Office Location Delete endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/DeleteContent.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/DeleteContent.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Removed exception and added test to send multiple request for HW endpoints in assets and added handeling of status'es that is not allowed
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetLifecycleTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml

Add department filter when getting users for managers
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForUser.cs
  src/Services/Customer/Customer.API/ViewModels/FilterOptionsForUser.cs
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/Models/Department.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/DepartmentsControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Temp. quickfix for remapping the external id to id
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/HardwareServiceOrder.cs
Due: azure-pipelines-origoapigateway.yml

Added removal of all old managers to patch department endpoint
  src/Services/Customer/CustomerServices/DepartmentsServices.cs
  src/Services/Customer/CustomerServices/DomainEvents/DepartmentRemoveDepartmentManagersDomainEvent.cs
  src/Services/Customer/CustomerServices/Models/Department.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/DepartmentsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UserPermissionsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/CustomerWebApplicationFactory.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-customers.yml

Added in a missing property in the service-event entity
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/ServiceEvent.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/ServiceEvent.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/ServiceEventProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceEvent.cs
Due: azure-pipelines-origoapigateway.yml

UserPermission access right change
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UserPermissionsController.cs
  src/Services/Customer/Customer.API/ViewModels/UserPermissions.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml
