Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Added check if requests datapackages is null or empty
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

added enums and validation for SimTypes
  src/Core/Enums/SIMTypes.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/SIMCardValidation.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

connected backend to gateway for activate sim
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/SubscriptionManagement/NewActivateSimOrderProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/ActivateSimOrderPostRequest.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewActivateSimOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoActivateSimOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
Due: none

Caller id missing when order sim
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/SubscriptionManagement/SubscriptionOrdersProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/OrderSimDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoOrderSim.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/OrderSimSubscriptionOrderProfile.cs
Due: none

Added check for phonenumber and error responses
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Core/Exceptions/InvalidSimException.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/InvalidSimException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Added in validation for sim type and integration tests
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Changed names for SimNumber and SimType in ActivateSimOrder model
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/ActivateSimOrderPostRequest.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewActivateSimOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220309102109_ChangedNamesToSimCard_ActivateSimOrder.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220309102109_ChangedNamesToSimCard_ActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/ActivateSimOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

added activate sim events to order lis and limitation on lenght of the list
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
Due: none

Using exception filter for handeling exception activate sim
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Filters/ErrorExceptionFilter.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Operator account name should be max 40 chars. OperatorAccountId should not be required.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorAccountConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Use OrderExecutionDate instead of TransferDate and ensure correct values are returned here in subscription order list.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoSubscriptionOrderListItem.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ActivateSimOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CancelSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/OrderSimSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/SubscriptionOrderListItemDTO.cs
Due: none

initail commit
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/IEmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/OrderSimSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/Extensions.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/FlatDictionary.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/IFlatDictionaryProvider.cs
Due: none

using the exception filter for handeling exceptions for activate sim and change subscription
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Exceptions/SubscriptionManagementException.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Filters/ErrorExceptionFilter.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Filters/ErrorExceptionFilter.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/CustomerSettingsException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/InvalidPhoneNumberException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/InvalidSimException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Allowing datapackages being null when adding a product with no datapackage
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/BusinessSubscriptionDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Add error response object. Test new address for otel-collector.
  charts/subscriptionmanagement-api/templates/collector-config.yaml
  src/Core/Enums/OrigoErrorCodes.cs
  src/Core/Model/ErrorResponse.cs
  src/Core/Model/ErrorResponseDetail.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Adjust the rest of the otel-collectors.
  charts/asset-api/templates/collector-config.yaml
  charts/customer-api/templates/collector-config.yaml
  charts/origoapigateway/templates/collector-config.yaml
  charts/product-catalog-api/templates/collector-config.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml

templates added
  EmailTemplates/SubscriptionManagementServices/ActivateSIM.html
  EmailTemplates/SubscriptionManagementServices/CancelSubscription.html
  EmailTemplates/SubscriptionManagementServices/ChangeSubscription.html
  EmailTemplates/SubscriptionManagementServices/OrderSim.html
  EmailTemplates/SubscriptionManagementServices/TransferToBusiness.html
  EmailTemplates/SubscriptionManagementServices/TransferToPrivate.html
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/FlatDictionary.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/FlatDictionaryTests.cs
Due: none

minor changes
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/FlatDictionaryTests.cs
Due: none

Added fix for when action is order type and sim card number is null
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/SIMCardValidation.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Added new model and mapping for response model for TransferToBusiness
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToBusinessSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewOperatorAccountResponseDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTOResponse.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

changed assert on Datetime when checking the view model
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Add new exception handling
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Exceptions/InvalidOrganizationNumberException.cs
  src/Core/Enums/OrigoErrorCodes.cs
  src/Core/Model/ErrorResponse.cs
  src/Core/Model/ErrorResponseDetail.cs
  src/Services/Asset/AssetServices/Exceptions/InvalidLifecycleTypeException.cs
  src/Services/Customer/CustomerServices/Exceptions/InvalidOrganizationNumberException.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Filters/ErrorExceptionFilter.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/CustomerReferenceFieldMissingException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/CustomerSettingsException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/InvalidCustomerReferenceInputDataException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/InvalidOperatorIdInputDataException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/InvalidPhoneNumberException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/InvalidSimException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Exceptions/SubscriptionManagementException.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

transfer to business template updated
  EmailTemplates/SubscriptionManagementServices/TransferToBusiness.html
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/FlatDictionary.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/FlatDictionaryTests.cs
Due: none

Added validation of phonenumber and customer operatorsettings
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Update nugets
  Common.UnitTests/Common.UnitTests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Boilerplate.EntityFramework.UnitTest.csproj
  src/Boilerplate/Boilerplate.EntityFramework/Boilerplate.EntityFramework.csproj
  src/Core/Common.csproj
  src/Services/Asset/Asset.API/Asset.API.csproj
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/CustomerServices/CustomerServices.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/ProductCatalog/ProductCatalog.API/ProductCatalog.API.csproj
  src/Services/ProductCatalog/ProductCatalog.Common/ProductCatalog.Common.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagement.IntegrationTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

added dataseeding for new subscription products
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220314144432_SeedingGlobalSubscriptionProducts.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220314144432_SeedingGlobalSubscriptionProducts.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SeedData/DataSeeding.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
Due: none

templates updated with markdown
  EmailTemplates/SubscriptionManagementServices/ActivateSIM.html
  EmailTemplates/SubscriptionManagementServices/CancelSubscription.html
  EmailTemplates/SubscriptionManagementServices/ChangeSubscription.html
  EmailTemplates/SubscriptionManagementServices/OrderSim.html
  EmailTemplates/SubscriptionManagementServices/TransferToBusiness.html
  EmailTemplates/SubscriptionManagementServices/TransferToPrivate.html
Due: none

merge with develop
  src/Core/Logging/BaseEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/ActivateSimOrderCreatedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/OrderSimSubscriptionOrderCreatedDomainEvent.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Updated two events missing from !4002
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/ActivateSimOrderCreatedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/OrderSimSubscriptionOrderCreatedDomainEvent.cs
Due: none

added NewSubscriptionOrder model and domain event
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/NewSubscriptionOrderCreatedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SimCardAddress.cs
Due: none

changed domain event EventMessage
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/NewSubscriptionOrderCreatedDomainEvent.cs
Due: none

added post newSubscriptionOrder in gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/SubscriptionManagement/NewSubscriptionOrderProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/NewSubscriptionOrderPostRequest.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/SimCardAddress.cs
Due: none

integration test fixed
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/IFlatDictionaryProvider.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/FlatDictionaryTests.cs
Due: none

customer reference added in the template
  EmailTemplates/SubscriptionManagementServices/TransferToBusiness.html
Due: none

initial commit
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/CustomerSubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerSubscriptionProductDTO.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

not sending email in integration tests
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailService.cs
Due: none

Added new subscription order in backend
  src/Core/Enums/SIMTypes.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/NewSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/SimCardAddressConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/NewSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/SimCardAddressProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220317090151_NewSubscriptionOrder.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220317090151_NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/NewSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SimCardAddress.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionAddOnProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewSubscriptionOrderRequestDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/SimCardAddressRequestDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Utilities/SIMCardValidation.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Connected backend to gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoNewSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/NewSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/SimCardAddressRequestDTO.cs
Due: none

business logic added
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Mappings/SubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/ExistingSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none
