Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Added sending email to all customers users when initiating onboarding
  src/Services/Customer/CustomerServices/DomainEvents/UserStatusChangedDomainEvent.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationEncryptionTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/PartnerServicesTests.cs
Due: azure-pipelines-customers.yml

Added user status invite to count
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
Due: azure-pipelines-customers.yml

'LastDayOfReportingSalaryDeduction' & 'PayrollEmail'
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateOrganization.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateOrganization.cs
  src/Services/Customer/CustomerServices/DomainEvents/SetLastDayOfReportingSalaryDeductionDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/SetPayrollContactEmailDomainEvent.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/SeedData/Seed.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewOrganizationDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Migration for 'LastDaySalaryDeduction'
  src/Services/Customer/CustomerServices/Infrastructure/Context/EntityConfiguration/OrganizationConfiguration.cs
  src/Services/Customer/CustomerServices/Migrations/20220727070451_LastDaySalaryDeduction.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220727070451_LastDaySalaryDeduction.cs
Due: azure-pipelines-customers.yml

Improvements in update organization
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Mappings/OrganizationProfile.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/UpdateOrganizationDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
Due: azure-pipelines-customers.yml

test fix
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-customers.yml

Update pubsub mapping
  OrigoDomainServices.sln
  charts/customer-api/templates/subscription-user-assign-department.yaml
  charts/customer-api/templates/subscription-user-deleted.yaml
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Turn on debug info
  src/Services/Asset/Asset.API/appsettings.json
  src/Services/Customer/Customer.API/appsettings.json
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Test removing swagger ui temporarily
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Customer/Customer.API/Startup.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Increased the initial seed-value for the ID property.
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/EntityBaseConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220728135457_InitialMigration.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220728135457_InitialMigration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/HardwareServiceOrderContextModelSnapshot.cs
Due: none

Changed the primary key for 'CustomerServiceProvider'
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/AuditableBaseConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/EntityBaseConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceStatusConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceTypeConfiguration.cs
Due: none

Added additional indexes
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
Due: none

Removed a duplicated configuration
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/AuditableBaseConfiguration.cs
Due: none

Added a configuration file for "EntityV2"
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/EntityBaseConfiguration.cs
Due: none

Renamed a file to match it's class name
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/AuditableBaseConfiguration.cs
Due: none

Added a new initial DB Migration
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220614132325_initial.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220616100440_remove_asset_category_id.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220619203438_reworked_service_order.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220619203438_reworked_service_order.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220624160111_provides_loan_device.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220624160111_provides_loan_device.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220628132909_standardized_auditable_configuration.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220628132909_standardized_auditable_configuration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220707102551_AddDataProtectionKeys.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220707102551_AddDataProtectionKeys.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220728121054_InitialMigration.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220728121054_InitialMigration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/HardwareServiceOrderContextModelSnapshot.cs
Due: none

Updated existing entity-configuration so they inherit from the EntityV2 configuration
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/AuditableBaseConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/EntityBaseConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceStatusConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceTypeConfiguration.cs
Due: none

Converted the "ID" shadow property to a real property so we can configure it's start-value.
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceEvent.cs
Due: none

Revert uncomment swagger
  src/Services/Asset/Asset.API/Startup.cs
Due: azure-pipelines-assets.yml

employee offboard initiate
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OffboardInitiateDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OffboardInitiate.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Core/Enums/UserStatus.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/Customer.API/ViewModels/User.cs
  src/Services/Customer/Customer.API/WriteModels/OffboardingInitiated.cs
  src/Services/Customer/CustomerServices/DomainEvents/OffboardingInitiatedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/SetLastWorkingDayDomainEvent.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Mappings/UserDTOProfile.cs
  src/Services/Customer/CustomerServices/Migrations/20220728093230_LastWorkingDay_in_User.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220728093230_LastWorkingDay_in_User.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserDTO.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Removed unused pubsub
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
Due: azure-pipelines-assets.yml

'Payroll Email' relocated from 'Dispose Setting' to 'General Setting'
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/BuyoutDevice.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/BuyoutDeviceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewDisposeSettingDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/DisposeSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewDisposeSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/ViewModels/DisposeSetting.cs
  src/Services/Asset/Asset.API/ViewModels/NewDisposeSetting.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/SetPayrollContactEmailDomainEvent.cs
  src/Services/Asset/AssetServices/Models/DisposeSetting.cs
  src/Services/Asset/AssetServices/ServiceModel/BuyoutDeviceDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/DisposeSettingDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateOrganization.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewOrganizationDTO.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

'Pending-Buyout' for Offboarding employee
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/AssetDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/PendingBuyoutDeviceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Core/Enums/AssetLifecycleStatus.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/PagedAssetProfile.cs
  src/Services/Asset/Asset.API/ViewModels/Asset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/PendingBuyoutDeviceDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/EntityConfiguration/AssetLifecycleConfiguration.cs
  src/Services/Asset/AssetServices/Migrations/20220731223300_OffboardBuyOutPrice_in_AssetLifeCycle.Designer.cs
  src/Services/Asset/AssetServices/Migrations/20220731223300_OffboardBuyOutPrice_in_AssetLifeCycle.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetLifecycleDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/PendingBuyoutDeviceDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

OffboardBuyoutPrice property in asset attribute
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

'LastDayOfSalaryDeduction' & 'PayrollEmail' remove from Customer Add function
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/BuyoutDevice.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateOrganization.cs
  src/Services/Asset/AssetServices/ServiceModel/BuyoutDeviceDTO.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateOrganization.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewOrganizationDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added a service-status to service-state remapper
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/StatusToStateRemapper.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/StatusToStateRemapperTests.cs
Due: none

Cancel Offboarding Functionality
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/OffboardingCancelledDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/ReactivatePendingAssetDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/DomainEvents/OffboardingCancelledDomainEvent.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Removed an unused file
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/PartnerSettings.cs
Due: none

Added seeding data and missing property
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220803140829_ServiceProviderExtentions.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220803140829_ServiceProviderExtentions.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceOrderAddon.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/SeedData/HardwareServiceSeedData.cs
Due: none

Added an addon-service catalog to the service-providers
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceOrderAddonConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceOrderAddon.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/SeedData/HardwareServiceSeedData.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
Due: none

Added a proper constructor, fixed a missing nullability, and added a 'name' property.
  src/Core/SeedWork/EntityV2.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/SeedData/HardwareServiceSeedData.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

It is now possible to record a list of what service-types that can be used with a service-provider (only in entities for now)
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderServiceTypeConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProviderServiceType.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/SeedData/HardwareServiceSeedData.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
Due: none

Unit Test with associated Fix
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/UpdateOrganizationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateOrganization.cs
  src/Services/Customer/CustomerServices/DomainEvents/SetLastDayOfReportingSalaryDeductionDomainEvent.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Migrations/20220804073559_LastWorkingDay_nullable.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220804073559_LastWorkingDay_nullable.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/Models/User.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/UpdateOrganizationDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

fix existing UpdateOrg with new property
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/UpdateOrganization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/Services/Customer/Customer.API/WriteModels/UpdateOrganization.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Validate import assets
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Asset/AssetServices/Attributes/ImeiValidationAttribute.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/Asset.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/Models/MobilePhone.cs
  src/Services/Asset/AssetServices/Models/SoftwareAsset.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetFromCsvFile.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetValidationResult.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/TestData/demo_fileimport.csv
Due: azure-pipelines-assets.yml

Code smell fixes.
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetFromCsvFile.cs
Due: azure-pipelines-assets.yml

Added 'GlobalUsings' to a unit-test project
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/AssetInfoProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/GlobalUsings.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderRepositoryTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceBaseTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/StatusToStateRemapperTests.cs
Due: none

Added options for retrieving all service-providers
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/ServiceProviderController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/ServiceProviderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ServiceProviderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderRepositoryTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
Due: none

Codereview improvements
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProvider.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Infrastructure/HardwareServiceOrderRepositoryTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/ServiceOrderAddonProfileTests.cs
Due: none

Added DTOs for 'ServiceProvider' and 'ServiceOrderAddon'
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/ServiceOrderAddonProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/ServiceProviderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceOrderAddon.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ServiceOrderAddonDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ServiceProviderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/ServiceOrderAddonProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/Mappings/ServiceProviderProfileTests.cs
Due: none
