Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

OrigoApigateway pipeline changes
  azure-pipelines-origoapigateway.yml
  general-build.yaml
  general-deploy.yaml
  src/ApiGateways/OrigoApiGateway/Dockerfile
Due: azure-pipelines-origoapigateway.yml

Skipping migration step for gateway
  azure-pipelines-origoapigateway.yml
Due: azure-pipelines-origoapigateway.yml

Mapping bug Fixed & Tests Added
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoPagedAssetProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/PagedAssetsDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

MinBuyout Base Price in Config
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/MinBuyoutPriceBaseline.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Asset/Asset.API/appsettings.json
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/MinBuyoutConfiguration.cs
  src/Services/Asset/AssetServices/Models/MinBuyoutPriceBaseline.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Incorrect helm param config in pipeline template
  azure-pipelines-assets.yml
  azure-pipelines-origoapigateway.yml
  general-deploy.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Manifest changes
  charts/origoapigateway/templates/NOTES.txt
  charts/origoapigateway/templates/service.yaml
  charts/origoapigateway/values.yaml
  general-deploy.yaml
Due: azure-pipelines-origoapigateway.yml

Update pipeline for hardwareserviceorder
  azure-pipelines-hardware-service-order.yml
Due: none

Set chart paths for all pipelines. Added hardware service order charts to solution
  OrigoDomainServices.sln
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  azure-pipelines-hardware-service-order.yml
  azure-pipelines-origoapigateway.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
  general-build.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Added mapping of labels external id for assetLifecycle
  src/Services/Asset/Asset.API/Mappings/PagedAssetProfile.cs
  src/Services/Asset/AssetServices/Mappings/AssetLifecycleProfile.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetLifecycleDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/CustomerLabelDTO.cs
  src/Services/Asset/AssetServices/ServiceModel/LabelDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Added integration test to docker build for gateway
  OrigoDomainServices.sln
  src/ApiGateways/OrigoApiGateway/Dockerfile
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/UnitTest1.cs
Due: azure-pipelines-origoapigateway.yml

Added Conmodo's API models
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/AccessoryData.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/AddDocumentRequest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/BaseDataPostalCodeData.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/BaseDataPostalCodesResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/BaseDataResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Contact.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/CreateMessageRequest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/CreateMessageResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/CreateOrderRequest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/CreateOrderResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Delivery.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Document.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Event.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Image.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Line.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Message.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/NotifyShipmentRequest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/NotifyShipmentResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Order.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/OrderResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Package.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Payment.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/PriceSuggestionReply.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/ProductInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/PurchaseOrderSuggestion.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/StartStatus.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Status.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Sum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/UpdateMessageRequest.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/UpdatedOrdersResponse.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Services.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
Due: none

Product Setting BFF with Tests
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewCategoryLifeCycleSettingProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewLifeCycleSettingProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewCategoryLifeCycleSettingDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewLifeCycleSettingDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/CategoryLifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/LifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewCategoryLifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewLifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Updated Asset integration tests to use inmemory-db
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetsContext.cs
  src/Services/Asset/AssetServices/Models/HardwareAsset.cs
  src/Services/Asset/AssetServices/Models/LifeCycleSetting.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/AssetWebApplicationFactory.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/WebApplicationFactoryExtensions.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/WebHostBuilderExtensions.cs
Due: azure-pipelines-assets.yml

Merge conflict with asset tests
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml

Error in hardware service order chart
  charts/hardware-service-order-api/templates/NOTES.txt
Due: none

Build template skips migration file publish if logging is not used.
  general-build.yaml
Due: none

Changed from country name to country code on min buyout price
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/Services/Asset/Asset.API/appsettings.json
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Added test projects to ProductCatalogServices. Adjusted Dockerfile for ProductCatalogServices. Migration can be skipped for logging in deploy.
  OrigoDomainServices.sln
  azure-pipelines-hardware-service-order.yml
  general-deploy.yaml
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
  src/Services/ProductCatalog/Tests/ProductCatalog.IntegrationTests/HealthCheckTests.cs
  src/Services/ProductCatalog/Tests/ProductCatalog.IntegrationTests/ProductCatalog.IntegrationTests.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.IntegrationTests/UnitTest1.cs
Due: azure-pipelines-productcatalog.yml

Add ProductCatalog test projects
  src/Services/ProductCatalog/Tests/ProductCatalog.IntegrationTests/ProductCatalog.IntegrationTests.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.IntegrationTests/UnitTest1.cs
  src/Services/ProductCatalog/Tests/ProductCatalog.UnitTests/ProductCatalog.UnitTests.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.UnitTests/UnitTest1.cs
Due: azure-pipelines-productcatalog.yml

Attribute "assets" changed to "items"
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/OrigoPagedAssetProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoPagedAssets.cs
Due: azure-pipelines-origoapigateway.yml

Docker file error in ProductCatalogServices
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
Due: azure-pipelines-productcatalog.yml

Added isPersonal to request
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/NewAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewAssetDTO.cs
  src/Services/Asset/Asset.API/ViewModels/NewAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Path adjustments in PC dockerfile
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
Due: azure-pipelines-productcatalog.yml

Skip logging deploy migration i ProductCatalog
  azure-pipelines-productcatalog.yml
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
Due: azure-pipelines-productcatalog.yml

Dockerfile adjustment ProductCatalog
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
Due: azure-pipelines-productcatalog.yml

added healtcheck for gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/HealthCheckTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGatewayWebApplicationFactory.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/UnitTest1.cs
Due: azure-pipelines-origoapigateway.yml

Make sure unit test for boilerplate runs
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
Due: azure-pipelines-productcatalog.yml

Nuget updates
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.IntegrationTests/ProductCatalog.IntegrationTests.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.UnitTests/ProductCatalog.UnitTests.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml

Sonarcloud project setting change
  src/ApiGateways/OrigoApiGateway/Dockerfile
  src/Services/Asset/Asset.API/Dockerfile
  src/Services/Customer/Customer.API/Dockerfile
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Dockerfile
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml

Removed using to fix possible bug in Sonarcloud?
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderLogDTO.cs
Due: none

Added missing entity records to DbContext
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
Due: none

Added a new base-entity class using DateTimeOffset
  src/Core/SeedWork/EntityV2.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Updated entities and their configuration
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/DeliveryAddressConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/DeliveryAddressProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220428113419_initial_ef_models.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220428113419_initial_ef_models.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceStatus.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceType.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/CustomerSettingsDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/DeliveryAddressDto.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

Corrected a missing null indicator
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/DeliveryAddressConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
Due: none

Updated models
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceTypeConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ITranslatable.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ITranslationResult.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProvider.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceStateEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceStatus.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceStatusEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceType.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceTypeEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/Status.cs
Due: none

Updated models and added additional EF configurations
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/DeliveryAddressConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceStatusConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceStateEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceStatusEnum.cs
Due: none

Fixed incorrect database mapping
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/appsettings.json
Due: none

Initial preparation of the HardwareServiceOrder entity class
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/GlobalUsings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContext.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ITranslatable.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ITranslationResult.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceType.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/Status.cs
Due: none

Fixed merge issues
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/CustomerSettingsProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/DeliveryAddressProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/CustomerSettingsDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/DeliveryAddressDto.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

Fixed a warning
  src/Core/SeedWork/EntityV2.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml
