Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Provider Factory Injected and tested
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/AssetInfoDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

build error fixed
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

ViewModelChanged and Mapped to dto. Unit testing done for mapping.
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/Location.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrder.UnitTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

refactoring
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/AssetInfo.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/OrderedByUserDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/AssetInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/ContactDetails.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/NewHardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/DeliveryAddressProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/EmailProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderResponseDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-origoapigateway.yml

minor changes
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/ContactDetailsDTO.cs
Due: none

merged with trunk
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

Hardware Service & Repo Updated for create order
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/AssetInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/OrderedByUserDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/AssetInfoDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrder.UnitTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: none

automapper fixing
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/AssetInfo.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/ServiceEvent.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/AssetInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/DeliveryAddress.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/HardwareServiceOrderResponseDTO.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/ViewModels/ServiceEvent.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/ServiceProviderEnum.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderResponseDTO.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderProfileTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrderServiceTests.cs
Due: azure-pipelines-origoapigateway.yml

HOSservice error resolved Resourcer resolved
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Resources/HardwareServiceOrder.resx
Due: none

Claim From Token Added to controller
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
Due: azure-pipelines-assets.yml

Code for extracting userId from token has taken down
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
Due: azure-pipelines-origoapigateway.yml

string UserId moved to FilterOptionsForAsset class
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/FilterOptionsForAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/FilterOptionsForAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

API gateway Unit test and Integration test resolved
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

"me" UserId setting applied for EndUser
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
Due: azure-pipelines-origoapigateway.yml

Asset FIlter By ContractHolderId implemented Unit and Integration Testing Done API gateway Updated
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

location created with the org set to primary
  src/Services/Customer/CustomerServices/DomainEvents/SetPrimaryLocationDomainEvent.cs
  src/Services/Customer/CustomerServices/Migrations/20220610180804_Rework_Location_in_customer_IsPrimary.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220610180804_Rework_Location_in_customer_IsPrimary.cs
  src/Services/Customer/CustomerServices/Models/Location.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
Due: azure-pipelines-customers.yml

Org Location reworked with multi-location
  src/Core/Enums/RecipientType.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/PartnerOrganization.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationCreatedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationDeletedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdateAddressDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdateCityDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdateCountryDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdateDescriptionDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdateLocationNameDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdatePostalCodeDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationUpdatedDomainEvent.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Migrations/20220610110710_Rework_Location_in_customer.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220610110710_Rework_Location_in_customer.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Location.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/SeedData/Seed.cs
  src/Services/Customer/CustomerServices/ServiceModels/OrganizationDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Helpers/CustomerTestDataSeedingForDatabase.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesBaseTest.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Update Migration for existing NULL Values
  src/Services/Customer/CustomerServices/Migrations/20220610110710_Rework_Location_in_customer.cs
Due: azure-pipelines-customers.yml

microservice endpoint added for get orders
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/HardwareRepairController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/IHardwareServiceOrderService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/IHardwareServiceOrderRepository.cs
Due: none

gateway endpoint added
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareRepairController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
Due: azure-pipelines-origoapigateway.yml

Endpoints for Multi 'Office Locations'
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/LocationProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/OfficeLocationDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Location.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OfficeLocation.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Organization.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Mappings/LocationProfile.cs
  src/Services/Customer/Customer.API/WriteModels/NewLocation.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationAddedToCustomerDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/LocationRemovedToCustomerDomainEvent.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Mappings/LocationProfile.cs
  src/Services/Customer/CustomerServices/Models/Location.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
  src/Services/Customer/CustomerServices/ServiceModels/LocationDTO.cs
  src/Services/Customer/CustomerServices/ServiceModels/NewLocationDTO.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/OrganizationsControllerTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationEncryptionTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/PartnerServicesTests.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Pubsub added for user deleted event
  src/Services/Asset/Asset.API/Controllers/UserController.cs
  src/Services/Customer/CustomerServices/CustomerServices.csproj
  src/Services/Customer/CustomerServices/UserServices.cs
  tye.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

User deleted pubsub implemented
  OrigoDomainServices.sln
  src/Services/Asset/Asset.API/Controllers/UserController.cs
  src/Services/Asset/Asset.API/Startup.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/UserControllerTests.cs
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  subscriptions.yaml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Pub sub for delete user. Add try catch
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-customers.yml

minor changes
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
Due: none

Integration tests added
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/HardwareServiceOrderProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/ServiceEventProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
Due: none

Deleted existing migrations
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220422141833_Initial.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220422141833_Initial.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220428113419_initial_ef_models.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220428113419_initial_ef_models.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220513163459_CreatedByUser.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220513163459_CreatedByUser.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220516105347_DeliveryAddressAsOwned.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220516105347_DeliveryAddressAsOwned.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220517001931_HardwareServiceOrderCustomerId.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220517001931_HardwareServiceOrderCustomerId.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220518133807_fixed_ExternalServiceManagementLink_naming.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220518133807_fixed_ExternalServiceManagementLink_naming.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220519132316_HardwareEmailNotification.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220519132316_HardwareEmailNotification.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220523074539_ServiceStatusAndTypeDataSeeding.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220523074539_ServiceStatusAndTypeDataSeeding.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220523223237_OrderCanceledEmail.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220523223237_OrderCanceledEmail.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220602134448_CustomerServiceProviderMapping.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220602134448_CustomerServiceProviderMapping.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220603084445_customer_settings_update.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220603084445_customer_settings_update.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220603095713_added_temporal_tables.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220603095713_added_temporal_tables.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220603100125_fixed_default_values.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220603100125_fixed_default_values.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220609075013_added_service_events.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220609075013_added_service_events.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/HardwareServiceOrderContextModelSnapshot.cs
Due: none

Added new initial migration
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220613114746_initial.Designer.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/20220613114746_initial.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Migrations/HardwareServiceOrderContextModelSnapshot.cs
Due: none

Added endpoint for counting assets and resolved comments from latest pr
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAssetCounter.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoAssetCounterDepartment.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/OrigoCustomerAssetsCounter.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/ViewModels/AssetCounter.cs
  src/Services/Asset/Asset.API/ViewModels/AssetCounterDepartment.cs
  src/Services/Asset/Asset.API/ViewModels/CustomerAssetsCounter.cs
  src/Services/Asset/Asset.API/ViewModels/FilterOptionsForAsset.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetCounter.cs
  src/Services/Asset/AssetServices/ServiceModel/AssetCounterDepartment.cs
  src/Services/Asset/AssetServices/ServiceModel/CustomerAssetsCounterDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Renamed service methods to async
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/DepartmentsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/DepartmentsServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IDepartmentsServices.cs
Due: azure-pipelines-origoapigateway.yml

made additinal changes based on comments on last pr
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

added method removed from asset service
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Response/OrigoHardwareServiceOrderDetail.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IHardwareRepairService.cs
Due: azure-pipelines-origoapigateway.yml

taking asset info from asset microservice
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Backend/Request/NewHardwareServiceOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/HardwareServiceOrder/Frontend/Request/NewHardwareServiceOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/HardwareRepairService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Mappings/HardwareServiceOrderProfile.cs
Due: azure-pipelines-origoapigateway.yml

Transactional and EoL check
  src/Services/Asset/AssetServices/AssetServices.cs
Due: azure-pipelines-assets.yml

"return-device" functionality and endpoints
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ReturnDeviceDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserPermissionService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/Asset.API/Mappings/EndOfLifeMappings.cs
  src/Services/Asset/Asset.API/ViewModels/ReturnDevice.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/ConfirmReturnDeviceDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/EndOfLifeCycleEvents/MakeReturnRequestDomainEvent.cs
  src/Services/Asset/AssetServices/Exceptions/ReturnDeviceRequestException.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/ServiceModel/ReturnDeviceDTO.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Customer/Customer.API/Controllers/UserPermissionsController.cs
  src/Services/Customer/CustomerServices/IUserPermissionServices.cs
  src/Services/Customer/CustomerServices/UserPermissionServices.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Builder configuration added for sqlite for unit testing
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/Controllers/HardwareRepairControllerTests.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrderWebApplicationFactory.cs
Due: none

map asset holder name and department name in post and get
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Customersettings should be created when queried for if not exists
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/IAssetLifecycleRepository.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml

Refactoring
  src/Core/SeedWork/EntityV2.cs
  src/Core/Seedwork/Auditable.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Controllers/TestController.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Email/EmailService.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/CustomerSettingsConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/HardwareServiceOrderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceProviderConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceStatusConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/EntityConfiguration/ServiceTypeConfiguration.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderContextFactory.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/HardwareServiceOrderRepository.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Infrastructure/SaveContextChangesInterceptor.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Mappings/EmailProfile.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/HardwareServiceOrder.cs
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/EmailProfileTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Reworked the common models
  src/Core/SeedWork/EntityV2.cs
  src/Core/Seedwork/Auditable.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml
