Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

OperatorAccount renaming
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferFromPrivateToBusinessSubscriptionOrder.cs
  src/Services/Customer/Customer.API/Properties/launchSettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewOperatorAccountRequested.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewOperatorAccountRequestedDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: azure-pipelines-customers.yml

minor changes
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateToBusinessSubscriptionOrder .cs
Due: none

Added logging db context for subscription management and domain events for Customer settings
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerOperatorSettingsAddedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerOperatorSettingsRemovedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerReferenceFieldAddedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerReferenceFieldRemovedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerSettingsCreatedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerSubscriptionProductAddedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerSubscriptionProductdRemovedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/DatapackagesAddedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/LoggingContextFactory.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/LoggingDb/20220224075826_intital.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/LoggingDb/20220224075826_intital.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/LoggingDb/LoggingDbContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ICustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Add logging migrations to pipeline
  azure-pipelines-subscriptionmanagement.yml
Due: azure-pipelines-subscriptionmanagement.yml

NewOperatorAccount is optional now
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewOperatorAccountRequested.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferFromPrivateToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewOperatorAccountRequestedDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateToBusinessSubscriptionOrderDTO.cs
Due: none

initial commit for single endpoint for all kinds of transfer
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/BusinessSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/PrivateSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/TransferToBusinessSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/BusinessSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Datapackage.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionAddOnProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/BusinessSubscriptionDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateSubscriptionDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Fixed expression which lead to not finding the right product and fixed deleting datapackages for non global products
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
Due: none

changing models
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/BusinessSubscriptionConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/PrivateSubscriptionConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/TransferToBusinessSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/BusinessSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Datapackage.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionAddOnProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

migration recreated
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/BusinessSubscription.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/LoggingContextFactory.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/BusinessSubscriptionProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/PrivateSubscriptionProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToBusinessSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220224102219_Initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220224123931_NewOperatorAccountChange.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220225131322_Initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220225131322_Initial.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/BusinessSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/BusinessSubscriptionDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/PrivateSubscriptionDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

transfer to b 2 p
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferToPrivateSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/TransferToPrivateSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToPrivateSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220225151012_BtoP.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220225151012_BtoP.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToPrivateSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Update all projects to dotnet 6 and upgrade nugets
  src/ApiGateways/OrigoApiGateway/Dockerfile
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Boilerplate.EntityFramework.UnitTest.csproj
  src/Boilerplate/Boilerplate.EntityFramework/Boilerplate.EntityFramework.csproj
  src/Core/Common.csproj
  src/Services/Asset/Asset.API/Asset.API.csproj
  src/Services/Asset/Asset.API/Dockerfile
  src/Services/Asset/AssetServices/AssetServices.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Customer/Customer.API/Customer.API.csproj
  src/Services/Customer/Customer.API/Dockerfile
  src/Services/Customer/CustomerServices/CustomerServices.csproj
  src/Services/Customer/CustomerServices/Models/LitiumOrganization.cs
  src/Services/Customer/CustomerServices/Models/LitiumOrganizationRole.cs
  src/Services/Customer/CustomerServices/Models/LitiumPerson.cs
  src/Services/Customer/CustomerServices/OktaServices.cs
  src/Services/Customer/CustomerServices/WebshopService.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  src/Services/SubscriptionManagement/SubscriptionManagement.API/SubscriptionManagement.API.csproj
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToPrivateSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests.csproj
  update-baseimage.ps1
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Incorrect baseimage name
  src/Services/Customer/Customer.API/Dockerfile
Due: azure-pipelines-customers.yml

Incorrect final base image
  src/ApiGateways/OrigoApiGateway/Dockerfile
  src/Services/Asset/Asset.API/Dockerfile
  src/Services/Customer/Customer.API/Dockerfile
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml

Add migration
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220227234155_customerSettingUpdate.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220227234155_customerSettingUpdate.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTO.cs
Due: none

Add subscription order endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoSubscriptionOrderListItem.cs
Due: none

Fix JsonSerializerOptions for OktaServices and WebshopService
  src/Services/Customer/CustomerServices/OktaServices.cs
  src/Services/Customer/CustomerServices/WebshopService.cs
Due: azure-pipelines-customers.yml

Added new fields required in subscription order overview
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoSubscriptionOrderListItem.cs
Due: none

Fixed 500 error frontend recived and added mapping model for response for frontend. Allowing Simcard being null on model and in db
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoTransferToBusinessSubscriptionOrder.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToBusinessSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220228141232_AllowNullForSimCard.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220228141232_AllowNullForSimCard.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToBusinessSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

Added caller id to add operators
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/NewOperatorListDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewOperatorList.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
Due: none

Fix problems with customer subscription products
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ICustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
Due: none

Add migration
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220301121915_cascadeDeleteCustomerSubscriptionProduct.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220301121915_cascadeDeleteCustomerSubscriptionProduct.cs
Due: none

initial commit
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Program.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/IEmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Added fix for model and added number and allowed null for email for trensefer subscription order
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToPrivateSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220301124701_AllowNullEmailAndAddedMobileNumber_TransferPrivateOrder.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220301124701_AllowNullEmailAndAddedMobileNumber_TransferPrivateOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/PrivateSubscription.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToPrivateSubscriptionOrderDTO.cs
Due: none

Removed the deprecated module endpoint from the customer micro-service
  src/Services/Customer/Customer.API/Controllers/ModulesController.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/Startup.cs
  src/Services/Customer/Customer.API/ViewModels/ProductModule.cs
  src/Services/Customer/Customer.API/ViewModels/ProductModuleGroup.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateProductModule.cs
  src/Services/Customer/CustomerServices/DomainEvents/ProductModuleAddedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/ProductModuleGroupAddedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/ProductModuleGroupRemovedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/ProductModuleRemovedDomainEvent.cs
  src/Services/Customer/CustomerServices/IModuleServices.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/CustomerContext.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Migrations/20220301131057_Removed modules.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220301131057_Removed modules.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/Models/ProductModule.cs
  src/Services/Customer/CustomerServices/Models/ProductModuleGroup.cs
  src/Services/Customer/CustomerServices/ModuleServices.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

Removed the deprecated module functionality (from "customer" microservice) from the gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ModulesController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewCustomerProductModuleDtoProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ModuleDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/ModuleGroupDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewCustomerProductModuleDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewCustomerProductModule.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoProductModule.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoProductModuleGroup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IModuleServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ModuleConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ModuleServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
Due: none

testing done
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/IEmailService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

minor changes
  src/Services/SubscriptionManagement/SubscriptionManagement.API/appsettings.json
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailService.cs
Due: none

Removed the scrapped asset category implementation that existed in the "Customer" microservice
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/NewCustomerAssetCategoryTypeDtoProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/BackendDTO/NewCustomerAssetCategoryTypeDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewCustomerAssetCategoryType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoAssetCategoryLifecycleType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoCustomerAssetCategoryType.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
  src/Services/Customer/Customer.API/Controllers/OrganizationsController.cs
  src/Services/Customer/Customer.API/ViewModels/AssetCategoryLifecycleType.cs
  src/Services/Customer/Customer.API/ViewModels/AssetCategoryType.cs
  src/Services/Customer/Customer.API/ViewModels/UpdateAssetCategoryType.cs
  src/Services/Customer/Customer.API/docker-build.bat
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryAddedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryRemovedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryTypeCreatedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryTypeDeletedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryTypeUpdatedAssetCategoryIdDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryTypeUpdatedAssetCustomerIdDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetCategoryTypeUpdatedLifecycleTypesDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetLifecycleSettingAddedDomainEvent.cs
  src/Services/Customer/CustomerServices/DomainEvents/AssetLifecycleSettingRemovedDomainEvent.cs
  src/Services/Customer/CustomerServices/IOrganizationServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/CustomerContext.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Migrations/20220301145950_Removed deprecated asset category implementation.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20220301145950_Removed deprecated asset category implementation.cs
  src/Services/Customer/CustomerServices/Models/AssetCategoryLifecycleType.cs
  src/Services/Customer/CustomerServices/Models/AssetCategoryType.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/Organization.cs
  src/Services/Customer/CustomerServices/OrganizationServices.cs
Due: azure-pipelines-customers.yml

email config fixed
  src/Services/SubscriptionManagement/SubscriptionManagementServices/EmailService.cs
Due: none

Add order log backend
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/SubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/SubscriptionOrderListItemDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none

Include name of person for order
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
Due: none

Read user name information of createdby user
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
Due: none

Added Connected Organization Number and fixed not adding CustomerOperatorSettings when there is non
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewOperatorAccount.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/OrigoCustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/NewOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerOperatorSettingsConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302093308_Added_ConnectedOrganizationNumber_For_CustomerOperatorAccount.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302093308_Added_ConnectedOrganizationNumber_For_CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerOperatorAccountDTO.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
Due: none

ORder changes
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToBusinessSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
Due: none

Added change subscription order model
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
Due: none

Added migration for the table and added additional change to model
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/ChangeSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302132515_Add_ChangeSubscriptionOrder_Table.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302132515_Add_ChangeSubscriptionOrder_Table.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
Due: none

No FK should be used in Orders. Shoul save as plaintext instead.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/SubscriptionManagement/SubscriptionOrdersProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/TransferToBusinessSubscriptionOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Backend/Request/TransferToPrivateSubscriptionOrderDTO.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/ViewModels/TransferSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/TransferToBusinessSubscriptionOrderConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToBusinessSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/TransferToPrivateSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220225131322_Initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220225151012_BtoP.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220225151012_BtoP.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220227234155_customerSettingUpdate.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220227234155_customerSettingUpdate.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220228141232_AllowNullForSimCard.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220228141232_AllowNullForSimCard.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220301121915_cascadeDeleteCustomerSubscriptionProduct.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220301121915_cascadeDeleteCustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220301124701_AllowNullEmailAndAddedMobileNumber_TransferPrivateOrder.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220301124701_AllowNullEmailAndAddedMobileNumber_TransferPrivateOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302093308_Added_ConnectedOrganizationNumber_For_CustomerOperatorAccount.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302130637_initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302130637_initial.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/Datapackage.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToPrivateSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/TransferToPrivateSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceTests.cs
Due: none

added new migrations
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302150216_initial.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20220302150216_initial.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/SubscriptionManagementContextModelSnapshot.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/TransferToBusinessSubscriptionOrder.cs
Due: none

Added enpoint in backend and domain event for creating a change subscription order.
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/ChangeSubscriptionOrderCreatedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ISubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/ChangeSubscriptionOrderProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ISubscriptionManagementRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/ChangeSubscriptionOrderDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewChangeSubscriptionOrder.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementService.cs
Due: none
