Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement

Added the most common calls towards Conmodo's APIs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiRequests.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/appsettings.json
Due: none

Added JSON serializer converters for DateOnly and TimeOnly
  src/Core/Converters/DateOnlyConverter.cs
  src/Core/Converters/TimeOnlyConverter.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-subscriptionmanagement.yml

Changed isPersonal when assigning/unassigning an asset
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

Added assignment for a department in patch
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssignAsset.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Asset/AssignAssetToUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/UnAssignDepartmentAssetLifecycleDomainEvent.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Changed IsPersonal to private
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
Due: azure-pipelines-assets.yml

CodeCoverage also in Sonarcloud. Nuget update
  src/ApiGateways/OrigoApiGateway/Dockerfile
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/Services/Asset/Asset.API/Dockerfile
  src/Services/Customer/Customer.API/Dockerfile
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Dockerfile
  src/Services/ProductCatalog/ProductCatalog.API/Dockerfile
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Dockerfile
  src/Services/SubscriptionManagement/SubscriptionManagementServices/SubscriptionManagementServices.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml

added some improvments for asset log
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/AssignAssetToAssetLifeCycleDomainEvent.cs
  src/Services/Asset/AssetServices/DomainEvents/AssetLifecycleEvents/AssignContractHolderToAssetLifeCycleDomainEvent.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/AssetServices/Models/Label.cs
Due: azure-pipelines-assets.yml

Fixed wrong in DB connection string
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/appsettings.json
Due: none

Registered Json (de)serializes for DateOnly and TimeOnly
  src/Services/HardwareServiceOrder/HardwareServiceOrder.API/Program.cs
Due: none

Updated model information
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/Contact.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/ProductInfo.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/ApiModels/StartStatus.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Models/CustomerSettings.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/ServiceModels/HardwareServiceOrderDTO.cs
Due: none

Added Conmodo mapping classes
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Mappings/CategoryMapper.cs
  src/Services/HardwareServiceOrder/HardwareServiceOrderServices/Conmodo/Mappings/StartStatusMapper.cs
Due: none

Change code coverage output format in Asset
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Changed attribute name from CategoryLifeCycleSetting to CategoryLifeCycleSettings
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/NewLifeCycleSetting.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Pipeline simplifications and code coverage adjustments
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  azure-pipelines-hardware-service-order.yml
  azure-pipelines-origoapigateway.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
  general-build.yaml
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Adjust coverlet params
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Refactoring of assignment of an asset life cycle
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/Services/Asset/Asset.API/Controllers/AssetsController.cs
  src/Services/Asset/AssetServices/AssetServices.cs
  src/Services/Asset/AssetServices/IAssetServices.cs
  src/Services/Asset/AssetServices/Infrastructure/AssetLifecycleRepository.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Helpers/AssetTestDataSeedingForDatabase.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetBaseTest.cs
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServicesTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-origoapigateway.yml

Update nuget. Add coverlet.msbuild nuget
  Common.UnitTests/Common.UnitTests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/OrigoApiGateway.Tests.csproj
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/OrigoApiGateway.csproj
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/OrigoGateway.IntegrationTests.csproj
  src/Boilerplate/Boilerplate.EntityFramework.UnitTest/Boilerplate.EntityFramework.UnitTest.csproj
  src/Services/Asset/Asset.API/Dockerfile
  src/Services/Asset/Tests/Asset.IntegrationTests/Asset.IntegrationTests.csproj
  src/Services/Asset/Tests/AssetServices.UnitTests/AssetServices.UnitTests.csproj
  src/Services/Customer/Tests/Customer.API.Tests/Customer.API.IntegrationTests.csproj
  src/Services/Customer/Tests/CustomerServices.UnitTests/CustomerServices.UnitTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.IntegrationTests/HardwareServiceOrder.IntegrationTests.csproj
  src/Services/HardwareServiceOrder/Tests/HardwareServiceOrder.UnitTests/HardwareServiceOrder.UnitTests.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.IntegrationTests/ProductCatalog.IntegrationTests.csproj
  src/Services/ProductCatalog/Tests/ProductCatalog.UnitTests/ProductCatalog.UnitTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagement.IntegrationTests.csproj
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagement.UnitTests.csproj
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml

Remove sonarscanner param
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Fixed bug rapported by sonarcloud
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
Due: azure-pipelines-assets.yml

Change sonarscanner parameters and coverlet output
  azure-pipelines-assets.yml
  general-build.yaml
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Remove branch param
  azure-pipelines-assets.yml
  general-build.yaml
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Multiple coverage report types
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Removed output format
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Change paths for coverage file
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

reporttype changes
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Cobertura change
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Path change
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Remove fixed cobertura filename
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Copied source files
  general-build.yaml
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Remove git test
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

End sonarscanner after publish
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Change sonarscanner end
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

/assets/customers/{organizationId}/search endpoint removed. /assets/customers/{organizationId} will be used for asset search
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/AssetServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IAssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Remove scm setting
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Coverage changes
  general-build.yaml
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Add PR params to sonarcloud
  azure-pipelines-assets.yml
  general-build.yaml
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Missing line markers
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Add extra PR params only when a PR is running
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Syntax error in docker
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml

Adjust dockerfile
  src/Services/Asset/Asset.API/Dockerfile
Due: azure-pipelines-assets.yml
