Repository arafat1216/OrigoBackendServices: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

azure-pipelines-assets.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: AssetsContext
        dbProject: src/Services/Asset/AssetServices/AssetServices.csproj
  ...

azure-pipelines-customers.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: CustomerContext
        dbProject: src/Services/Customer/CustomerServices/CustomerServices.csproj
  ...

azure-pipelines-hardware-service-order.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: HardwareServiceOrderContext
        dbProject: src/Services/HardwareServiceOrder/HardwareServiceOrderServices/HardwareServiceOrderServices.csproj
  ...

azure-pipelines-origoapigateway.yml:
  stages:
  - stage: Build
    displayName: Build stage
    variables:
    - group: OrigoApiGateway
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NuGetAuthenticate@0
        displayName: Authenticating with internal NuGet package-feeds
  ...

azure-pipelines-productcatalog.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: general-build.yaml
      parameters:
        vmImage: ubuntu-latest
        dbContext: ProductCatalogContext
        dbProject: src/Services/ProductCatalog/ProductCatalog.Infrastructure/ProductCatalog.Infrastructure.csproj
  ...

azure-pipelines-subscriptionmanagement.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: MigrationScripts
      displayName: Migration scripts
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 6.0
        inputs:
          packageType: sdk
          version: 6.0.x
  ...

Fixed a incorrect API method
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsBackofficeController.cs
Due: azure-pipelines-origoapigateway.yml

Error handling in Customer/ServiceOrder gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomerReferenceFieldController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/DepartmentsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceBackofficeController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/HardwareServiceCustomerController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Filters/ErrorExceptionFilter.cs
Due: azure-pipelines-origoapigateway.yml

Added customer standard business subscription product in Sub man db
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/EntityConfiguration/CustomerStandardBusinessSubscriptionProductConfiguration.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/SubscriptionManagementContext.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20221108114557_customer_standard_business_subscription_product.Designer.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Migrations/20221108114557_customer_standard_business_subscription_product.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerStandardBusinessSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/SubscriptionAddOnProduct.cs
Due: none

Fixed a bug where the page size was not set correctly
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/AssetServices.cs
Due: azure-pipelines-origoapigateway.yml

Added search for user
  src/Services/Customer/Customer.API/Controllers/UsersController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/UserSearchParameters.cs
  src/Services/Customer/CustomerServices/UserServices.cs
Due: azure-pipelines-customers.yml

Changed class to record, and changed a setter to be init only
  src/Services/Customer/CustomerServices/Models/UserSearchParameters.cs
Due: azure-pipelines-customers.yml

Added new unit-tests, and moved existing ones so it matches the project and auto-generation structure
  src/Services/Customer/Tests/CustomerServices.UnitTests/Infrastructure/OrganizationRepositoryTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationRepositoryTests.cs
Due: azure-pipelines-customers.yml

Added global usings
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/DepartmentTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/EmailServiceTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/GlobalUsings.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OktaServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationEncryptionTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/OrganizationServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/PartnerServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UnitTestDatabaseSeeder.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserPermissionsTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/UserServicesTests.cs
  src/Services/Customer/Tests/CustomerServices.UnitTests/WebshopServiceTests.cs
Due: azure-pipelines-customers.yml

Seeding CanCreateUsers permission and adding it to given roles
  src/Services/Customer/CustomerServices/Infrastructure/Context/ModelBuilderExtensions.cs
  src/Services/Customer/CustomerServices/Migrations/20221104101049_UserPermission_CanCreateUsers.Designer.cs
  src/Services/Customer/CustomerServices/Migrations/20221104101049_UserPermission_CanCreateUsers.cs
Due: azure-pipelines-customers.yml

Add new SCIM models
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ScimController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/Email.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/Group.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ListResponse.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/MetaData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/NameData.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/PhoneNumber.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/Resource.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ScimResponse.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/User.cs
Due: azure-pipelines-origoapigateway.yml

Automatic promotion for Assets Microservice
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Changed deploy stage name
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Update cron time
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Update cron time again
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Added endpoints get, post and delete for standard business subscription product
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Request/NewStandardBusinessSubscriptionProduct.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SubscriptionManagement/Frontend/Response/OrigoCustomerStandardBusinessSubscriptionProduct.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ISubscriptionManagementService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/SubscriptionManagementService.cs
  src/Services/SubscriptionManagement/SubscriptionManagement.API/Controllers/SubscriptionManagementController.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/CustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerStandardBusinessSubscriptionProductAddedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/DomainEvents/CustomerStandardBusinessSubscriptionProductRemovedDomainEvent.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ICustomerSettingsService.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Infrastructure/CustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Mappings/CustomerStandardBusinessSubscriptionProductProfile.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerOperatorSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerSettings.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/CustomerStandardBusinessSubscriptionProduct.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/Models/ICustomerSettingsRepository.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/CustomerStandardBusinessSubscriptionProductDTO.cs
  src/Services/SubscriptionManagement/SubscriptionManagementServices/ServiceModels/NewCustomerStandardBusinessSubscriptionProduct.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/Controllers/SubscriptionManagementControllerTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.IntegrationTests/SubscriptionManagementWebApplicationFactory.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/CustomerSettingsTests.cs
  src/Services/SubscriptionManagement/Tests/SubscriptionManagement.UnitTests/SubscriptionManagementServiceBaseTests.cs
Due: azure-pipelines-origoapigateway.yml

Added tests in the gateway and documentation on the gateway endpoints
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/SubscriptionManagementServiceTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/CustomersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

asset 'ExpiresSoon' even after already expired
  src/Core/Extensions/GuidExtension.cs
  src/Services/Asset/AssetServices/Models/AssetLifecycle.cs
  src/Services/Asset/Tests/Asset.IntegrationTests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-subscriptionmanagement.yml

Added unit tests
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersBackofficeControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Added the updated appsettings
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
Due: azure-pipelines-origoapigateway.yml

Removed unused parameters
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersBackofficeController.cs
Due: azure-pipelines-origoapigateway.yml

Removed a try-finally
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
Due: azure-pipelines-origoapigateway.yml

Added advanced-search options to the API gateway
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/Customer/Backend/UserSearchParameters.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IUserServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/UserServices.cs
Due: azure-pipelines-origoapigateway.yml

Added the new controller and quicksearch API
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersBackofficeController.cs
Due: azure-pipelines-origoapigateway.yml

Add change dates for SCIM output
  src/Services/Customer/Customer.API/ViewModels/User.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserDTO.cs
  tye.yaml
Due: azure-pipelines-customers.yml

Comment out running customer datasync project in tye.
  tye.yaml
Due: none

Revert adding create and update filed to user viewmodel
  src/Services/Customer/Customer.API/ViewModels/User.cs
Due: azure-pipelines-customers.yml

Add common variable group name to gateway.
  azure-pipelines-origoapigateway.yml
Due: azure-pipelines-origoapigateway.yml

Add automatic deployment to Test for scheduled builds
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  azure-pipelines-hardware-service-order.yml
  azure-pipelines-origoapigateway.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Added can create user to create user endpoint
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Authorization/Permission.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/UsersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/UsersControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Added organization ID to the user DTO
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/OrigoUser.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/ServiceModels/UserDTO.cs
Due: azure-pipelines-customers.yml, azure-pipelines-origoapigateway.yml

Added unit test
  src/Services/Customer/Tests/CustomerServices.UnitTests/Infrastructure/OrganizationRepositoryTests.cs
Due: azure-pipelines-customers.yml

Chat script fetch from backend trial
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ChatWebHook.cs
Due: azure-pipelines-origoapigateway.yml

Adjust pipeline for automatic scheduled deployment
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Update Cron time
  azure-pipelines-assets.yml
Due: azure-pipelines-assets.yml

Add conditions to stages to ensure scheduled promotions to Test are done
  azure-pipelines-assets.yml
  azure-pipelines-customers.yml
  azure-pipelines-hardware-service-order.yml
  azure-pipelines-origoapigateway.yml
  azure-pipelines-productcatalog.yml
  azure-pipelines-subscriptionmanagement.yml
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-productcatalog.yml, azure-pipelines-subscriptionmanagement.yml

Add support for CountryCode search in Techstep Core.
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/CustomerServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/CustomersController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ICustomerServices.cs
Due: azure-pipelines-origoapigateway.yml

Remove default CountryCode from httpclient
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: azure-pipelines-origoapigateway.yml

Adjust header settings in Core request
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/CustomerServicesTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/CustomerServices.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
Due: azure-pipelines-origoapigateway.yml

Get assets for manager with /userId=me returnes only own assets
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/AssetsController.cs
  src/ApiGateways/OrigoApiGateway/OrigoGateway.IntegrationTests/Controllers/AssetControllerTests.cs
Due: azure-pipelines-origoapigateway.yml

Added CRUD operations for Scim Users
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway.Tests/Mappings/ScimUserProfileTests.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Controllers/ScimController.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Mappings/ScimUserProfile.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/Resource.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ScimUser.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Models/SCIM/ScimUserNotFound.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/IScimService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ScimConfiguration.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Services/ScimService.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/Startup.cs
  src/ApiGateways/OrigoApiGateway/OrigoApiGateway/appsettings.json
  src/Core/Extensions/DataPaginationExtension.cs
  src/Services/Customer/Customer.API/Controllers/ScimController.cs
  src/Services/Customer/CustomerServices/IUserServices.cs
  src/Services/Customer/CustomerServices/Infrastructure/OrganizationRepository.cs
  src/Services/Customer/CustomerServices/Models/IOrganizationRepository.cs
  src/Services/Customer/CustomerServices/UserServices.cs
  src/Services/Customer/Tests/Customer.API.Tests/Controllers/ScimControllerTests.cs
Due: azure-pipelines-assets.yml, azure-pipelines-customers.yml, azure-pipelines-hardware-service-order.yml, azure-pipelines-origoapigateway.yml, azure-pipelines-subscriptionmanagement.yml

Path conditions:
  azure-pipelines-assets.yml: any of: azure-pipelines-assets.yml, charts/asset-api, src/Core, src/Services/Asset
  azure-pipelines-customers.yml: any of: azure-pipelines-customers.yml, charts/customer-api, src/Core, src/Services/Customer
  azure-pipelines-hardware-service-order.yml: any of: azure-pipelines-hardware-service-order.yml, src/Core, charts/hardware-service-order-api, src/Services/HardwareServiceOrder
  azure-pipelines-origoapigateway.yml: any of: azure-pipelines-origoapigateway.yml, charts/origoapigateway, src/ApiGateways
  azure-pipelines-productcatalog.yml: any of: azure-pipelines-productcatalog.yml, charts/product-catalog-api, src/Boilerplate/Boilerplate.EntityFramework, src/Boilerplate/Boilerplate.EntityFramework.UnitTest, src/Services/ProductCatalog
  azure-pipelines-subscriptionmanagement.yml: any of: azure-pipelines-subscriptionmanagement.yml, src/Core, charts/subscriptionmanagement-api, src/Services/subscriptionmanagement
